{% extends "MMIBundle::template.html.twig" %}

{% block title %}Gestion du compte{% endblock %}

{% block includeHead %}
    <script src="{{ asset('js/form_regex.js') }}"></script>
{% endblock %}

{% block bodyClass %}account{% endblock %}

{% block header %}{% endblock %}

{% block headerExtended %}{% endblock %}

{% block content %}
    <main class="manage_account">
        <h1>Gestion du compte</h1>
        {% if result is defined %}{{ result }}{% endif %}
        <section class="wrapper">
            <section>

                {# Modification de l'email #}
                {{ form_start(modifyEmail,
                {"attr": {
                    "class": "verif_regex"}}) }}
                <h2 class="dark">Adresse email</h2>
                {{ form_widget(modifyEmail.email,
                {"attr": {
                    "class": "big verif",
                    "data-regex": "email"}}) }}
                <button type="submit" class="big grey">Modifier</button>
                {{ form_rest(modifyEmail) }}
                {{ form_end(modifyEmail) }}

                {# Modification du mot de passe #}
                {{ form_start(modifyPassword,
                {"attr": {
                    "class": "verif_regex"}}) }}
                <h2 class="dark">Mot de passe</h2>
                {{ form_widget(modifyPassword.pass1,
                {"attr": {
                    "class": "big verif"}}) }}
                {{ form_widget(modifyPassword.pass2,
                {"attr": {
                    "class": "big verif"}}) }}
                {{ form_widget(modifyPassword.pass3,
                {"attr": {
                    "class": "big verif"}}) }}
                <button type="submit" class="big grey">Modifier</button>
                {{ form_rest(modifyPassword) }}
                {{ form_end(modifyPassword) }}

            </section>
            <section>

                {# Toggle newsletter #}
                {{ form_start(toggleNewsletter) }}
                <h2 class="dark">Newsletter</h2>
                {{ form_rest(toggleNewsletter) }}
                {{ form_end(toggleNewsletter) }}

                {# Supprimer compte #}
                {{ form_start(deleteUser,
                {"attr": {
                    "class": "verif_regex"}}) }}
                <h2 class="dark">Suppression du compte</h2>
                {{ form_widget(deleteUser.password,
                {"attr": {
                    "class": "big verif",
                    "placeholder": "Confirmation du mot de passe"}}) }}
                <button type="submit" class="big">Supprimer mon compte</button>
                {{ form_rest(deleteUser) }}
                {{ form_end(deleteUser) }}

            </section>
        </section>
    </main>
{% endblock %}

{% block includeBody %}
    <script src="{{ asset("js/menu.js") }}"></script>
{% endblock %}
