{% extends "MMIBundle::template.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block includeHead %}
    <script src="{{ asset('js/form_regex.js') }}"></script>
{% endblock %}

{% block bodyClass %}home{% endblock %}

{% block header %}class="home"{% endblock %}

{% block headerExtended %}
    <div id="caroussel" class="caroussel">
        <img src="{{ asset("ui_img/home_01.jpg") }}" alt="">
        <img src="{{ asset("ui_img/home_02.jpg") }}" alt="">
        <img src="{{ asset("ui_img/home_03.gif") }}" alt="">
        <img src="{{ asset("ui_img/home_04.jpg") }}" alt="">
        <img src="{{ asset("ui_img/home_05.jpg") }}" alt="">
        <img src="{{ asset("ui_img/home_06.jpg") }}" alt="">
    </div>
    <div id="caroussel_text" class="caroussel_text">
        <div class="home">
            <h2>Nous sommes<span class="super_title">&nbsp;&nbsp;&nbsp;&nbsp;331</span></h2>

            <p style="margin-left: 100px; width: 300px">Construis ton avenir avec 331, La communauté des anciens
                étudiants de MMi Montbéliard</p>
        </div>
        <div class="home">
            <h2 class="dark"><span class="super_title">Participe</span> aux événements de la communauté</h2>
        </div>
        <div class="home">
            <h2>Profite d'un grand<span class="super_title">Réseau</span></h2>

            <p style="margin-left: 30%;">de professionnels et d’étudiants</p>
        </div>
        <div class="home">
            <h2>Trouve ton<span class="super_title">Stage</span></h2>

            <p style="margin-left: 55%">ou un emploi grâce aux offres de nos partenaires</p>
        </div>
        <div class="home">
            <h2>Lance ton<span class="super_title">Projet</span></h2>

            <p style="margin: -40px 0 0 50%">grâce à l’incubateur</p>
        </div>
        <div class="home">
            <h2 class="">Trouve la formation et le<span class="super_title">Métier</span></h2>

            <p class="" style="margin: -50px 0 0 30%">de tes rêves</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main>
        {% if account is not defined %}
            <section class="wrapper">
                <article class="log">
                    <h1 class="right">S'inscrire</h1>

                    {{ form_start(register,
                    {"attr": {
                        "class": "verif_regex"}}) }}
                    {{ form_widget(register.firstname,
                    {"attr": {
                        "class": "big right verif",
                        "data-regex": "nom"}}) }}
                    {{ form_widget(register.lastname,
                    {"attr": {
                        "class": "big right verif",
                        "data-regex": "nom"}}) }}
                    {{ form_widget(register.email,
                    {"attr": {
                        "class": "big right verif",
                        "data-regex": "email"}}) }}
                    {{ form_widget(register.password,
                    {"attr": {
                        "class": "big right verif"}}) }}
                    <button type="submit" name="submit" class="big right">S'inscrire</button>
                    {{ form_rest(register) }}
                    {{ form_end(register) }}

                    <a href="{{ path("mmi_pros") }}" style="display: block; margin-top: 30px; float: right">Vous êtes
                        une entreprise
                        ?</a>
                </article>
                <article class="log" id="login">
                    <h1>Se connecter</h1>

                    {{ form_start(connection,
                    {"attr": {
                        "class": "verif_regex"}}) }}
                    {{ form_widget(connection.email,
                    {"attr": {
                        "class": "big verif",
                        "data-regex": "email"}}) }}
                    {{ form_widget(connection.password,
                    {"attr": {
                        "class": "big verif"}}) }}
                    <button type="submit" name="submit" class="big">Se connecter</button>
                    {{ form_rest(connection) }}
                    {{ form_end(connection) }}

                    <!--<h4>Ou encore plus rapide !</h4>
                    <button class="big white" type="button" style="margin-top: 20px; margin-right: 10px">Facebook</button>
                    <button class="big white" type="button" style="margin-top: 20px">LinkedIn</button>-->
                </article>
            </section>
        {% endif %}
        <section class="illustration">
            <h1 class="quarter">Avec <span class="blue">331</span>&nbsp;:</h1>

            <section class="wrapper">
                <img src="{{ asset("ui_img/drawing_home_01.svg") }}" alt="Améliorez votre visibilité">
                <div class="droite">
                    <h2><span>Rejoins</span> notre communauté d'étudiants et d'anciens</h2>
                    <p>Consulte leur profils et leur témoignages</p>
                </div>
            </section>
            <section class="wrapper">
                <div class="gauche">
                    <h2><span>Profite</span> d'un précieux réseau d'entreprises</h2>
                    <p>Consulte nos fiches entreprises</p>
                </div>
                <img src="{{ asset("ui_img/drawing_home_02.svg") }}" alt="Améliorez votre visibilité">
            </section>
            <section class="wrapper">
                <img src="{{ asset("ui_img/drawing_home_03.svg") }}" alt="Améliorez votre visibilité">
                <div class="droite">
                    <h2><span>Participe</span> aux événements de la communauté</h2>
                    <p>Lis les articles de notre blog</p>
                </div>
            </section>
            <section class="wrapper">
                <div class="gauche">
                    <h2><span>Partage</span> tes connaissances avec la communauté</h2>

                    <p>Publie un article</p>

                </div>
                <img src="{{ asset("ui_img/drawing_home_04.svg") }}" alt="Améliorez votre visibilité">
            </section>

        </section>

        <!--
        <section class="wrapper link_to_pro">
            <div class="agency_logos quarter_wide" style="margin-right: 30px"></div>
            <div class="quarter_wide">
                <h1>Devenez partenaires</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ratione tempora ut. Ab explicabo
                    fugiat,
                    illo labore necessitatibus neque pariatur reiciendis tempora veritatis voluptas voluptates. Lorem
                    ipsum
                    dolor sit amet, consectetur adipisicing elit. Adipisci asperiores, minima nobis non officia repellat
                    repellendus veniam vero. Dicta labore nisi reprehenderit soluta voluptas. Debitis deleniti earum
                    expedita nesciunt voluptatibus!</p>
                <a href="{{ path("mmi_pros") }}">
                    <button class="big white" style="margin: 15px 0">Espace pro</button>
                </a>
            </div>
        </section>
        <section class="very_light_grey inset_shadow">
            <h1 class="quarter">331 c'est aussi&nbsp;:</h1>

            <div class="wrapper">
                <article class="tile_post">
                    <h3><a href="">Talking about something</a></h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis
                        fugiat illo
                        laborum molestias nesciunt quasi velit.</p>
                    <a href="">Suivant</a>
                </article>
                <article class="tile_post">
                    <h3><a href="">L’association 331</a></h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto aspernatur aut
                        cumque
                        deserunt, ea excepturi exercitationem illo laboriosam magnam molestiae natus, omnis porro, quasi
                        quo
                        quod ratione repudiandae saepe.</p>
                </article>
            </div>
        </section>
        -->
    </main>
{% endblock %}

{% block includeBody %}
    <div id="loader"></div>
    <script src="{{ asset('js/transition.js') }}"></script>
    <script src="{{ asset("js/caroussel.js") }}"></script>
    <script src="{{ asset("js/menu.js") }}"></script>
    <script src="{{ asset('assets/bodymovin.js') }}"></script>
    <script>

        $(document).ready(function(){
            var animData = {
                container: document.getElementById('loader'),
                renderer: 'svg',
                loop: true,
                autoplay: true,
                path: '{{ asset('assets/data_anim.json') }}'
            };

            var anim = bodymovin.loadAnimation(animData);

            $(window).load(function(){

                var modal_content = $('#errorModal .no_errors').length;

                if (modal_content == 0){
                    $('#errorModal').modal('show')
                }
            });

        });

    </script>
{% endblock %}
