{% extends "MMIBundle::template.html.twig" %}

{% block title %}Espace pro{% endblock %}

{% block includeHead %}
    <script src="{{ asset('js/form_regex.js') }}"></script>
{% endblock %}

{% block bodyClass %}home_pro{% endblock %}

{% block header %}style="background-image: url({{ asset("ui_img/header_home_pro.jpg") }}); background-position: 50% 80%"{% endblock %}

{% block headerExtended %}
    <div class="caroussel_text">
        <h2>Espace Pro <span class="super_title">&nbsp;&nbsp;&nbsp;&nbsp;331</span></h2>

        <div class="pro" style="width: 300px;">
            <h3>Recrutez les meilleurs talents du web avec 331.</h3>

            <p>Le réseau professionel des étudiants et diplômés de MMI Montbéliard</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main>
        <section class="illustration">
            <section class="wrapper">
                <img src="{{ asset("ui_img/drawing_pro_01.svg") }}" alt="Améliorez votre visibilité">

                <div class="droite">
                    <h2><span>Améliorez</span> votre visibilité auprès de nos étudiants</h2>

                    <p>Créer votre page entreprise</p>
                </div>
            </section>
            <section class="wrapper">
                <div class="gauche">
                    <h2><span>Recrutez</span> vos stagiaires, apprentis et salariés parmis nos étudiants</h2>

                    <p>Déposez une annonce ou rechercher et consulter les profils étudiant.</p>
                </div>
                <img src="{{ asset("ui_img/drawing_pro_02.svg") }}" alt="Améliorez votre visibilité">
            </section>
            <section class="wrapper">
                <img src="{{ asset("ui_img/drawing_pro_03.svg") }}" alt="Améliorez votre visibilité">

                <div class="droite">
                    <h2><span>Rencontrez</span> nos étudiants pour discuter</h2>

                    <p>Participez aux événements 331</p>
                </div>
            </section>
            <section class="wrapper">
                <div class="gauche">
                    <h2><span>Soutenez</span> les projets étudiant de notre incubateur</h2>
                </div>
                <img src="{{ asset("ui_img/drawing_pro_04.svg") }}" alt="Améliorez votre visibilité">
            </section>
        </section>
        <section id="connexion" class="wrapper light">
            <article class="log">
                <h1 class="right">S'inscrire</h1>

                {{ form_start(inscription,
                {"attr": {
                    "class": "verif_regex"}}) }}
                {{ form_widget(inscription.name,
                {"attr": {
                    "class": "big right verif",
                    "data-regex": "nom"}}) }}
                {{ form_widget(inscription.email,
                {"attr": {
                    "class": "big right verif",
                    "placeholder": "Adresse email",
                    "data-regex": "email"}}) }}
                {{ form_widget(inscription.password,
                {"attr": {
                    "class": "big right verif",
                    "placeholder": "Mot de passe"}}) }}
                <button type="submit" class="big right">S'inscrire</button>
                {{ form_rest(inscription) }}
                {{ form_end(inscription) }}

                <a href="{{ path("mmi_homepage") }}" style="display: block; margin-top: 30px; float: right">Vous êtes un étudiant ?</a>
            </article>
            <article class="log" id="login">
                <h1>Se connecter</h1>

                {{ form_start(connexion,
                {"attr": {
                    "class": "verif_regex"}}) }}
                {{ form_widget(connexion.email,
                {"attr": {
                    "class": "big verif",
                    "placeholder": "Adresse email",
                    "data-regex": "email"}}) }}
                {{ form_widget(connexion.password,
                {"attr": {
                    "class": "big verif",
                    "placeholder": "Mot de passe"}}) }}
                <button type="submit" class="big">Se connecter</button>
                {{ form_rest(connexion) }}
                {{ form_end(connexion) }}

                <!--<h4>Ou encore plus rapide !</h4>
                <button class="big white" type="button" style="margin-top: 20px; margin-right: 10px">Facebook</button>
                <button class="big white" type="button" style="margin-top: 20px">LinkedIn</button>-->
            </article>
        </section>
    </main>
{% endblock %}

{% block includeBody %}
    <script src="{{ asset("assets/jquery.scrollTo.min.js") }}"></script>
    <script src="{{ asset("js/caroussel.js") }}"></script>
    <script src="{{ asset("js/menu.js") }}"></script>
    <script>
        $(document).ready(function(){

            $(window).load(function(){

                var modal_content = $('#errorModal .no_errors').length;

                if (modal_content == 0){
                    $('#errorModal').modal('show')
                }
            });

        });
    </script>
{% endblock %}
