{% extends "MMIBundle::template.html.twig" %}

{% block title %}Rechercher{% endblock %}

{% block includeHead %}
{% endblock %}

{% block bodyClass %}search{% endblock %}

{% block header %}style="background-image: url({{ asset("ui_img/rechercher_01.jpeg") }})"{% endblock %}

{% block headerExtended %}
    <form action="" class="search">
        <h3 class="white">Comment peut-on vous aider ?</h3>
        <input type="text" placeholder="">
        <button type="button">Rechercher</button>
    </form>
{% endblock %}

{% block content %}
    <nav class="search">
        <ul>
            <li><a href="{{ path('mmi_search') }}"
                   {% if search_type == 'internships' %}class="active"{% endif %}>Stage</a></li>
            <li><a href="{{ path('mmi_search') }}/projects" {% if search_type == 'projects' %}class="active"{% endif %}>Projet
                    universitaire</a></li>
            <li><a href="{{ path('mmi_search') }}/students"
                   {% if search_type == 'students' %}class="active"{% endif %}>Profil</a></li>
            <li><a href="{{ path('mmi_search') }}/companies"
                   {% if search_type == 'companies' %}class="active"{% endif %}>Entreprise</a></li>
            <li><a href="{{ path('mmi_search') }}/degrees" {% if search_type == 'degrees' %}class="active"{% endif %}>Formation</a>
            </li>
            <li><a href="{{ path('mmi_search') }}/professions"
                   {% if search_type == 'professions' %}class="active"{% endif %}>Métier</a></li>
        </ul>
    </nav>
    <main>
        <form action="" class="filter">
            {% if search_type == 'students' %}
                <select class="promo-filter" placeholder="Promo">
                    <option value="ras">Promo</option>
                    {% for promo in listPromos %}
                        <option value="{{ promo.id }}">{{ promo.year }}</option>
                    {% endfor %}
                </select>
                <select class="city-filter" placeholder="Ville">
                    <option value="ras">Ville</option>
                    {% for city in listCity %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
                <select class="profile-filter" placeholder="Profil">
                    <option value="ras">Profil</option>
                    {% for profession in listProfession %}
                        <option value="{{ profession.id }}">{{ profession.name }}</option>
                    {% endfor %}
                </select>
            {% elseif search_type == 'companies' %}
                <select class="industry-filter" placeholder="Secteur">
                    <option value="ras">Secteur</option>
                    {% for industry in listIndustry %}
                        <option value="{{ industry.id }}">{{ industry.name }}</option>
                    {% endfor %}
                </select>
                <select class="workforce-filter" placeholder="Effectif">
                    <option value="ras">Effectif</option>
                    {% for city in listCity %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
                <select class="city-filter" placeholder="Ville">
                    <option value="ras">Ville</option>
                    {% for city in listCity %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </form>

        <input type="hidden" id="search_type" value="{{ search_type }}">

        <section class="tile_wrapper wrapper">
            {% if search_type == 'students' %}
                {% for user in data_list %}
                    {% set class = '' %}
                    {% if user.promo is not null %}
                        {% set class = class ~ ' promo-' ~ user.promo.id %}
                    {% endif %}
                    {% if user.city is not null %}
                        {% set class = class ~ ' city-' ~ user.city.id %}
                    {% endif %}
                    {% if user.profileId != 0 %}
                        {% set class = class ~ ' profile-' ~ user.profileId %}
                    {% endif %}
                    <article class="tile profile_picture_enabled{{ class }}">
                        <h3><a href="">{{ user.firstname }} {{ user.lastname }}</a></h3>

                        <div class="profilepicture search center"
                             style="background-image: url({{ asset("images/profil_picture/") }}{{ user.imageProfilFile }})">
                            <a href="{{ path('mmi_student', { id: user.id }) }}"></a></div>
                        {% if (user.profession is not null) %}
                            <h6>{{ user.profession.name }}</h6>
                        {% endif %}

                        <p>{{ user.description }}</p>
                    </article>
                {% endfor %}
            {% elseif search_type == 'companies' %}
                {% for company in data_list %}
                    {% set class = '' %}
                    {% if company.industry is not null %}
                        {% set class = class ~ ' industry-' ~ company.industry.id %}
                    {% endif %}
                    {% if company.workforce is not null %}
                        {% set class = class ~ ' workforce-' ~ company.workforce %}
                    {% endif %}
                    {% if company.addressId != 0 %}
                        {% set class = class ~ ' city-' ~ company.addressId %}
                    {% endif %}
                    <article class="tile profile_picture_enabled{{ class }}">
                        <h3><a href="">{{ company.name }}</a></h3>

                        <div class="profilepicture search center"
                             style="background-image: url({{ asset("images/company/") }}{{ company.logoFile }})">
                            <a href="{{ path('mmi_company', { id: company.id }) }}"></a></div>

                        {% if company.industry is not null %}
                            <h6>{{ company.industry.name }}</h6>
                        {% endif %}

                        <p>{{ company.description }}</p>
                    </article>
                {% endfor %}
            {% elseif search_type == 'projects' %}
                {% for project in data_list %}
                    <article class="tile profile_picture_enabled">
                        <h3><a href="">{{ project.name }}</a></h3>
                        <a href="{{ path('mmi_univ_project', { id: project.id }) }}"></a></div>

                        <h6>{{ project.website }}</h6>

                        <p>{{ project.brief }}</p>
                    </article>
                {% endfor %}
            {% elseif search_type == 'internships' %}
                {% for internship in data_list %}
                    <article class="tile profile_picture_enabled">
                        <h3><a href="">{{ internship.company.name }}</a></h3>
                        <a href="#"></a></div>

                        {% if internship.user is not null %}
                            <h6>{{ internship.user.firstname }} {{ internship.user.lastname }}</h6>
                        {% endif %}

                        <p>{{ internship.workFunction }}</p>
                    </article>
                {% endfor %}
            {% elseif search_type == 'degrees' %}
                {% for degree in data_list %}
                    <article class="tile profile_picture_enabled">
                        <h3><a href="">{{ degree.name }}</a></h3>
                        <a href="#"></a></div>

                        {% if degree.option is not null %}
                            <h6>{{ degree.option }}</h6>
                        {% endif %}

                        <p>{{ degree.summary }}</p>
                    </article>
                {% endfor %}
            {% elseif search_type == 'professions' %}
                {% for profession in data_list %}
                    <article class="tile profile_picture_enabled">
                        <h3><a href="">{{ profession.name }}</a></h3>
                        <a href="#"></a></div>

                        <p>{{ profession.description }}</p>
                    </article>
                {% endfor %}
            {% endif %}
        </section>
    </main>
{% endblock %}

{% block includeBody %}
    <script src="{{ asset("js/caroussel.js") }}"></script>
    <script src="{{ asset("js/menu.js") }}"></script>
    <script src="{{ asset("js/custom_select.js") }}"></script>
    <script src="{{ asset("assets/jquery-latest.min.js") }}"></script>
    <script src="{{ asset("js/search.js") }}"></script>
{% endblock %}
