<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>331 | erreur {{ status_code }}</title>
    <link href="{{ asset('css/screen.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/print.css') }}" media="print" rel="stylesheet" type="text/css"/>
    <!--[if IE]>
    <link href="{{ asset('css/ie.css') }}" media="screen, projection" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <link rel="shortcut icon" href="{{ asset('ui_img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('ui_img/favicon.ico') }}" type="image/x-icon">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->

    <script src="{{ asset('assets/jquery-custom.min.js') }}"></script>
    <script src="{{ asset('assets/modernizr.js') }}"></script>
</head>
<body class="lost">
<header>
    <a href="{{ path("mmi_homepage") }}" class="logo white transition">331 Acceuil</a>

    <h1 class="super_title">Erreur {{ status_code }}</h1>

    <p>Nous n'avons pas ce que vous cherchiez...
        <br>Pour nous faire pardonner voici une jolie photo de chat !</p>
</header>
<footer class="white">
    <a href="{{ path("mmi_homepage") }}" class="logo">331 Acceuil</a>
    <ul>
        <li><a href="">À propos</a></li>
        <li><a href="">Mentions légales</a></li>
        <li><a href="http://mmimontbeliard.com" target="_blank">Département MMI</a></li>
    </ul>
</footer>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-73230977-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>




