{% extends "MMIBundle::template.html.twig" %}

{% block title %}Editer votre projet ?{% endblock %}

{% block includeHead %}
    <link type="text/css" rel="stylesheet" href="{{ asset("css/welcome_sender.css") }}">
{% endblock %}

{% block bodyClass %}welcome{% endblock %}

{% block header %}
    <header>
        <div>
            <h1>Editer votre projet universitaire</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <main>
        <form method="post" action="">
            <section>
                <h3>Description</h3>
                <input type="text" class="big stretch" name="tittle" placeholder="Titre du projet">
                <textarea name="description" placeholder="Besoin initial"></textarea>
                <textarea name="description" placeholder="Brief"></textarea>
                <input type="text" class="big stretch" name="link" placeholder="Lien du projet">
            </section>
            <section>
                <h3>Auteurs</h3>
                <input type="text" class="big" name="cp" placeholder="Chef de projet">
                <input type="text" class="big" name="cp" placeholder="Graphiste">
                <input type="text" class="big" name="cp" placeholder="Développeur">
                <input type="text" class="big" name="cp" placeholder="Chargé de communication">
            </section>
            <section>
                <h3>Photos de couverture</h3>
                <input class="big" type="file">
                <h3>Photos pour la gallerie</h3>
                <input class="big" type="file">
                <input class="big" type="file">
                <input class="big" type="file">
                <input class="big" type="file">
            </section>
            <p class="emoji">Notre outils technologique ultra avancé nous enverra vos réponses, lancez-le à la fin du
                questionnaire !</p>
            <div class="welcome_sender">
                <button type="submit" id="plane">Go !</button>
            </div>
        </form>
    </main>
{% endblock %}

{% block includeBody %}
    <script type="text/javascript" src="{{ asset("assets/jquery-custom.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/welcome_sender.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/custom_select.js") }}"></script>
{% endblock %}
