{% extends "MMIBundle::template.html.twig" %}

{% block title %}Projet universitaire{% endblock %}
{% block includeHead %}
    <script src="{{ asset('js/form_regex.js') }}"></script>
    <link href="{{ asset('assets/fotorama.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/fotorama.js') }}"></script>
{% endblock %}
{% block bodyClass %}project{% endblock %}

{% block header %}
    style="background-image: url({{ asset('images/projects/0001/cover.png') }})"
{% endblock %}

{% block headerExtended %}
    <h1>{{ project.name }}</h1>
    <a href="" id="link_to_edit"><i class="fa fa-pencil"></i></a>
    <div class="mask"></div>
{% endblock %}

{% block content %}
    <main>
        <section>
            <h2>{{ project.name }}</h2>

            <p>À l'occasion du changement de nom du département, une nouvelle identité visuelle était nécessaire.<br>

                Le groupe à effectué la refonte du site du département MMI Montbéliard ex src-media.<br>

                <a href="">http://arnaudpinot.fr/mmi-montbeliard.html</a><br>

                <a href="">http://alexandrepitton.fr/projets/mmi-montbeliard.html</a><br>

                <a href="">http://jigmeyangchen.fr/page-projet-mmi.html</a><br>

                <a href="">http://pierreremonnay.com/mmi-montbeliard.html</a></p><br>
        </section>
        <h2>Les auteurs</h2>
        <section class="tile_wrapper wrapper">

            <article class="tile profile_picture_enabled">
                <h3><a href="">Léo Beaufils</a></h3>

                <div class="profilepicture search center"
                     style="background-image: url({{ asset('images/profil_picture/leo.jpg') }})"><a
                            href=""></a></div>
                <h6>UX Design</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat
                    illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>

            <article class="tile profile_picture_enabled">
                <h3><a href="">Léo Beaufils</a></h3>

                <div class="profilepicture search center"
                     style="background-image: url({{ asset('images/profil_picture/leo.jpg') }})"><a
                            href=""></a></div>
                <h6>UX Design</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat
                    illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>

            <article class="tile profile_picture_enabled">
                <h3><a href="">Léo Beaufils</a></h3>

                <div class="profilepicture search center"
                     style="background-image: url({{ asset('images/profil_picture/leo.jpg') }})"><a
                            href=""></a></div>
                <h6>UX Design</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat
                    illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>

            <article class="tile profile_picture_enabled">
                <h3><a href="">Léo Beaufils</a></h3>

                <div class="profilepicture search center"
                     style="background-image: url({{ asset('images/profil_picture/leo.jpg') }})"><a
                            href=""></a></div>
                <h6>UX Design</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat
                    illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>

        </section>

        <section class="fotorama" data-maxheight="800px">
            <img src="{{ asset('images/projects/0001/03.jpg') }}" alt="">
            <img src="{{ asset('images/projects/0001/02.jpg') }}" alt="">
            <img src="{{ asset('images/projects/0001/01.jpg') }}" alt="">
        </section>

        <section class="link">
            <h2>Les liens</h2>

            <p><a href="">mmimontbeliard.com</a></p>

        </section>
    </main>
{% endblock %}

{% block includeBody %}
    <script src="{{ asset('js/caroussel.js') }}"></script>
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}
