{% extends "MMIBundle::template.html.twig" %}

{% block title %}Editer une formation formation ?{% endblock %}

{% block includeHead %}
{% endblock %}

{% block bodyClass %}welcome{% endblock %}

{% block header %}
    <header>
        <div>
            <h1>Editer une formation</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <main>
        <form method="post" action="">
            <section>
                <h3>Description</h3>
                <input type="text" class="big stretch" name="title" placeholder="Titre de la formation">
                <textarea name="description" placeholder="Pitch"></textarea>
                <textarea name="description" placeholder="Description"></textarea>
            </section>
            <section>
                <h3>A propos de la formation</h3>
                <select name="select" class="custom-select sources" placeholder="Publique">
                    <option value="value1">Publique</option>
                    <option value="value2">Privée</option>
                </select>
                <select name="select" class="custom-select sources" placeholder="Type">
                    <option value="value1">Initiale</option>
                    <option value="value2">Alternace</option>
                </select>
            </section>
            <section>
                <h3>Domaines</h3>
                <input type="text" class="big stretch" name="tittle"
                       placeholder="Domaines (Graphisme ?  Web ?  Communication ?  autre ?)">
                <input type="text" class="big stretch" name="tittle" placeholder="Débouchés">
                <p><a href="">Vous ne trouvez pas un métier dans la liste ?</a></p>
            </section>
            <section>
                <h3>Email de contact</h3>
                <input type="text" class="big stretch" name="tittle" placeholder="(Séparés par des virgules)">
                <h3>Plus d'infos ?</h3>
                <input type="text" class="big stretch" name="tittle" placeholder="Liens (Séparés par des virgules)">
            </section>
            <section>
                <h3>Ils ont fait cette formation</h3>
                <input type="text" class="big stretch" name="tittle" placeholder="(Séparés par des virgules)">
                <p><a href="">Vous ne trouvez pas la/les personnes recherchées ?</a></p>
            </section>
            <section>
                <button type="submit" class="big">Valider</button>
            </section>
        </form>
    </main>
{% endblock %}

{% block includeBody %}
{% endblock %}
