{% extends "MMIBundle::template.html.twig" %}

{% block title %}Super Formation{% endblock %}

{% block includeHead %}
{% endblock %}

{% block bodyClass %}profession{% endblock %}

{% block header %}
    <header>
        <a href="{{ path("mmi_homepage") }}" class="logo">331 Acceuil</a>

        <div id="hamburger" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav>
            <ul>
                <li><a class="transition" href="index.html">Espace Étudiant</a></li>
                <li><a class="transition" href="">Connexion</a></li>
            </ul>
        </nav>
        <div>
            <h1>Super Formation</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus ante in condimentum
                pharetra.</p>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="blue_square profession"></div>
    <main>
        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus ante in condimentum pharetra.
                Vivamus iaculis, mauris nec porttitor mollis, metus urna facilisis urna, nec consectetur purus elit
                imperdiet elit. Integer ac elit facilisis, lacinia lacus vel, pulvinar turpis. Lorem ipsum dolor sit
                amet,
                consectetur adipiscing elit. Praesent commodo arcu et quam varius, in gravida ex sollicitudin. Mauris
                congue
                nulla ex, nec laoreet felis fringilla nec. Aliquam magna ex, vehicula eu vestibulum dignissim, vehicula
                nec
                enim. In vel nibh sodales, tincidunt justo a, consequat ligula. Vivamus a venenatis augue.</p>

            <h3>À propos de l’école</h3>

            <p>
                <span>Type</span> : Privé<br/>
                <span>Formule</span> : formation initiale
            </p>

            <h3>Domaines</h3>

            <p>
                <span>Graphisme, Webdesign, Developpement PHP, Javascript</span>
            </p>

            <h3>Options proposées</h3>
            <ul>
                <li><span>LV2</span></li>
                <li><span>Vidéo</span></li>
            </ul>
            <h3>Débouchés</h3>
            <ul>
                <li><span>LV2</span></li>
                <li><span>Vidéo</span></li>
            </ul>
            <h3>Contact</h3>
            <ul>
                <li><a href="mailto:email@gmail.com">email@gmail.com</a></li>
                <li><a href="mailto:email@gmail.com">email@gmail.com</a></li>
                <li><a href="mailto:email@gmail.com">email@gmail.com</a></li>
            </ul>
            <h3>Plus d’info</h3>
            <ul>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum</a></li>
            </ul>
        </section>
        <section class="fiches">
            <h2>Ils font cette formation</h2>

            <p>J’ai fais cette formation</p>
            <article class="">
                <h3><a href="">Léo Beaufils</a></h3>

                <div class="profilepicture center" style="background-image: url({{ asset('images/profil_picture/leo.jpg') }})"><a
                            href=""></a></div>
                <h6>UX Design</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat
                    illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
            <article class="">
                <h3><a href="">Fiona Adolphe</a></h3>

                <div class="profilepicture center" style="background-image: url({{ asset('images/profil_picture/fiona.jpg') }})"><a
                            href=""></a></div>
                <h6>Webdesign</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat
                    illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
            <article class="">
                <h3><a href="">Louis Collin</a></h3>

                <div class="profilepicture center" style="background-image: url({{ asset('images/profil_picture/louis.jpg') }})"><a
                            href=""></a></div>
                <h6>Webdesign</h6>

                <p>Lorem ipsum dolor sit amet, consectetur laborum molestias nesciunt quasi adipisicing elit. Ab esse
                    eveniet excepturi facilis fugiat illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
            <article class="">
                <h3><a href="">Romain Tiger</a></h3>

                <div class="profilepicture center" style="background-image: url({{ asset('images/profil_picture/romain.jpg') }})"><a
                            href=""></a></div>
                <h6>Developpeur Back-End</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat
                    illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
            <article class="">
                <h3><a href="">Léo Beaufils</a></h3>

                <div class="profilepicture center" style="background-image: url({{ asset('ui_img/rechercher_03.jpeg') }})"><a
                            href=""></a>
                </div>
                <h6>UX Design</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat
                    illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
            <article class="">
                <h3><a href="">Léo Beaufils</a></h3>

                <div class="profilepicture center" style="background-image: url({{ asset('ui_img/rechercher_02.jpeg') }})"><a
                            href=""></a>
                </div>
                <h6>UX Design</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat
                    illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
        </section>
    </main>
{% endblock %}

{% block includeBody %}
    <script type="text/javascript" src="{{ asset("assets/jquery-latest.min.js") }}"></script>
{% endblock %}
