{% extends "MMIBundle::template.html.twig" %}

{% block title %}Profil {{ company.name }}{% endblock %}

{% block includeHead %}
{% endblock %}

{% block bodyClass %}company{% endblock %}

{% block headerExtended %}
    <div class="profil_header white company">
        <img src="{{ asset("images/company/") }}{{ company.logoFile }}" class="profilepicture profil">

        <h1>{{ company.name }}</h1>

        {#<p>Remplissez votre fiche en deux clics en important les données de votre entreprise depuis LinkedIn</p>
        <button type="button" class="white big">LinkedIn</button>#}
    </div>
{% endblock %}

{% block content %}
    <main>
        <div>
            {% if company.description is not null %}
                <article class="description">
                    <h2>Description</h2>

                    <p>{{ company.description }}</p>
                </article>
            {% endif %}
            <article class="infos">
                <h2>Infos</h2>
                {% if company.industry is not null %}Secteur d’activité : <span>{{ company.industry.name }}</span>
                    <br/>{% endif %}
                Effectif : <span>{{ company.workforce }}</span><br/>
                Site : <span>{{ company.email }}</span>
            </article>
            {% if company.address is not null %}
                <article class="adresse">
                    <h2>Adresse</h2>
                    {{ company.address.street }}
                    {{ company.address.city.cp }}
                    {{ company.address.city.name }}
                </article>
            {% endif %}
            {% if company.contact is not null %}
                <article class="contact">
                    <h2>Contact</h2>
                    Prénom : {% if company.contact.firstname is not null %}<span>{{ company.contact.firstname }}</span>
                        <br/>{% endif %}
                    Nom : {% if company.contact.lastname is not null %}<span>{{ company.contact.lastname }}</span>
                        <br/>{% endif %}
                    Poste occupé : {% if company.contact.profession is not null %}
                        <span>{{ company.contact.profession.name }}</span><br/>{% endif %}
                    Téléphone : {% if company.contact.telephone is not null %}
                        <span>{{ company.contact.telephone }}</span><br/>{% endif %}
                    Email : {% if company.contact.email is not null %}<span>{{ company.contact.email }}</span>
                        <br/>{% endif %}
                </article>
            {% endif %}
            <article class="membres">
                <h2>Nos membres y ont travaillé</h2>
                <a href=""><img src="{{ asset("images/profil_picture/louis.jpg") }}" class="image_profil"></a>
                <a href=""><img src="{{ asset("images/profil_picture/fiona.jpg") }}" class="image_profil"></a>
            </article>
            <article class="config">
                {% if account is defined and account.id == company.id %}
                    <a href="{{ path('mmi_edit_company') }}">Modifier les informations administratives</a><br>
                {% else %}
                    <a href="">Cette entreprise est en cessation d’activité ?</a>
                {% endif %}
            </article>
        </div>
        <section>
            <input type="hidden">

            <div id="map"></div>
        </section>
        <div id="maptoggle" class="">
            <svg x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                <g id="Circle">
                    <circle class="st0" cx="50" cy="50" r="46.1"/>
                </g>
                <g id="Picker">
                    <path class="st1" d="M49.9,77.2c-21-32.5-21.1-54.4,0.2-54.4S71.2,44.7,49.9,77.2z"/>
                </g>
                <g id="Cross">
                    <line class="st2" x1="71.1" y1="71.1" x2="28.9" y2="28.9"/>
                    <line class="st2" x1="71.1" y1="28.9" x2="28.9" y2="71.1"/>
                </g>
            </svg>
        </div>
    </main>
{% endblock %}

{% block includeBody %}
    <script type="javascript" src="{{ asset("js/map.js") }}"></script>
    <script type="javascript" async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpJzOJLQuJUianW27QLEzMo9Y-YWp7aW4&callback=initMap"></script>
{% endblock %}
