{% extends "MMIBundle::template.html.twig" %}

{% block title %}Paramètres de votre profil pro{% endblock %}

{% block includeHead %}
    <script src="{{ asset('js/form_regex.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset("css/welcome_sender.css") }}">
{% endblock %}

{% block bodyClass %}edit{% endblock %}

{% block header %}
    <header>
        <div id="hamburger" class="hamburger dark">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav class="black">
            <ul>
                <li><a class="transition blue" href="search.html">Rechercher</a></li>
                <li><a class="transition " href="">Mon profil</a></li>
                <li><a class="transition thin" href="">Mon stage</a></li>
                <li><a class="transition thin" href="">Incubateur</a></li>
                <li><a class="transition thin" href="">Mes articles</a></li>
                <li><a class="transition thin" href=""><i class="fa fa-cog"></i></a></li>
            </ul>
        </nav>
        <a href="{{ path("mmi_homepage") }}" class="logo transition">331 Acceuil</a>
        <h1>Paramètres de votre profil pro</h1>
    </header>
{% endblock %}

{% block content %}
    <main>
        <form method="post" action="" class="verif_regex">
            <section>
                <h2>Description</h2>
                <input type="text" class="big stretch verif" name="tittle" placeholder="Nom de votre entreprise*">
                <textarea name="slogan" placeholder="Slogan ( <140 caractères )*"></textarea>
                <textarea name="description" placeholder="Description*"></textarea>
                <select name="select" class="custom-select sources selector_type" placeholder="Secteur*">
                    <option value="value1">1</option>
                    <option value="value2">2</option>
                    <option value="value3">3</option>
                    <option value="value4">4</option>
                </select>
                <input style="margin-top: 15px" type="text" class="big stretch verif" name="url"
                       placeholder="Site internet">
                <select name="select" class="custom-select sources selector_type" placeholder="Effectif*">
                    <option value="value1">1</option>
                    <option value="value2">2</option>
                    <option value="value3">3</option>
                    <option value="value4">4</option>
                </select>
            </section>
            <section>
                <h2>Photo de profil</h2>
                <input class="big" type="file">
                <p style="margin-bottom: 30px">La photo doit faire moins de 2MB et doit être au format jpeg, png ou gif</p>
                <h2>Photo de couverture</h2>
                <input class="big" type="file">
                <p>La photo doit faire moins de 2MB et doit être au format jpeg, png ou gif</p>
            </section>
            <section>
                <h2>Contact</h2>
                <input type="text" class="big stretch" name="cp" placeholder="Téléphone*">
                <input type="text" class="big stretch" name="cp" placeholder="Nom*">
                <input type="text" class="big stretch" name="cp" placeholder="Prénom*">
                <input type="text" class="big stretch" name="cp" placeholder="Poste occupé*">
                <input type="text" class="big stretch" name="cp" placeholder="Adresse email*">
            </section>
            <section>
                <h2>L'adresse</h2>
                <input type="text" class="big stretch" name="cp" placeholder="Adresse*">
                <input type="text" class="big stretch" name="cp" placeholder="Code postal*">
                <input type="text" class="big stretch" name="cp" placeholder="Ville*">
            </section>
            <section>
                <h2>Social</h2>
                <input type="text" class="big stretch" name="cp" placeholder="Facebook">
                <input type="text" class="big stretch" name="cp" placeholder="Twitter">
                <input type="text" class="big stretch" name="cp" placeholder="LinkedIn">
                <input type="text" class="big stretch" name="cp" placeholder="Instagram">
                <input type="text" class="big stretch" name="cp" placeholder="Tumblr">
                <p>* Champs oblgatoires</p>
            </section>
            <button style="margin-bottom: 30px" class="big" type="submit">Valider</button>
        </form>
    </main>
{% endblock %}

{% block includeBody %}
    <script type="text/javascript" src="{{ asset("assets/jquery-custom.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/datePicker.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/welcome_sender.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/custom_select.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/custom_input_file.js") }}"></script>
{% endblock %}
