{% extends "MMIBundle::template.html.twig" %}

{% block title %}Bienvenue {{ account.name }} !{% endblock %}

{% block includeHead %}
    <script src="{{ asset('js/form_regex.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset("css/welcome_sender.css") }}">
{% endblock %}

{% block bodyClass %}welcome wcCompany{% endblock %}

{% block headerExtended %}
    <div>
        <h1>Bienvenue parmis nous {{ account.name }} !</h1>

        <p>La communauté 331 est impatiente de mieux vous connaître.</p>
    </div>
{% endblock %}

{% block content %}
    <main>
        <h2>Informations pratiques</h2>

        {% if result is defined %}{{ result }}{% endif %}

        {{ form_start(welcome,
        {"attr": {"enctype": "multipart/form-data"}}) }}
        <section>
            <h3>Description</h3>
            {{ form_widget(welcome.description) }}
        </section>

        <section>
            <h3>Adresse</h3>
            {{ form_widget(welcome.address,
            {"attr": {
                "class": "big stretch"}}) }}
            {{ form_widget(welcome.city,
            {"attr": {
                "class": "big stretch_inline"}}) }}
            {{ form_widget(welcome.cp,
            {"attr": {
                "class": "big stretch_inline"}}) }}
        </section>

        <section class="inline">
            <h3>Contact</h3>
            {{ form_widget(welcome.firstname,
            {"attr": {
                "class": "big stretch",
                "data-regex": "nom"}}) }}
            {{ form_widget(welcome.lastname,
            {"attr": {
                "class": "big stretch",
                "data-regex": "nom"}}) }}
            {{ form_widget(welcome.profession,
            {"attr": {
                "class": "big stretch"}}) }}
            {{ form_widget(welcome.telephone,
            {"attr": {
                "class": "big stretch"}}) }}
            {{ form_widget(welcome.email,
            {"attr": {
                "class": "big stretch",
                "data-regex": "email"}}) }}
        </section>

        <section class="inline">
            <h3>Entreprise</h3>

            <div class="button_border">
                Votre secteur d’activité ?
                <select name="secteur" class="" placeholder="Sélectionner">
                    <option value="Choix 1">Choix 1</option>
                    <option value="Choix 2">Choix 2</option>
                    <option value="Choix 3">Choix 3</option>
                </select>
            </div>
            {{ form_widget(welcome.url_website,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            <div class="button_border">
                Combien d’employés ?
                <select name="secteur" class="" placeholder="Sélectionner">
                    <option value="1 à 10">0 à 10</option>
                    <option value="10 à 25">10 à 25</option>
                    <option value="25 à 50">25 à 50</option>
                    <option value="50 à 100">50 à 100</option>
                    <option value="100 & +">100 et +</option>
                </select>
            </div>
        </section>

        {#<section class="inline">
            <h3>Social</h3>
            <input type="text" class="big stretch" name="facebook"
                   placeholder="Quelle est le lien vers votre Facebook ?">
            <input type="text" class="big stretch" name="twitter"
                   placeholder="Quelle est le lien vers votre Twitter ?">
            <input type="text" class="big stretch" name="linkedin"
                   placeholder="Quelle est le lien vers votre LinkedIn ?">
        </section>#}

        <p>Notre outils technologique ultra avancé nous enverra vos réponses, lancez-le à la fin du questionnaire
            !</p>

        <div class="welcome_sender">
            <button type="submit" id="plane">Go !</button>
        </div>
        {{ form_rest(welcome) }}
        {{ form_end(welcome) }}
    </main>
{% endblock %}

{% block includeBody %}
    <script type="text/javascript" src="{{ asset("assets/jquery-custom.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/datePicker.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/welcome_sender.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/custom_select.js") }}"></script>
{% endblock %}
