{% extends "MMIBundle::template.html.twig" %}

{% block title %}Paramètres de votre profil{% endblock %}

{% block includeHead %}
    <link rel="stylesheet" href="{{ asset("assets/jquery-ui-1.11.4/jquery-ui.min.css") }}">
    <script type="text/javascript" src="{{ asset('js/form_regex.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset("css/welcome_sender.css") }}">
{% endblock %}

{% block bodyClass %}edit{% endblock %}

{% block header %}{% endblock %}

{% block headerExtended %}
    <h1>Paramètres de votre profil</h1>
{% endblock %}

{% block content %}
    <main>
        <a href="{{ path('mmi_student',{id: account.id}) }}">Voir un aperçu de mon profil</a>
        {{ form_start(edit,
        {"attr": {
            "enctype": "multipart/form-data"}}) }}
        <section>
            <h2>Description</h2>
            {{ form_widget(edit.firstname,
            {"attr": {
                "class": "big stretch",
                "data-regex": "nom"}}) }}
            {{ form_widget(edit.lastname,
            {"attr": {
                "class": "big stretch",
                "data-regex": "nom"}}) }}
            {{ form_widget(edit.description) }}
            {{ form_widget(edit.profession,
            {"attr": {
                "class": "custom-select sources selector_type"}}) }}
            {{ form_widget(edit.promo,
            {"attr": {
                "class": "custom-select sources selector_type"}}) }}
        </section>

        <section>
            <h2>Photo de profil</h2>
            {{ form_widget(edit.image_profil_file,
            {"attr": {
                "class": "big grey custom-input-file",
                "data-title": "Sélectionner"}}) }}
            <p style="margin-bottom: 30px">La photo doit faire moins de 2MB et doit être au format jpeg, png ou gif</p>

            <h2>Photo de couverture</h2>
            {{ form_widget(edit.image_couverture_file,
            {"attr": {
                "class": "big grey custom-input-file",
                "data-title": "Sélectionner"}}) }}

            <p>La photo doit faire moins de 2MB et doit être au format jpeg, png ou gif</p>
        </section>

        <section>
            <h2>Informations</h2>

            <div class="dateSelector" style="margin: 25px 0 10px 0">
                {{ form_widget(edit.birthday,
                {"attr": {
                    "class": "big stretch"},
                    "id": "datePicker"}) }}
            </div>
            {{ form_widget(edit.telephone,
            {"attr": {
                "class": "big stretch"}}) }}
            {{ form_widget(edit.url_portfolio,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
        </section>

        <section>
            <h2>Votre CV</h2>
            {{ form_widget(edit.cv_file,
            {"attr": {
                "class": "big grey custom-input-file",
                "data-title": "Sélectionner"}}) }}
            <p>2MB max au format pdf</p>
        </section>

        <section>
            <h2>L'adresse</h2>
            {{ form_widget(edit.cp,
            {"attr": {
                "class": "big stretch",
                "data-regex": "cp"}}) }}
            {{ form_widget(edit.city_id,
            {"attr": {
                "class": "big stretch",
                "data-regex": "nom"}}) }}
        </section>

        <section>
            <h2>Social <span style="font-size: 16px;">(facultatif)</span></h2>
            {{ form_widget(edit.url_blog,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            {{ form_widget(edit.url_facebook,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            {{ form_widget(edit.url_twitter,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            {{ form_widget(edit.url_linkedin,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            {{ form_widget(edit.url_instagram,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            {{ form_widget(edit.url_tumblr,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
        </section>

        <button type="submit" name="submit" style="margin-bottom: 30px" class="big">Modifier</button>
        {{ form_rest(edit) }}
        {{ form_end(edit) }}
    </main>
{% endblock %}

{% block includeBody %}
    <script type="text/javascript" src="{{ asset("assets/jquery-latest.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/jquery-ui-1.11.4/jquery-ui.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/datePicker.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/welcome_sender.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/custom_select.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/custom_input_file.js") }}"></script>
    <script type="text/javascript" src="{{ asset('js/ajax/ajaxGetByType.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ajaxListGetByType('City', $('input#UserEditType_city_id'));
        });
    </script>
{% endblock %}
