{% extends "MMIBundle::template.html.twig" %}

{% block title %}Profil de {{ student.firstname }}{% endblock %}

{% block includeHead %}
    <link rel="stylesheet" href="{{ asset("assets/jquery-ui-1.11.4/jquery-ui.min.css") }}">
    <script src="{{ asset('assets/jquery.scrollTo.min.js') }}"></script>
{% endblock %}

{% block bodyClass %}student{% endblock %}

{% block header %}
    style="background-image: linear-gradient(transparent, white), url({{ asset('images/profil_cover/') }}{{ student.imageCouvFile }})">
{% endblock %}

{% block headerExtended %}
    <div class="profil_header">
        <img src="{{ asset('images/profil_picture/') }}{{ student.imageProfilFile }}" class="profilepicture profil">

        <h1>{{ student.firstname }} <span class="blue">{{ student.lastname }}</span></h1>

        {% if (student.profession is not null) %}
            <h2>{{ student.profession.name }}</h2>
        {% endif %}

        {% if student.promo is not null %}
            <p>Diplomé en {{ student.promo.year }}</p>
        {% endif %}
        <a href="{{ path('mmi_edit_student') }}">Modifier mes informations <i class="fa fa-pencil"></i>
        </a>
    </div>
{% endblock %}

{% block content %}
    <main>
        <section class="presentation">
            <!--<div>
                <h4>Lier mon profil :</h4>

                <p>Ton profil se remplira tout seul et tu pourras te connecter en clic !</p>
                <button class="big white" type="button" style="margin-top: 20px; margin-right: 10px">Facebook</button>
                <button class="big white" type="button" style="margin-top: 20px">LinkedIn</button>
            </div>-->
            <div>
                <h4>Infos personnelles</h4>

                <p>
                    Âge : <span>{{ date('now').diff(date(student.birthday)).y }}</span><br>
                    Habite à <span>{{ student.city.name }}</span><br>
                    Email : <span>{{ student.email }}</span><br>
                    {% if student.telephone is not null %}
                        Téléphone : <span>{{ student.telephone }}</span><br>
                    {% endif %}
                    {% if student.urlPortfolio is not null %}
                        Portfolio : <span>{{ student.urlPortfolio }}</span><br>
                    {% endif %}
                    {% if student.urlBlog is not null %}
                        Blog : <span>{{ student.urlBlog }}</span><br>
                    {% endif %}
                    {% if student.cvFile is not null %}
                        CV : <a href="{{ asset('cv') }}/{{ student.cvFile }}">Voir le CV</a>
                    {% endif %}
                </p>
            </div>
            <div>
                <h4>Social</h4>

                <p>
                    {% if student.urlFacebook != null %}
                        <a href="{{ student.urlFacebook }}">Facebook</a><br>
                    {% endif %}
                    {% if student.urlLinkedin != null %}
                        <a href="{{ student.urlLinkedin }}">LinkedIn</a><br>
                    {% endif %}
                    {% if student.urlTwitter != null %}
                        <a href="{{ student.urlTwitter }}">Twitter</a><br>
                    {% endif %}
                    {% if student.urlTumblr != null %}
                        <a href="{{ student.urlTumblr }}">Tumblr</a><br>
                    {% endif %}
                    {% if student.urlInstagram != null %}
                        <a href="{{ student.urlInstagram }}">Instagram</a><br>
                    {% endif %}
                </p>
            </div>
        </section>
        <section class="parcours">
            <h1>Son parcours</h1>

            {% if after | length > 0 %}
                <h2>Après MMI</h2>
                <ul>
                    {% for experience in after %}
                        <li class="{{ experience.type }}_{{ experience.id }}">
                            <div>
                                {{ experience.from }}<!--
                            {% if experience.to != null and experience.to != experience.from %}
                                -->-{{ experience.to }}
                                {% endif %}
                                <!-- -->
                            </div>
                            {% if experience.image is defined and experience.image != "" %}
                                <img src="{{ asset('images/company/') }}{{ experience.image }}" class="picture">
                            {% endif %}

                            <div>
                                <h3>{{ experience.name }}<span class="experience_category"> | {{ experience.display }}</span></h3>

                                {% if experience.desc is defined %}
                                    <p>{{ experience.desc }}
                                        <i class="fa fa-pencil targeted" data-target="#edit"></i>
                                    </p>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if during | length > 0 %}
                <h2>Pendant MMI</h2>
                <ul>
                    {% for experience in during %}
                        <li class="{{ experience.type }}_{{ experience.id }}">
                            <div>
                                {{ experience.from }}<!--
                            {% if experience.to != null and experience.to != experience.from %}
                                -->-{{ experience.to }}
                                {% endif %}
                                <!-- -->
                            </div>
                            {% if experience.image is defined and experience.image != "" %}
                                <img src="{{ asset('images/company/') }}{{ experience.image }}" class="picture">
                            {% endif %}

                            <div>
                                <h3>{{ experience.name }}<span class="experience_category"> | {{ experience.display }}</span></h3>

                                {% if experience.desc is defined %}
                                    <p>{{ experience.desc }}
                                        <i class="fa fa-pencil targeted" data-target="#edit"></i>
                                    </p>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if before | length > 0 %}
                <h2>Avant MMI</h2>
                <ul>
                    {% for experience in before %}
                        <li class="{{ experience.type }}_{{ experience.id }}">
                            <div>
                                {{ experience.from }}<!--
                            {% if experience.to != null and experience.to != experience.from %}
                                -->-{{ experience.to }}
                                {% endif %}
                                <!-- -->
                            </div>
                            {% if experience.image is defined and experience.image != "" %}
                                <img src="{{ asset('images/company/') }}{{ experience.image }}" class="picture">
                            {% endif %}

                            <div>
                                <h3>{{ experience.name }}<span class="experience_category"> | {{ experience.display }}</span></h3>

                                {% if experience.desc is defined %}
                                    <p>{{ experience.desc }}
                                        <i class="fa fa-pencil targeted" data-target="#edit"></i>
                                    </p>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>

        {% if account is not null and student.id == account.id %}
            <section class="edit" id="edit">

                <h2>Tenez-nous au courant !</h2>
                <h4>Ajoutez ou modifer vos expériences</h4>
                <select class="experiences">
                    <option value="add">Ajouter</option>
                    {% for experience in experiences %}
                        <option value="{{ experience.type }}:{{ experience.id }}"
                                class="{{ experience.type }}_{{ experience.id }}">{{ experience.name }}</option>
                    {% endfor %}
                </select>
                <select class="type">
                    <option value="Job">Emploi</option>
                    <option value="Degree">Formation</option>
                    <option value="Project">Projet</option>
                </select>

                <!-- Emploi -->
                {{ form_start(addUserJob,{
                    "attr":{
                        "class": "experience Job"}}) }}
                <p>Nom de votre profession :</p>
                {{ form_widget(addUserJob.profession_id,{
                    "attr": {
                        "class": "big"}}) }}
                <a data-toggle="modal" data-target="#addProfessionModal">Il n'est pas dans la liste ?</a>

                <p>Nom de l'entreprise :</p>
                {{ form_widget(addUserJob.company_id,{
                    "attr": {
                        "class": "big"}}) }}
                <a data-toggle="modal" data-target="#addCompanyModal">Elle n'est pas dans la liste ?</a>

                <p>Période</p>
                De
                {{ form_widget(addUserJob.yearFrom,{
                    "attr": {
                        "class": ""}}) }}
                à
                {{ form_widget(addUserJob.yearTo,{
                    "attr": {
                        "class": ""}}) }}

                <p>Description de votre poste :</p>
                {{ form_widget(addUserJob.description,{
                    "attr": {
                        "placeholder": "Quelques mots suffisent"
                    }}) }}

                <button type="submit" name="submitJob" class="big addUpdate">Ajouter</button>
                <button type="button" class="big delete">Supprimer</button>
                {{ form_rest(addUserJob) }}
                {{ form_end(addUserJob) }}

                <!-- Formation -->
                {{ form_start(addUserDegree,{
                    "attr":{
                        "class": "experience Degree"}}) }}
                <p>Nom de votre formation :</p>
                {{ form_widget(addUserDegree.degree_id,{
                    "attr": {
                        "class": "big"}}) }}
                <a data-toggle="modal" data-target="#addDegreeModal">Elle n'est pas dans la liste ?</a>

                <p>Période</p>

                <div>
                    De
                    {{ form_widget(addUserDegree.yearFrom,{
                        "attr": {
                            "class": ""}}) }}
                    à
                    {{ form_widget(addUserDegree.yearTo,{
                        "attr": {
                            "class": ""}}) }}
                </div>

                <button type="submit" name="submitDegree" class="big addUpdate">Ajouter</button>
                <button type="button" class="big delete">Supprimer</button>
                {{ form_rest(addUserDegree) }}
                {{ form_end(addUserDegree) }}

                <!-- Projet -->
                {{ form_start(addUserProject,{
                    "attr":{
                        "class": "experience Project"}}) }}
                <p>Nom de votre projet :</p>
                {{ form_widget(addUserProject.unipro_id,{
                    "attr": {
                        "class": "big"}}) }}
                <a data-toggle="modal" data-target="#addProjectModal">Il n'est pas dans la liste ?</a>

                <p>Nom de votre rôle :</p>
                {{ form_widget(addUserProject.profession_id,{
                    "attr": {
                        "class": "big"}}) }}
                <a data-toggle="modal" data-target="#addProfessionModal">Il n'est pas dans la liste ?</a>

                <p>Période</p>

                <div>
                    De
                    {{ form_widget(addUserProject.yearFrom,{
                        "attr": {
                            "class": ""}}) }}
                    à
                    {{ form_widget(addUserProject.yearTo,{
                        "attr": {
                            "class": ""}}) }}
                </div>

                <button type="submit" name="submitProject" class="big addUpdate">Ajouter</button>
                <button type="button" class="big delete">Supprimer</button>
                {{ form_rest(addUserProject) }}
                {{ form_end(addUserProject) }}
            </section>
        {% endif %}
    </main>

    <!-- modal add profession -->
    <div class="modal fade" id="addProfessionModal" tabindex="-1" role="dialog"
         aria-labelledby="addProfessionModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(addProfession) }}
                <div class="modal-header">
                    <h4 class="modal-title" id="addProfessionModalLabel">Ajouter une profession</h4>
                </div>
                <div class="modal-body">
                    <p>Nom de la profession :</p>
                    {{ form_widget(addProfession.name,{
                        "attr": {
                            "class": "big"}}) }}

                    <p>Description :</p>
                    {{ form_widget(addProfession.description,{
                        "attr": {
                            "placeholder": "Quelques mots suffisent"}}) }}
                    {{ form_rest(addProfession) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" id="addProfessionModalButton" class="big">Ajouter</button>
                </div>
                {{ form_end(addProfession) }}
            </div>
        </div>
    </div>

    <!-- modal add company -->
    <div class="modal fade" id="addCompanyModal" tabindex="-1" role="dialog"
         aria-labelledby="addCompanyModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(addCompany) }}
                <div class="modal-header">
                    <h4 class="modal-title" id="addCompanyModalLabel">Ajouter une entreprise</h4>
                </div>
                <div class="modal-body">
                    <p>Nom de l'entreprise :</p>
                    {{ form_widget(addCompany.name,{
                        "attr": {
                            "class": "big"}}) }}

                    <p>Logo de l'entreprise :</p>
                    {{ form_widget(addCompany.logo_file,{
                        "attr": {
                            "class": "big grey custom-input-file",
                            "placeholder": "Ajouter son logo",
                            "data-title": "Sélectionner"}}) }}
                    {{ form_rest(addCompany) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" id="addCompanyModalButton" class="big">Ajouter</button>
                </div>
                {{ form_end(addCompany) }}
            </div>
        </div>
    </div>

    <!-- modal add degree -->
    <div class="modal fade" id="addDegreeModal" tabindex="-1" role="dialog"
         aria-labelledby="addDegreeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(addDegree) }}
                <div class="modal-header">
                    <h4 class="modal-title" id="addDegreeModalLabel">Ajouter une formation</h4>
                </div>
                <div class="modal-body">
                    <p>Nom de la formation :</p>
                    {{ form_widget(addDegree.name,{
                        "attr": {
                            "class": "big"}}) }}

                    <p>Option :</p>
                    {{ form_widget(addDegree.option,{
                        "attr": {
                            "class": "big"}}) }}

                    <p>Description :</p>
                    {{ form_widget(addDegree.summary) }}
                    {{ form_rest(addDegree) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" id="addDegreeModalButton" class="big">Ajouter</button>
                </div>
                {{ form_end(addDegree) }}
            </div>
        </div>
    </div>

    <!-- modal add project -->
    <div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog"
         aria-labelledby="addProjectModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(addDegree) }}
                <div class="modal-header">
                    <h4 class="modal-title" id="addProjectModalLabel">Ajouter un projet universitaire</h4>
                </div>
                <div class="modal-body">
                    <p>Nom du projet :</p>
                    {{ form_widget(addProject.name,{
                        "attr": {
                            "class": "big"}}) }}

                    <p>Lien vers le site :</p>
                    {{ form_widget(addProject.website,{
                        "attr": {
                            "class": "big"}}) }}

                    {{ form_rest(addProject) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" id="addProjectModalButton" class="big">Ajouter</button>
                </div>
                {{ form_end(addProject) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block includeBody %}
    <script src="{{ asset("assets/jquery-custom.min.js") }}"></script>
    <script src="{{ asset("assets/jquery-ui-1.11.4/jquery-ui.min.js") }}"></script>
    <script src="{{ asset('js/menu.js') }}"></script>
    <script src="{{ asset("js/custom_input_file.js") }}"></script>
    <script src="{{ asset('js/custom_select.js') }}"></script>
    <script src="{{ asset('js/student.js') }}"></script>

    <script src="{{ asset('js/ajax/ajaxGetByType.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // Job
            ajaxListGetByType('Profession', $('input#UserAddJobType_profession_id'));
            ajaxListGetByType('Company', $('input#UserAddJobType_company_id'));

            // Degree
            ajaxListGetByType('Degree', $('input#UserAddDegreeType_degree_id'));

            // Project
            ajaxListGetByType('Project', $('input#UserAddProjectType_unipro_id'));
            ajaxListGetByType('Profession', $('input#UserAddProjectType_profession_id'));

        });
    </script>
{% endblock %}
