{% extends "MMIBundle::template.html.twig" %}

{% block title %}Bienvenue {{ account.firstname }} !{% endblock %}

{% block includeHead %}
    <link rel="stylesheet" href="{{ asset("assets/jquery-ui-1.11.4/jquery-ui.min.css") }}">
    <script type="text/javascript" src="{{ asset('js/form_regex.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset("css/welcome_sender.css") }}">
{% endblock %}

{% block bodyClass %}welcome welcome_student{% endblock %}

{% block headerExtended %}
    <div>
        <h1>Bienvenue parmis nous {{ account.firstname }} !</h1>

        <p>La communauté 331 est impatiente de mieux te connaître.</p>
    </div>
{% endblock %}

{% block content %}
    <main>
        <!--<section>
            <h2>Lier mon profil</h2>

            <p>Ton profil se remplira tout seul et tu pourras te connecter en clic !</p>
            <button type="button" class="big white">Facebook</button>
            <button type="button" class="big white">LinkedIn</button>
        </section>-->
        {% if result is defined %}{{ result }}{% endif %}

        {{ form_start(welcome,
        {"attr": {
            "class": "verif_regex",
            "enctype": "multipart/form-data"}}) }}
        <h2>Informations personnelles</h2>
        <section class="inline" style="margin-left: 0; margin-right: 20px">
            <h3>Date de naissance</h3>

            <div class="dateSelector">
                {{ form_widget(welcome.birthday,
                {"attr": {
                    "class": "big stretch"},
                    "id": "datePicker"}) }}
            </div>
        </section>

        <section class="inline">
            <h3>Téléphone</h3>
            {{ form_widget(welcome.telephone,
            {"attr": {
                "class": "big stretch"}}) }}
        </section>

        <input type="hidden">

        <section class="inline">
            <h3>Ville</h3>
            {{ form_widget(welcome.city_id,
            {"attr": {
                "class": "big stretch"}}) }}
        </section>

        <section class="inline">
            <h3>Promo</h3>
            {{ form_widget(welcome.promo_id,
            {"attr": {
                "class": "big stretch"}}) }}
        </section>

        <section class="inline">
            <h3>Branding</h3>
            {{ form_widget(welcome.url_portfolio,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            {{ form_widget(welcome.url_blog,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            {{ form_widget(welcome.cv_file,
            {"attr": {
                "class": "big grey custom-input-file",
                "data-title": "Sélectionner"}}) }}
        </section>

        <section class="inline">
            <h3>Social</h3>
            {{ form_widget(welcome.url_facebook,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            {{ form_widget(welcome.url_twitter,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            {{ form_widget(welcome.url_linkedin,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            {{ form_widget(welcome.url_tumblr,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
            {{ form_widget(welcome.url_instagram,
            {"attr": {
                "class": "big stretch",
                "data-regex": "lien"}}) }}
        </section>

        <p class="emoji">Paré au décollage ?</p>

        <div class="welcome_sender">
            <button type="submit" name="submit" id="plane">Go !</button>
        </div>
        {{ form_rest(welcome) }}
        {{ form_end(welcome) }}
    </main>
{% endblock %}

{% block includeBody %}
    <script type="text/javascript" src="{{ asset("assets/jquery-latest.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/jquery-ui-1.11.4/jquery-ui.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/datePicker.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/welcome_sender.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/custom_input_file.js") }}"></script>
    <script type="text/javascript" src="{{ asset('js/ajax/ajaxGetByType.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ajaxListGetByType('City', $('input#UserWelcomeType_city_id'));
        });
    </script>
{% endblock %}
