<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <!-- NAME: 1 COLUMN - BANDED -->
    <!--[if gte mso 15]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet" type="text/css">
    <title>*|MC:SUBJECT|*</title>

    <style type="text/css">
        p {
            margin: 10px 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
        }

        h1, h2, h3, h4, h5, h6 {
            display: block;
            margin: 0;
            padding: 0;
        }

        img, a img {
            border: 0;
            height: auto;
            outline: none;
            text-decoration: none;
        }

        body, #bodyTable, #bodyCell {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        #outlook a {
            padding: 0;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        table {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        p, a, li, td, blockquote {
            mso-line-height-rule: exactly;
        }

        a[href^=tel], a[href^=sms] {
            color: inherit;
            cursor: default;
            text-decoration: none;
        }

        p, a, li, td, body, table, blockquote {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        .ExternalClass, .ExternalClass p, .ExternalClass td, .ExternalClass div, .ExternalClass span, .ExternalClass font {
            line-height: 100%;
        }

        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        .templateContainer {
            max-width: 600px !important;
        }

        a.mcnButton {
            display: block;
        }

        .mcnImage {
            vertical-align: bottom;
        }

        .mcnTextContent {
            word-break: break-all;
        }

        .mcnTextContent img {
            height: auto !important;
        }

        .mcnDividerBlock {
            table-layout: fixed !important;
        }

        /*
        @tab Page
        @section Background Style
        @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
        */
        body, #bodyTable {
            /*@editable*/
            background-color: #FAFAFA;
        }

        /*
        @tab Page
        @section Background Style
        @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
        */
        #bodyCell {
            /*@editable*/
            border-top: 0;
        }

        /*
        @tab Page
        @section Heading 1
        @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
        @style heading 1
        */
        h1 {
            /*@editable*/
            color: #202020;
            /*@editable*/
            font-family: 'Raleway', sans-serif;
            /*@editable*/
            font-size: 26px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            letter-spacing: normal;
            /*@editable*/
            text-align: left;
        }

        /*
        @tab Page
        @section Heading 2
        @tip Set the styling for all second-level headings in your emails.
        @style heading 2
        */
        h2 {
            /*@editable*/
            color: #202020;
            /*@editable*/
            font-family: 'Raleway', sans-serif;
            /*@editable*/
            font-size: 22px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            letter-spacing: normal;
            /*@editable*/
            text-align: left;
        }

        /*
        @tab Page
        @section Heading 3
        @tip Set the styling for all third-level headings in your emails.
        @style heading 3
        */
        h3 {
            /*@editable*/
            color: #202020;
            /*@editable*/
            font-family: 'Raleway', sans-serif;
            /*@editable*/
            font-size: 20px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            letter-spacing: normal;
            /*@editable*/
            text-align: left;
        }

        /*
        @tab Page
        @section Heading 4
        @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
        @style heading 4
        */
        h4 {
            /*@editable*/
            color: #202020;
            /*@editable*/
            font-family: 'Raleway', sans-serif;
            /*@editable*/
            font-size: 18px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            letter-spacing: normal;
            /*@editable*/
            text-align: left;
        }

        /*
        @tab Preheader
        @section Preheader Style
        @tip Set the background color and borders for your email's preheader area.
        */
        #templatePreheader {
            /*@editable*/
            background-color: #FAFAFA;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
            /*@editable*/
            padding-top: 9px;
            /*@editable*/
            padding-bottom: 9px;
        }

        /*
        @tab Preheader
        @section Preheader Text
        @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
        */
        #templatePreheader .mcnTextContent, #templatePreheader .mcnTextContent p {
            /*@editable*/
            color: #656565;
            /*@editable*/
            font-family: 'Raleway', sans-serif;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: left;
        }

        /*
        @tab Preheader
        @section Preheader Link
        @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
        */
        #templatePreheader .mcnTextContent a, #templatePreheader .mcnTextContent p a {
            /*@editable*/
            color: #656565;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
        }

        /*
        @tab Header
        @section Header Style
        @tip Set the background color and borders for your email's header area.
        */
        #templateHeader {
            /*@editable*/
            background-color: #FFFFFF;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
            /*@editable*/
            padding-top: 9px;
            /*@editable*/
            padding-bottom: 0;
        }

        /*
        @tab Header
        @section Header Text
        @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
        */
        #templateHeader .mcnTextContent, #templateHeader .mcnTextContent p {
            /*@editable*/
            color: #202020;
            /*@editable*/
            font-family: 'Raleway', sans-serif;
            /*@editable*/
            font-size: 16px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: left;
        }

        /*
        @tab Header
        @section Header Link
        @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
        */
        #templateHeader .mcnTextContent a, #templateHeader .mcnTextContent p a {
            /*@editable*/
            color: #2BAADF;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
        }

        /*
        @tab Body
        @section Body Style
        @tip Set the background color and borders for your email's body area.
        */
        #templateBody {
            /*@editable*/
            background-color: #FFFFFF;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
            /*@editable*/
            padding-top: 9px;
            /*@editable*/
            padding-bottom: 9px;
        }

        /*
        @tab Body
        @section Body Text
        @tip Set the styling for your email's body text. Choose a size and color that is easy to read.
        */
        #templateBody .mcnTextContent, #templateBody .mcnTextContent p {
            /*@editable*/
            color: #202020;
            /*@editable*/
            font-family: 'Raleway', sans-serif;
            /*@editable*/
            font-size: 16px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: left;
        }

        /*
        @tab Body
        @section Body Link
        @tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.
        */
        #templateBody .mcnTextContent a, #templateBody .mcnTextContent p a {
            /*@editable*/
            color: #2BAADF;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
        }

        /*
        @tab Footer
        @section Footer Style
        @tip Set the background color and borders for your email's footer area.
        */
        #templateFooter {
            /*@editable*/
            background-color: #FAFAFA;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
            /*@editable*/
            padding-top: 9px;
            /*@editable*/
            padding-bottom: 9px;
        }

        /*
        @tab Footer
        @section Footer Text
        @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
        */
        #templateFooter .mcnTextContent, #templateFooter .mcnTextContent p {
            /*@editable*/
            color: #656565;
            /*@editable*/
            font-family: 'Raleway', sans-serif;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: center;
        }

        /*
        @tab Footer
        @section Footer Link
        @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
        */
        #templateFooter .mcnTextContent a, #templateFooter .mcnTextContent p a {
            /*@editable*/
            color: #656565;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
        }

        @media only screen and (min-width: 768px) {
            .templateContainer {
                width: 600px !important;
            }

        }

        @media only screen and (max-width: 480px) {
            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
            }

        }

        @media only screen and (max-width: 480px) {
            body {
                width: 100% !important;
                min-width: 100% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            #bodyCell {
                padding-top: 10px !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcnImage {
                width: 100% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcnCaptionTopContent, .mcnCaptionBottomContent, .mcnTextContentContainer, .mcnBoxedTextContentContainer, .mcnImageGroupContentContainer, .mcnCaptionLeftTextContentContainer, .mcnCaptionRightTextContentContainer, .mcnCaptionLeftImageContentContainer, .mcnCaptionRightImageContentContainer, .mcnImageCardLeftTextContentContainer, .mcnImageCardRightTextContentContainer {
                max-width: 100% !important;
                width: 100% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcnBoxedTextContentContainer {
                min-width: 100% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcnImageGroupContent {
                padding: 9px !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcnCaptionLeftContentOuter .mcnTextContent, .mcnCaptionRightContentOuter .mcnTextContent {
                padding-top: 9px !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcnImageCardTopImageContent, .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
                padding-top: 18px !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcnImageCardBottomImageContent {
                padding-bottom: 9px !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcnImageGroupBlockInner {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcnImageGroupBlockOuter {
                padding-top: 9px !important;
                padding-bottom: 9px !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcnTextContent, .mcnBoxedTextContentColumn {
                padding-right: 18px !important;
                padding-left: 18px !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcnImageCardLeftImageContent, .mcnImageCardRightImageContent {
                padding-right: 18px !important;
                padding-bottom: 0 !important;
                padding-left: 18px !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .mcpreview-image-uploader {
                display: none !important;
                width: 100% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            /*
            @tab Mobile Styles
            @section Heading 1
            @tip Make the first-level headings larger in size for better readability on small screens.
            */
            h1 {
                /*@editable*/
                font-size: 22px !important;
                /*@editable*/
                line-height: 125% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            /*
            @tab Mobile Styles
            @section Heading 2
            @tip Make the second-level headings larger in size for better readability on small screens.
            */
            h2 {
                /*@editable*/
                font-size: 20px !important;
                /*@editable*/
                line-height: 125% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            /*
            @tab Mobile Styles
            @section Heading 3
            @tip Make the third-level headings larger in size for better readability on small screens.
            */
            h3 {
                /*@editable*/
                font-size: 18px !important;
                /*@editable*/
                line-height: 125% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            /*
            @tab Mobile Styles
            @section Heading 4
            @tip Make the fourth-level headings larger in size for better readability on small screens.
            */
            h4 {
                /*@editable*/
                font-size: 16px !important;
                /*@editable*/
                line-height: 150% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            /*
            @tab Mobile Styles
            @section Boxed Text
            @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
            */
            .mcnBoxedTextContentContainer .mcnTextContent, .mcnBoxedTextContentContainer .mcnTextContent p {
                /*@editable*/
                font-size: 14px !important;
                /*@editable*/
                line-height: 150% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            /*
            @tab Mobile Styles
            @section Preheader Visibility
            @tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
            */
            #templatePreheader {
                /*@editable*/
                display: block !important;
            }

        }

        @media only screen and (max-width: 480px) {
            /*
            @tab Mobile Styles
            @section Preheader Text
            @tip Make the preheader text larger in size for better readability on small screens.
            */
            #templatePreheader .mcnTextContent, #templatePreheader .mcnTextContent p {
                /*@editable*/
                font-size: 14px !important;
                /*@editable*/
                line-height: 150% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            /*
            @tab Mobile Styles
            @section Header Text
            @tip Make the header text larger in size for better readability on small screens.
            */
            #templateHeader .mcnTextContent, #templateHeader .mcnTextContent p {
                /*@editable*/
                font-size: 16px !important;
                /*@editable*/
                line-height: 150% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            /*
            @tab Mobile Styles
            @section Body Text
            @tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
            */
            #templateBody .mcnTextContent, #templateBody .mcnTextContent p {
                /*@editable*/
                font-size: 16px !important;
                /*@editable*/
                line-height: 150% !important;
            }

        }

        @media only screen and (max-width: 480px) {
            /*
            @tab Mobile Styles
            @section Footer Text
            @tip Make the footer content text larger in size for better readability on small screens.
            */
            #templateFooter .mcnTextContent, #templateFooter .mcnTextContent p {
                /*@editable*/
                font-size: 14px !important;
                /*@editable*/
                line-height: 150% !important;
            }

        }</style>
</head>
<body>
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
            <td align="center" valign="top" id="bodyCell">
                <!-- BEGIN TEMPLATE // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="center" valign="top" id="templatePreheader">
                            <!--[if gte mso 9]>
                            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600"
                                   style="width:600px;">
                                <tr>
                                    <td align="center" valign="top" width="600" style="width:600px;">
                            <![endif]-->
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                                   class="templateContainer">
                                <tr>
                                    <td valign="top" class="preheaderContainer">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                               class="mcnTextBlock" style="min-width:100%;">
                                            <tbody class="mcnTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="mcnTextBlockInner">

                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                           width="100%" style="min-width:100%;"
                                                           class="mcnTextContentContainer">
                                                        <tbody>
                                                        <tr>

                                                            <td valign="top" class="mcnTextContent"
                                                                style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                <div style="text-align: center;"><span
                                                                            style="font-size:26px"><strong>Activation de
                                                                            votre compte</strong></span></div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!--[if gte mso 9]>
                            </td>
                            </tr>
                            </table>
                            <![endif]-->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" id="templateHeader">
                            <!--[if gte mso 9]>
                            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600"
                                   style="width:600px;">
                                <tr>
                                    <td align="center" valign="top" width="600" style="width:600px;">
                            <![endif]-->
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                                   class="templateContainer">
                                <tr>
                                    <td valign="top" class="headerContainer">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                               class="mcnImageBlock" style="min-width:100%;">
                                            <tbody class="mcnImageBlockOuter">
                                            <tr>
                                                <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                    <table align="left" width="100%" border="0" cellpadding="0"
                                                           cellspacing="0" class="mcnImageContentContainer"
                                                           style="min-width:100%;">
                                                        <tbody>
                                                        <tr>
                                                            <td class="mcnImageContent" valign="top"
                                                                style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">


                                                                <img align="center" alt=""
                                                                     src="https://gallery.mailchimp.com/64f09e342025797754586a802/images/9e7cb7b7-abcf-4b10-aaed-cd1f5fd38c60.png"
                                                                     width="564"
                                                                     style="max-width:900px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
                                                                     class="mcnImage">


                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!--[if gte mso 9]>
                            </td>
                            </tr>
                            </table>
                            <![endif]-->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" id="templateBody">
                            <!--[if gte mso 9]>
                            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600"
                                   style="width:600px;">
                                <tr>
                                    <td align="center" valign="top" width="600" style="width:600px;">
                            <![endif]-->
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                                   class="templateContainer">
                                <tr>
                                    <td valign="top" class="bodyContainer">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                               class="mcnTextBlock" style="min-width:100%;">
                                            <tbody class="mcnTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="mcnTextBlockInner">

                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                           width="100%" style="min-width:100%;"
                                                           class="mcnTextContentContainer">
                                                        <tbody>
                                                        <tr>

                                                            <td valign="top" class="mcnTextContent"
                                                                style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                <h1 style="text-align: center;"><span
                                                                            style="font-size:18px">Vous venez de créer votre compte.</span>
                                                                </h1>
                                                                &nbsp;

                                                                <div style="text-align: center;"><span
                                                                            style="font-size:18px">Mais vous devez maintenant l'activer !</span>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                               class="mcnButtonBlock" style="min-width:100%;">
                                            <tbody class="mcnButtonBlockOuter">
                                            <tr>
                                                <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;"
                                                    valign="top" align="center" class="mcnButtonBlockInner">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                           class="mcnButtonContentContainer"
                                                           style="border-collapse: separate !important;border-radius: 3px;background-color: #9FB8C7;">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center" valign="middle" class="mcnButtonContent"
                                                                style="font-family: Arial; font-size: 16px; padding: 15px;">
                                                                <a class="mcnButton " title="Activer mon compte"
                                                                   href="{{ link }}" target="_blank"
                                                                   style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Activer
                                                                    mon compte</a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!--[if gte mso 9]>
                            </td>
                            </tr>
                            </table>
                            <![endif]-->
                        </td>
                    </tr>

                </table>
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>
</center>

<div id="sfwdte2444a" class="sf-toolbar" style="display: none"></div>
<script>/*<![CDATA[*/
    Sfjs = (function () {
        "use strict";
        var noop = function () {
        }, collectionToArray = function (collection) {
            var length = collection.length || 0, results = new Array(length);
            while (length--) {
                results[length] = collection[length];
            }
            return results;
        }, profilerStorageKey = 'sf2/profiler/', request = function (url, onSuccess, onError, payload, options) {
            var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
            options = options || {};
            options.maxTries = options.maxTries || 0;
            xhr.open(options.method || 'GET', url, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onreadystatechange = function (state) {
                if (4 !== xhr.readyState) {
                    return null;
                }
                if (xhr.status == 404 && options.maxTries > 1) {
                    setTimeout(function () {
                        options.maxTries--;
                        request(url, onSuccess, onError, payload, options);
                    }, 500);
                    return null;
                }
                if (200 === xhr.status) {
                    (onSuccess || noop)(xhr);
                } else {
                    (onError || noop)(xhr);
                }
            };
            xhr.send(payload || '');
        }, hasClass = function (el, klass) {
            return el.className && el.className.match(new RegExp('\\b' + klass + '\\b'));
        }, removeClass = function (el, klass) {
            if (el.className) {
                el.className = el.className.replace(new RegExp('\\b' + klass + '\\b'), ' ');
            }
        }, addClass = function (el, klass) {
            if (!hasClass(el, klass)) {
                el.className += " " + klass;
            }
        }, getPreference = function (name) {
            if (!window.localStorage) {
                return null;
            }
            return localStorage.getItem(profilerStorageKey + name);
        }, setPreference = function (name, value) {
            if (!window.localStorage) {
                return null;
            }
            localStorage.setItem(profilerStorageKey + name, value);
        }, requestStack = [], renderAjaxRequests = function () {
            var requestCounter = document.querySelectorAll('.sf-toolbar-ajax-requests');
            if (!requestCounter.length) {
                return;
            }
            var tbodies = document.querySelectorAll('.sf-toolbar-ajax-request-list');
            var state = 'ok';
            if (tbodies.length) {
                var tbody = tbodies[0];
                var rows = document.createDocumentFragment();
                if (requestStack.length) {
                    for (var i = 0; i < requestStack.length; i++) {
                        var request = requestStack[i];
                        var row = document.createElement('tr');
                        rows.appendChild(row);
                        var methodCell = document.createElement('td');
                        if (request.error) {
                            methodCell.className = 'sf-ajax-request-error';
                        }
                        methodCell.textContent = request.method;
                        row.appendChild(methodCell);
                        var pathCell = document.createElement('td');
                        pathCell.className = 'sf-ajax-request-url';
                        if ('GET' === request.method) {
                            var pathLink = document.createElement('a');
                            pathLink.setAttribute('href', request.url);
                            pathLink.textContent = request.url;
                            pathCell.appendChild(pathLink);
                        } else {
                            pathCell.textContent = request.url;
                        }
                        pathCell.setAttribute('title', request.url);
                        row.appendChild(pathCell);
                        var durationCell = document.createElement('td');
                        durationCell.className = 'sf-ajax-request-duration';
                        if (request.duration) {
                            durationCell.textContent = request.duration + "ms";
                        } else {
                            durationCell.textContent = '-';
                        }
                        row.appendChild(durationCell);
                        row.appendChild(document.createTextNode(' '));
                        var profilerCell = document.createElement('td');
                        if (request.profilerUrl) {
                            var profilerLink = document.createElement('a');
                            profilerLink.setAttribute('href', request.profilerUrl);
                            profilerLink.textContent = request.profile;
                            profilerCell.appendChild(profilerLink);
                        } else {
                            profilerCell.textContent = 'n/a';
                        }
                        row.appendChild(profilerCell);
                        var requestState = 'ok';
                        if (request.error) {
                            requestState = 'error';
                            if (state != "loading" && i > requestStack.length - 4) {
                                state = 'error';
                            }
                        } else if (request.loading) {
                            requestState = 'loading';
                            state = 'loading';
                        }
                        row.className = 'sf-ajax-request sf-ajax-request-' + requestState;
                    }
                    var infoSpan = document.querySelectorAll(".sf-toolbar-ajax-info")[0];
                    var children = collectionToArray(tbody.children);
                    for (var i = 0; i < children.length; i++) {
                        tbody.removeChild(children[i]);
                    }
                    tbody.appendChild(rows);
                    if (infoSpan) {
                        var text = requestStack.length + ' call' + (requestStack.length > 1 ? 's' : '');
                        infoSpan.textContent = text;
                    }
                } else {
                    var cell = document.createElement('td');
                    cell.setAttribute('colspan', '4');
                    cell.textContent = "No AJAX requests yet.";
                    var row = document.createElement('tr');
                    row.appendChild(cell);
                    tbody.appendChild(row);
                }
            }
            requestCounter[0].textContent = requestStack.length;
            var className = 'sf-toolbar-ajax-requests sf-toolbar-status';
            if (state == 'ok') {
                className += ' sf-toolbar-status-green';
            } else if (state == 'error') {
                className += ' sf-toolbar-status-red';
            } else {
                className += ' sf-ajax-request-loading';
            }
            requestCounter[0].className = className;
        };
        var addEventListener;
        var el = document.createElement('div');
        if (!'addEventListener' in el) {
            addEventListener = function (element, eventName, callback) {
                element.attachEvent('on' + eventName, callback);
            };
        } else {
            addEventListener = function (element, eventName, callback) {
                element.addEventListener(eventName, callback, false);
            };
        }
        if (window.XMLHttpRequest && XMLHttpRequest.prototype.addEventListener) {
            var proxied = XMLHttpRequest.prototype.open;
            XMLHttpRequest.prototype.open = function (method, url, async, user, pass) {
                var self = this;
                /* prevent logging AJAX calls to static and inline files, like templates */
                var path = url;
                if (url.substr(0, 1) === '/') {
                    if (0 === url.indexOf('\x2F331_symfony2\x2Fweb')) {
                        path = url.substr(17);
                    }
                } else if (0 === url.indexOf('http\x3A\x2F\x2Fromain.local\x2F331_symfony2\x2Fweb')) {
                    path = url.substr(36);
                }
                if (path.substr(0, 1) === '/' && !path.match(new RegExp("^\/(app(_[\\w]+)?\\.php\/)?_wdt"))) {
                    var stackElement = {loading: true, error: false, url: url, method: method, start: new Date()};
                    requestStack.push(stackElement);
                    this.addEventListener('readystatechange', function () {
                        if (self.readyState == 4) {
                            stackElement.duration = new Date() - stackElement.start;
                            stackElement.loading = false;
                            stackElement.error = self.status < 200 || self.status >= 400;
                            stackElement.profile = self.getResponseHeader("X-Debug-Token");
                            stackElement.profilerUrl = self.getResponseHeader("X-Debug-Token-Link");
                            Sfjs.renderAjaxRequests();
                        }
                    }, false);
                    Sfjs.renderAjaxRequests();
                }
                proxied.apply(this, Array.prototype.slice.call(arguments));
            };
        }
        return {
            hasClass: hasClass,
            removeClass: removeClass,
            addClass: addClass,
            getPreference: getPreference,
            setPreference: setPreference,
            addEventListener: addEventListener,
            request: request,
            renderAjaxRequests: renderAjaxRequests,
            load: function (selector, url, onSuccess, onError, options) {
                var el = document.getElementById(selector);
                if (el && el.getAttribute('data-sfurl') !== url) {
                    request(url, function (xhr) {
                        el.innerHTML = xhr.responseText;
                        el.setAttribute('data-sfurl', url);
                        removeClass(el, 'loading');
                        (onSuccess || noop)(xhr, el);
                    }, function (xhr) {
                        (onError || noop)(xhr, el);
                    }, '', options);
                }
                return this;
            },
            toggle: function (selector, elOn, elOff) {
                var tmp = elOn.style.display, el = document.getElementById(selector);
                elOn.style.display = elOff.style.display;
                elOff.style.display = tmp;
                if (el) {
                    el.style.display = 'none' === tmp ? 'none' : 'block';
                }
                return this;
            }
        }
    })();
    /*]]>*/</script>
<script>/*<![CDATA[*/
    (function () {
        Sfjs.load('sfwdte2444a', '/331_symfony2/web/app_dev.php/_wdt/e2444a', function (xhr, el) {
            el.style.display = -1 !== xhr.responseText.indexOf('sf-toolbarreset') ? 'block' : 'none';
            if (el.style.display == 'none') {
                return;
            }
            if (Sfjs.getPreference('toolbar/displayState') == 'none') {
                document.getElementById('sfToolbarMainContent-e2444a').style.display = 'none';
                document.getElementById('sfToolbarClearer-e2444a').style.display = 'none';
                document.getElementById('sfMiniToolbar-e2444a').style.display = 'block';
            } else {
                document.getElementById('sfToolbarMainContent-e2444a').style.display = 'block';
                document.getElementById('sfToolbarClearer-e2444a').style.display = 'block';
                document.getElementById('sfMiniToolbar-e2444a').style.display = 'none';
            }
            Sfjs.renderAjaxRequests();
            /* Handle toolbar-info position */
            var toolbarBlocks = document.querySelectorAll('.sf-toolbar-block');
            for (var i = 0; i < toolbarBlocks.length; i += 1) {
                toolbarBlocks[i].onmouseover = function () {
                    var toolbarInfo = this.querySelectorAll('.sf-toolbar-info')[0];
                    var pageWidth = document.body.clientWidth;
                    var elementWidth = toolbarInfo.offsetWidth;
                    var leftValue = (elementWidth + this.offsetLeft) - pageWidth;
                    var rightValue = (elementWidth + (pageWidth - this.offsetLeft)) - pageWidth;
                    /* Reset right and left value, useful on window resize */
                    toolbarInfo.style.right = '';
                    toolbarInfo.style.left = '';
                    if (leftValue > 0 && rightValue > 0) {
                        toolbarInfo.style.right = (rightValue * -1) + 'px';
                    } else if (leftValue < 0) {
                        toolbarInfo.style.left = 0;
                    } else {
                        toolbarInfo.style.right = '-1px';
                    }
                };
            }
        }, function (xhr) {
            if (xhr.status !== 0) {
                confirm('An error occurred while loading the web debug toolbar (' + xhr.status + ': ' + xhr.statusText + ').\n\nDo you want to open the profiler?') && (window.location = '/331_symfony2/web/app_dev.php/_profiler/e2444a');
            }
        }, {'maxTries': 5});
    })();
    /*]]>*/</script>
</body>
</html>