{% extends "MMIBundle::template.html.twig" %}

{% block title %}Stage {{ internship.getUser.firstName }} {{ internship.getUser.lastName }} | {{ internship.getCompany.name }} {% endblock %}

{% block includeHead %}
{% endblock %}

{% block bodyClass %}internship_profil{% endblock %}

{% block header %}
{% endblock %}

{% block headerExtended %}
    <div class="intro left" style="background-image: url({{ asset('ui_img/home_04.jpg') }})">
        <div style="background-image: url({{ asset('images/profil_picture/') }}{{ internship.getUser.imageProfilFile }})" class="profilepicture"></div>
        <h1>{{ internship.getUser.firstName }} {{ internship.getUser.lastName }}</h1>

        <p>{{ internship.workFunction }}</p>
        <span>&</span>
    </div>
    <!--
            -->
    <div class="intro right" style="background-image: url({{ asset('ui_img/home_02.jpg') }})">
        <div style="background-image: url({{ asset('images/profil_picture/') }}{{ internship.getCompany.logoFile }})" class="profilepicture"></div>
        <h1>{{ internship.getCompany.name }}</h1>
        <p>{{ internship.getCompany.industry.name }}</p>
        <span>&</span>
    </div>
{% endblock %}

{% block content %}

<main>
    <h1>Informations du stage</h1>
    <section>
        <article>
            <h2>Niveau de formation</h2>

            <p>Deuxième année MMI</p>
        </article>
        <article>
            <h2>Période de stage</h2>

            <p>de {{ internship.internshipBegining|date("d/m/Y") }} à {{ internship.internshipEnding|date("d/m/Y") }}</p>
        </article>
        <article>
            <h2>Nom/Prénom du signataire</h2>

            <p>{{ internship.signatoryFirstname }} {{ internship.signatoryLastname }}</p>
        </article>
        <article>
            <h2>Qualité/Fonction du signataire</h2>

            <p>{{ internship.signatoryFunction }}</p>
        </article>
        <article>
            <h2>Nom/Prénom du maître de stage</h2>

            <p>{{ internship.masterFirstname }} {{ internship.masterLastname }}</p>
        </article>
        <article>
            <h2>Téléphone du maître de stage</h2>

            <p>{{ internship.masterTelephone }}</p>
        </article>
        <article>
            <h2>Email du maître de stage</h2>

            <p><a href="mailto:{{ internship.masterEmail }}">{{ internship.masterEmail }}</a></p>
        </article>
        <article>
            <h2>Enseignant tuteur</h2>

            <p>{{ internship.getTutor.getFirstname }} {{ internship.getTutor.getLastname }}</p>
        </article>
        <article>
            <h2>Visite de stage</h2>

            <p>{{ internship.dateVisite|date("d/m/Y") }}</p>
        </article>
        <article>
            <h2>Date de soutenance</h2>

            <p>{{ internship.dateSoutenance|date("d/m/Y") }}</p>
        </article>
    </section>
    <section>
        <h1>Compétences acquises ou approfondies</h1>
        <ul>
            <li><p>Travail en méthode agile</p></li>
            <li><p>Compatibilité entre différents supports</p></li>
            <li><p>Fallbacks & polyfills</p></li>
            <li><p>Responsive Design</p></li>
            <li><p>Design avec Sketch</p></li>
        </ul>
    </section>
    <section>
        <h1>Journal de stage</h1>
        <ul class="selector">
            <li class="active">
                <p>1</p>
            </li>
            <li>
                <p>2</p>
            </li>
            <li>
                <p>3</p>
            </li>
            <li>
                <p>4</p>
            </li>
            <li>
                <p>5</p>
            </li>
            <li>
                <p>6</p>
            </li>
            <li>
                <p>7</p>
            </li>
            <li>
                <p>8</p>
            </li>
            <li>
                <p>9</p>
            </li>
            <li>
                <p>10</p>
            </li>
            <li>
                <p>11</p>
            </li>
            <li>
                <p>12</p>
            </li>
        </ul>
        <ul class="content">
            <li class="active">
                <p><strong>Lundi 23 Mars</strong></p>

                <p>Arrivé dans l'agence,<strong> Amir Habibi</strong>, Directeur Général associé me présente les lieux
                    ainsi que les autres membres de Résidence Mixte. Je rencontre alors <strong>Cécile Bruzac</strong>,
                    développeuse front-end, qui sera ma maître de stage durant ces 3 mois. Installé dans le même bureau,
                    Cécile me montre les outils qu'utilise l'agence pour communiquer et pour travailler. On me créé
                    alors une adresse mail propre à l'agence et je peux donc utilisé <strong>Slack</strong> un outil de
                    communication interne nous permettant de créer un fil de discussion pour chaque projets. Je
                    bénéficie aussi d'une <strong>Dropbox</strong> sur laquelle je peux récupérer les différents
                    éléments relatifs aux projets et dans laquelle je dois déposer mes réalisations.</p>

                <p>Une fois que mon espace de travail fut installé, Cécile me demande de réaliser <strong>4
                    animations</strong> pour le site <a href="http://franchisemarketingfactory.com/">Franchise Marketing
                    Factory</a>, une nouvelle offre de l'agence. Ces animations doivent permettre de passer d'un logo
                    initial à un logo final malgré leurs formes différentes, et ceci doit se déclencher au clique. Je
                    décide alors de tourner mes recherches autour de la librairie javascript <strong>Snap.svg</strong>
                    que j'ai pu découvrir lors de mes projets étudiants. Pour ce faire, j'ai vectorisés les logos afin
                    de pouvoir décomposer les formes pour les animer indépendamment. Et j'ai réalisé une première
                    animation qui m'a permis d'avoir un premier script de base. </p>

                <p> </p>

                <p><strong>Mardi 24 Mars</strong></p>

                <p>Je <strong>poursuis la réalisation de mes animations</strong>. Ayant réfléchi à une animation pour
                    chaque logo je prends le soin de les développer en m'aidant du modèle réalisé la veille. Une fois
                    terminé, je présente mon travail à ma maître de stage qui me demande de reprendre la mise en forme
                    de mon code. Elle me donne alors de précieux conseils concernant le nommage de mes classes et
                    variable mais aussi sur la bonne utilisation des fonctions <strong>jQuery</strong>. Elle me demande
                    ensuite de mettre en place des <strong>fallbacks</strong> au cas où les scripts seraient désactivés
                    ou non chargés et me montre comment l'on procède. Je teste ensuite la compatibilité de mon travail
                    avec les différents navigateurs, dont<strong> Internet Explorer</strong>.</p>

                <p>Une fois que mon travail fut validé, je dois rechercher comment mettre en place une <strong>animation
                    d'un graphique</strong> avec une incrémentation de nombre sur ce même site. Mes recherches me
                    permettent de trouver un script de base utilisant à nouveau Snap.svg. C'est alors que je commence à
                    mettre en place ce second type d'animation.</p>

                <p> </p>

                <p>
                    <strong>Mercredi 25 Mars</strong></p>

                <p>Je poursuis à nouveau mon <strong>travail d'animation</strong>. Ayant réalisé une première tentative
                    la veille, Cécile me demande alors de créer une <strong>méthode</strong> <strong>jQuery</strong>
                    nous permettant de faire fonctionner cette animation sur plusieurs pages et avec différentes
                    valeurs. Mes essais ne sont pas concluants mais ma maître de stage m'explique comment mettre en
                    place cette méthode et je peux alors poursuivre mon travail. Une fois terminé, je dois mettre en
                    place un <strong>fallback</strong> au cas où les svg ne s'affichent pas, je regarde alors les codes
                    sources des projets de l'agence pour m'orienter. </p>

                <p>Après validation, je suis chargé d'<strong>intégrer une page d'attente</strong> designée en externe
                    pour le projet <strong>Ambassade-Excellence</strong>. Il s'agit à première vue d'une page très
                    simple présentée dans une maquette photoshop. La première difficulté s'est posée lorsque nous avions
                    vu qu'il nous manquait les typographies dès l'ouverture du psd. Ce problème s'est prolongé sur le
                    web car la police Futura qui nous a été donné avec la maquette était une postscript. De plus, des
                    outils comme le <strong>Webfont Generator</strong> de FontSquirrel ont <strong>blacklistée la police
                        Futura</strong>. N'ayant utilisé que des webfonts jusqu'à présent, je n'ai pas trouvé de
                    solutions. Je décide tout de même de commencer l'intégration de cette maquette en respectant la mise
                    en page du commanditaire. Pour des soucis d'accessibilité, Cécile m'a demandé d'utiliser des classes
                    du même nom que mes balises HTML5 dans mes CSS. Étant une page de type full-screen, elle m'a
                    conseillé aussi d'utiliser des <strong>table/table-row/table-cell</strong> pour disposer mes
                    éléments, cela m'a permis de mettre en place le <strong>responsive</strong> de la page.</p>

                <p> </p>

                <p><strong>Jeudi 26 Mars</strong></p>

                <p>Je poursuis l'intégration de cette page. Cécile trouve une solution pour la police web à travers
                    l'outil <strong>Typekit</strong> qui me permet de charger Futura via un script bien meilleur que nos
                    @fontface. Une fois terminée, ma maitre de stage inspecte mon code puis me donne des conseils pour
                    <strong>optimiser l'accessibilité</strong>. En plus de mes tailles en rem, et mes couleurs en
                    héxadécimale, je dois spécifier les tailles en px et les couleurs en rgba. Elle me demande aussi de
                    revoir certains éléments de mise en page et me donne quelques petites astuces pour une meilleure
                    intégration. Je dois aussi mettre en place un <strong>media queries</strong> supplémentaire pour
                    éviter le scroll sur les écrans 13 pouces.</p>

                <p>Après avoir effectué ces modifications et testé mon travail sur les différents navigateurs, <strong>Jeanne</strong>,
                    notre chef de projet, me demande faire des <strong>recherches pour la création d'un template de page
                        d'attente</strong>. En effet, afin de fluidifier la production des futures pages d'attente de
                    nos futurs projets, nous aimerions créer un template que nous pourrons réutiliser et personnaliser
                    pour chacun de nos clients. Je dois donc, dans un premier temps, <strong>rechercher des inspirations
                        visuelles</strong> à présenter à <strong>Amir</strong>, afin que nous choisissions ensemble vers
                    quoi je vais me diriger en <strong>création</strong>.</p>

                <p> </p>

                <p>
                    <strong>Vendredi 27 Mars</strong></p>

                <p>Après avoir <strong>scruté de nombreuses compositions graphiques</strong> de différentes pages
                    d'attente, j'ai mis en forme et <strong>rédigé le résultat de mes recherches</strong> afin de
                    préparer ma future<strong> présentation</strong> au Directeur Général associé. J'ai donc retenu
                    certaines pages en fonction des éléments récurrents que l'on retrouve sur ce type de page mais aussi
                    en fonction de leur aspect visuel. Enfin pour conclure cette demi-journée de travail, Cécile me
                    confie <strong>quelques recherches à faire autour de travaux à venir</strong> à savoir la mise en
                    place d'un <strong>slideshow avec Ajax</strong>, d'un <strong>bouton de type "Add This
                        Event" </strong>nous permettant d'ajouter un événement à Google Calendar en plaçant des
                    informations en paramètre dans un lien ou Ical.<br/>
                     </p>

                <p>
                    <strong>Conclusion:</strong></p>

                <p>Cette première semaine m'a tout de suite montré le <strong>rythme de travail d'une agence</strong>.
                    J'ai vraiment apprécié de travailler d'entrée sur des <strong>projets concrets</strong> et de
                    pouvoir me rendre utile en me confiant ces différentes tâches. J'ai rencontré beaucoup de
                    difficultés mais ma maître de stage m'aide en me donnant de nombreux conseils. Je pense que la suite
                    va être <strong>très bénéfique</strong> au vue des choses que j'ai déjà apprises en une semaine. Le
                    but étant d'avoir de bonnes bases pour travailler sur de plus gros projets. </p>
            </li>
            <li>
                <p><strong>Lundi 30 Mars</strong></p>

                <p>Pour commencer la semaine, je reprends mes <strong>recherches autour du slider en Ajax.</strong> Pour
                    réaliser le chargement Ajax je me tourne vers <strong>jQuery</strong> et plus particulièrement la
                    fonction <strong>.load() </strong>qui me permet de charger dans une page le contenu d’une autre
                    page. Je réfléchis aussi à l’<strong>effet de transition</strong> car qui permettra de donner
                    l’illusion d’un véritable spider.<br/>
                    Ce même jour, Amir, directeur associé de Résidence Mixte, m’a fait son retour sur mes <strong>recherches
                        de pages d’attentes</strong>. Il sélectionne <strong>trois pages</strong> que je lui ai
                    proposées la semaine passée et me demande donc de faire le design de plusieurs propositions en
                    tenant compte de sa sélection. J’ai donc <strong>réalisé trois types de pages d’attentes déclinées
                        sur différents projets</strong> afin de vérifier l’adaptabilité de chacune.</p>

                <p> </p>

                <p><strong>Mardi 31 Mars</strong></p>

                <p>Je reprends mon slider et commence à réaliser <strong>une base</strong> de celui-ci dans un fichier
                    indépendant du site dans lequel il devra être intégrer. J’ai donc pu travailler énormément de choses
                    en <strong>javascript </strong>pour pouvoir mettre en place un <strong>premier résultat</strong>
                    plutôt basique.<br/>
                    J’ai aussi sélectionné avec Amir cet après-midi là, les <strong>deux propositions retenues</strong>
                    pour le futur template de pages d’attentes. Un travail que je devrai intégrer dans les prochains
                    jours.</p>

                <p> </p>

                <p><strong>Mercredi 01 Avril</strong></p>

                <p>Pour cette demi-journée de travail, j’ai principalement cherché et mis en place la <strong>réécriture
                    d’URL</strong> avec la librairie <strong>History.js </strong>pour mon slider. Il s’agit d’une
                    librairie permettant de réécrire les URL lorsque l’on charge le contenu d’une page en Ajax.
                    Désormais en écrivant l’URL nous pouvons tomber sur la page qui correspond au contenu attendu. Pour
                    clore, cette matinée j’ai effectué des recherches diverses. Et je suis revenu le soir à l’agence,
                    pour participer à un <strong>repas avec d’anciens collègues</strong>.</p>

                <p> </p>

                <p><strong>Jeudi 02 Avril</strong></p>

                <p>Ce jeudi matin, ma maître de stage est absente car elle a une semaine de vacances. Elle m’a donc
                    laissé une petite liste de choses à faire.<br/>
                    J’ai donc commencé par le plus difficile, à savoir, <strong>intégrer un premier slider ajax</strong>
                    au site <a href="http://franchisemarketingfactory.com/">Franchise Marketing Factory</a>. Ce n’était
                    pas une mince affaire car il a fallut <strong>réadapter le code</strong> afin de pouvoir conserver
                    l’<strong>Ajax</strong>, les <strong>transitions</strong> mais surtout la <strong>mise en page
                        responsive</strong> du site malgré l’utilisation de ce slider.<br/>
                    Par ailleurs, j’ai réalisé les <strong>dernières modifications</strong> à apporter à la page
                    d’attente du <strong>site Ambassade-Excellence</strong>.</p>

                <p> </p>

                <p><strong>Vendredi 03 Avri</strong>l</p>

                <p>Je me suis attaqué à l’<strong>intégration de deux autres sliders en ajax</strong> dans une même page
                    sur le site <a href="http://franchisemarketingfactory.com/">Franchise Marketing Factory</a>. Une
                    intégration difficile qui me pose encore aujourd’hui quelques petits problèmes en ce qui concerne le
                    <strong>responsive des illustrations</strong>. J’ai donc du compléter mon fichier Javascript et le
                    CSS afin de respecter la mise en forme de la maquette et de réaliser des transitions au clique.<br/>
                    Entre temps, et même s’il n’est pas conseillé de faire ça en fin de semaine, nous avons <strong>mis
                        en prod la page d’attente du site <a href="http://ambassade-excellence.com/">Ambassade-Excellence</a></strong>.
                    Jeanne, notre chef de projet, a très vite reçu un <strong>retour du commanditaire</strong> et j’ai
                    pu <strong>corriger le letter-spacing</strong> qu’il souhaitait augmenter légèrement.</p>

                <p> </p>

                <p><strong>Conclusion </strong>:</p>

                <p>Lors de cette semaine j’ai eu plusieurs <strong>travaux difficiles</strong> à effectuer, notamment
                    <strong>le slider en Ajax</strong> qui devra sans doute subir quelques modifications dans les jours
                    qui viennent. Ce type d’exercice me motive vraiment. Je m’oblige à <strong>rechercher, tester des
                        choses</strong> pour surmonter les difficultés. Et le fait que ma tutrice soit absente me fait
                    <strong>travailler en autonomie</strong>. J’ai à nouveau le <strong>sentiment de progresser</strong>
                    suite à cette semaine chargée.</p>
            </li>
            <li>
                <p><strong>Mardi 7 Avril</strong></p>

                <p> </p>

                <p>Pour commencer la semaine, je poursuis la liste de tâches que Cécile, ma maître de stage, m’a confiée
                    pendant son absence. Je me suis donc penché sur le d<strong>éboggage des animations de
                        pourcentages</strong> réalisées lors de la première semaine afin de continuer l’intégration
                    finale du site FMF.</p>

                <p>Une fois terminé, je réalise les<strong> styles d’impressions </strong>des sites<strong> Franchise
                    Marketing Factory, Illimake et Digitalisations</strong>. J’apprends donc a réaliser un site
                    accessible grâce aux <strong>@media print</strong> et je surcharge mon CSS afin d’adapter la mise en
                    page au document papier.</p>

                <p> </p>

                <p><strong>Mercredi 8 Avril</strong></p>

                <p> </p>

                <p>La liste est presque terminée, je <strong>peaufine les styles d’impression</strong> de <strong>Franchise
                    Marketing Factory</strong> et en profite pour installer le <strong>préprocesseur SASS</strong>
                    qu’utilise ma maître de stage pour les projets à venir. J’utilise des outils de travail différents
                    de ceux dont j’ai l’habitude de me servir. Grand habitué de Brackets et de Prepros, je m’adapte à
                    l’agence en codant sur <strong>SublimeText 2 </strong>et en compilant mon <strong>Scss avec
                        Scout</strong> (léger et très simple). </p>

                <p>Une fois cette configuration prête, j’attaque l’<strong>intégration du template de page
                    d’attente</strong> retenu la semaine passée. Je réalise cette intégration en essayant de tenir
                    compte des mixins et classes utilisées par ma maître de stage afin de comprendre les différentes
                    méthodes et techniques qu’elle utilise. </p>

                <p> </p>

                <p><strong>Jeudi 9 Avril</strong></p>

                <p> </p>

                <p>Début de matinée, je retrouve ma maître de stage fraichement rentrée de ses vacances. Je peaufine le
                    <strong>responsive de la page d’attente</strong> intégrée la veille. Jeanne, notre chef de projet,
                    reçoit des <strong>retours</strong> sur la page d’attente du site
                    <strong>Ambassade-Excellence</strong> et me demande de modifier certains points demandés par le
                    client. Je m’y attèle de suite et termine mon template de page d’accueil. </p>

                <p>Une fois terminé, Cécile me demande de passer sur le <strong>projet Tram</strong>, un site dont
                    l’intégration touche à sa fin. Je suis chargé de l’aider à avancer sur ce projet notamment en me
                    penchant sur une <strong>grille composée d’une quarantaine de tuiles</strong> dans lesquelles nous
                    retrouvons des accès à différents évènements. A la façon « pinterest » cette grille a déjà été
                    intégrée avec <strong>Masonry.js</strong> cependant, le principale défaut ce type de grille est
                    qu’elle n’offre pas la possibilité de répartir nos éléments dans un ordre chronologique. Au
                    redimensionnement, les tuiles ne suivent pas l’ordre de la liste figurant dans le DOM.</p>

                <p>J’ai donc <strong>recherché différentes grilles</strong> afin de trouver une solution à ce problème.
                    J’ai donc essayé<strong> Woomark</strong> ou encore <strong>Isotope</strong>, mais celle-ci présente
                    les mêmes spécificités que Masonry et sont donc inutiles. Je me suis donc penché sur les
                    possibilités qu’offre les <strong>Columns qu’offre CSS3</strong>. Cependant, si ma liste d’item est
                    chronologique, celle-ci se fait en verticale et non en horizontale comme l’on souhaiterait. De plus
                    pour assurer la compatibilité de cette fonctionnalité CSS, il aurait fallut mettre en place un
                    <strong>Polyfill</strong> pour l’adapter aux anciens navigateurs. </p>

                <p> </p>

                <p><strong>Vendredi 10 Avril</strong></p>

                <p> </p>

                <p>Ma maître de stage trouve une bonne <strong>parade à notre problème de grille</strong> et me demande
                    la reprendre en la <strong>créant à la main</strong> avec quelques techniques CSS. Je me penche
                    alors tout la journée au presque sur l’<strong>intégration de cette grille</strong> en mettant en
                    place tous les items et réalisant le responsive de cette grille.</p>

                <p>Pour terminer cette semaine bien chargée, je <strong>mets à jour la liste des vins du mois,</strong>
                    pour le site<strong> Trois Fois Vin</strong>.</p>

                <p> </p>

                <p><strong>Conclusion :</strong></p>

                <p>Cette semaine m’a permis d’appréhender la mise en page avec la <strong>présence de grilles</strong>.
                    <strong>Facile à designer</strong> on peut vite se rendre compte que ce type de mise peut être
                    <strong>très difficile à intégrer</strong> notamment lorsque celle-ci doit être dynamique et
                    respecter un ordre particulier. Je continuerai la semaine d’après notamment en m’intéressant à la
                    mise en place d’une liste d’item pour un autre site.</p>

            </li>
            <li>
                <p><strong>Lundi 13 Avril</strong></p>

                <p>Pour commencer cette quatrième semaine de stage, j’ai poursuivi le travail de recherche effectué sur
                    la<strong> grille de la page d’accueil</strong> du site <strong>Tram</strong>. Cécile, ma maitre de
                    stage a très vite repris cette grille pour pouvoir la rendre dynamique. Elle m’a donc confié
                    d’autres tâches. J’ai donc <strong>redimensionné plusieurs images pour la newsletter du site
                        Catridge World</strong> avant de m’intéresser à l’<strong>intégration du site
                        Ambassade-Excellence</strong>. Il s’agit du site dont j’ai du intégrer la page d’attente lors
                    des semaines précédentes. Cette fois-ci nous avons la maquette du site complet à intégrer. Celle-ci
                    fut réalisé en externe et à première vue la personne chargée de sa conception n’a pas forcément pris
                    en compte les problématiques du web. Je me suis donc penché sur la<strong> home de ce site </strong>et
                    plus particulièrement <strong>sur la grille d’items</strong> que j’ai commencé à réalisé.</p>

                <p> </p>

                <p><strong>Mardi 14 Avril </strong></p>

                <p>Je <strong>poursuis mon avancée sur la home </strong>et essaie le <strong>plugin FitText </strong>qui
                    me permet de rendre mon texte responsive très facilement de manière assez fluide. Pour des
                    contraintes techniques de mise en page, ce plugin semble répondre à nos attentes. Une fois intégrée,
                    je laisse cette page de côté et m’attèle à une<strong> page article composée d’une autre
                        grille</strong>.</p>

                <p> </p>

                <p><strong>Mercredi 15 Avril</strong></p>

                <p>Je<strong> reprends les grilles déjà réalisées</strong> sur le site et peaufine les styles au sein de
                    celle-ci, notamment en <strong>mettant en place le responsive</strong>. Je réalise celles qui me
                    posent moins de difficultés car l’une d’entre elle est plutôt complexe. Je réalise aussi<strong> un
                        slider responsive jQuery avec une indexation des différents slides.</strong></p>

                <p> </p>

                <p><strong>Jeudi 16 Avril</strong></p>

                <p>Retour sur ce slider jQuery que je substitue par un autre <strong>slider réalisé grâce à
                    Flexslider</strong>, sur conseil de ma maître de stage. Il s’agit d’un <strong>très bon
                    plugin</strong> qui permet de mettre en place en rien de temps un <strong>slider responsive et
                    complet</strong>. Ce dernier est personnalisable grâce aux nombreux paramètres présents dans notre
                    javascript et il est possible de lui ajouter des styles avec nos Css. Le point fort de ce slider
                    c’est qu’il permet aussi <strong>le swipe sur mobile</strong>. En cette demi-journée, j’ai pu
                    intégrer très facilement ce slider et j’ai simplifié mon indexation grâce aux paramètres déjà
                    présents dans ce plugin.</p>

                <p> </p>

                <p><strong>Vendredi 17 Avril</strong></p>

                <p>Ma maître de stage passe sur le projet Ambassade et met en place le wordpress. Pour pouvoir intégrer
                    mon travail sans trop de difficultés avec le sien, elle me demande de r<strong>eprendre mon code et
                        de l’adapter avec ses fichiers pré-réalisés en Sass</strong>. Je reprends alors mes styles et
                    mes fichiers Html de sorte à ce qu’ils correspondent aux différentes classes utilisées dans les
                    autres projets de Résidence Mixte.<br/>
                    Je prépare aussi tous<strong> les mixins des différents styles de paragraphes </strong>présents sur
                    tout le site et à la grande surprises ceux-ci sont nombreux.</p>

                <p> </p>

                <p><strong>Conclusion:</strong></p>

                <p>Cette semaine m’a permis de travailler sur <strong>un projet complet.</strong> J’ai rencontré
                    <strong>beaucoup de difficultés pour intégrer les différentes grilles</strong>. Celles-ci devront
                    être reprises à nouveau par ma maitre stage car elles seront sans doute modifiées avec la mise en
                    place du php.</p>
            </li>
            <li>
                <p><strong>Lundi 20 Avril </strong></p>

                <p>Pour commencer cette semaine, j'ai terminé l'<strong>adaptation des mes Css en Scss</strong>. J'ai
                    intégré d'autres pages à savoir <strong>la page</strong> '<strong>à propos' </strong>et <strong>une
                        autre grille</strong> que je n'avais pas su intégrer la semaine passée. Il s'agit d'un <strong>autre
                        template de page article</strong>, j'essaie alors de garder les styles communs à tous les
                    articles et n'ajoute uniquement que ceux spécifiques à la page.</p>

                <p><strong>Mardi 21 Avril</strong></p>

                <p>Je me penche sur <strong>la partie responsive de l'ensemble du site Ambassade</strong>. Cécile me
                    donne des conseils sur la mise en place de mes media queries dans mon fichier Sass. Elle me montre
                    aussi comment elle utilise ses mixins pour le responsive de la page.</p>

                <p><strong>Mercredi 22 Avril </strong></p>

                <p>Je poursuis l'intégration des styles du site Ambassade. Cécile me fait des <strong>premiers retours
                    sur la grille</strong> de la home. Elle me fait part de quelques soucis d'alignements pour certains
                    items et me montre comment elle a procédé pour réaliser cette grille. Je reprends alors mon travail
                    et le <strong>corrige en tenant en compte des classes qu'elle utilise</strong>. J'y apporte aussi
                    ces modifications sur mes autres pages.</p>

                <p><strong>Jeudi 23 Avril </strong></p>

                <p>Pour ma demi journée de travail, je commence à <strong>intégrer une autre grille sur un troisième
                    template de page article.</strong> Celle-ci est plus compliquée et je dois m'y reprendre à plusieurs
                    reprise. L'ambiance à l'agence est assez sympa en cette journée d'anniversaire de notre chef de
                    projet Jeanne. J'ai pu y découvrir l'un des délicieux gateaux des ateliers Michalak à quelques pas
                    de l'agence.</p>

                <p> </p>

                <p><strong>Vendredi 24 Avril </strong></p>

                <p>Je <strong>poursuis l'intégration de cette dernière grille</strong> pour le site d'Ambassade jusqu'à
                    ce que <strong>Fanny</strong>, responsable éditoriale, me demande de <strong>réaliser des planches
                        pour la rubrique " 1 pièce 3 styles "</strong> <strong>du blog de La Redoute</strong>. Je
                    reprends alors les précédentes réalisations du DA, <strong>Pierre-Antoine</strong>, et design la
                    liste des nouveaux styles que Fanny m'a confiée.</p>

                <p> </p>

                <p><strong>Conclusion: </strong></p>

                <p>Le site d'Ambassade n'est pas si compliqué mais l'intégration de la maquette me pose tout de même des
                    difficultés. Les dimensions ne correspondent pas et les grilles sont différentes ce qui demande
                    alors de réaliser de nombreuses choses. Je <strong>poursuivrai encore cette intégration</strong> la
                    semaine prochaine.</p>
            </li>
            <li>
                <p><strong>Lundi 04 Mai</strong></p>

                <p>En ce début de semaine, je poursuis<strong> l'intégration du blog de Trois Fois Vin</strong>. Ayant
                    intégré la home la semaine passée, je peaufine les styles, les transitions et adapte une fois de
                    plus le site pour qu'il soit <strong>responsive</strong>. La maquette à intégrer est
                    particulièrement bien réalisée, j'intègre donc rapidement dans la journée la <strong>page
                        archive </strong>car elle reprend la même grille que la page d'accueil ce qui était plutôt
                    pratique. Je ressens un peu plus d'aisance que lors de mes précédentes intégrations. </p>

                <p><strong>Mardi 05 Mai</strong></p>

                <p>Je continue l<strong>'intégration de Trois Fois Vin</strong> en reprennant cette fois-ci <strong>la
                    page archive et single</strong> du site. Je mets en place les différents styles et discute avec
                    Pierre Antoine, de quelques modifications de maquettes. Nous devons nous concerter surtout au niveau
                    du responsive du projet ca<strong>r le contenu est dense et le footer très complet </strong>(puisqu'il
                    s'agit d'un site de e-commerce). </p>

                <p><strong>Mercredi 06 Mai</strong></p>

                <p>Je continue à <strong>apporter des petites corrections</strong>, à simplifier certaines choses pour
                    le site <strong>Trois Fois Vin</strong>. Cécile me montre quelques petites astuces pour garder
                    l<strong>'homothétie des images</strong> même en responsive. Je prépare aussi<strong> mes fallbacks
                        pour mes SVG</strong>. Et pour clore cette journée, je réalise des planches <strong>"1 pièce 3
                        styles" </strong>pour le blog de <strong>La Redoute</strong> comme me l'a demandé <strong>Cécile
                        Angibault</strong>, l'autre stagiaire de Résidence Mixte. </p>

                <p><strong>Jeudi 07 Mai</strong></p>

                <p>La journée est particulièrement calme et pour cause, nous avons un grand week-end. Cela dit, je
                    travaille encore sur quelques<strong> modifications concernant le blog Trois Fois Vin</strong>. Par
                    ailleurs, je suis chargé de faire <strong>la mise à jour des vins de mai</strong> sur le site de
                    e-commerce. Comme celui-ci est réalisé via magento, et que je ne connais pas du tout ce CMS, je
                    réalise la modification en dur directement dans le fichier .tpl . Il s'agit d'une urgence car les
                    box sont envoyées pour le 15 mai. Enfin, je termine une fois de plus ma journée et ma semaine par
                    une petite réalisation de <strong>planches  "1 pièce 3 styles" pour le blog de La Redoute</strong>.
                </p>

                <p><strong>Conclusion : </strong></p>

                <p>Une semaine plutôt agréable où j'ai beaucoup travaillé <strong>en autonomie.</strong> Je me suis
                    rendu compte de <strong>certains progrès</strong> et travaille sur des types de projets récurrents
                    ce qui me permet d'être plus efficace. Cela dit je serai quand même content de <strong>découvrir
                        d'autres choses</strong> dans les semaines qui suivent.</p>
            </li>
            <li>
                <p><strong>Lundi 11 Mai</strong></p>

                <p>Au retour de ce grand week-end, ma maître de stage est absente. C'est dommage car je voulais qu'elle
                    vérifie l'intégration du blog de Trois Fois Vin pour pouvoir me faire ses retours. Je poursuis alors
                    un travail laissé de côté à savoir<strong> l'animation du schéma pour le site Franchise Marketing
                        Factory</strong>. Pour rappelle, il s'agit d'un schéma que j'anime à l'aide du <strong>scroll-jacking
                        en snap SVG</strong>. Ce dernier est constitué de trois étapes et donc de trois animations.
                    Comme prévu je <strong>mets en place une boucle me permettant de passer de l'étape 3 à l'étape
                        1</strong> sans pouvoir faire l'inverse (de l'étape 1 à l'étape 3). Je me suis donc accroché sur
                    ce casse tête. J'ai notamment <strong>créé une liste de puces</strong> me permettant de me repérer
                    l'étape sur laquelle on se situe, et j'ai mis en place la <strong>possibilté de passer d'une étape à
                        une autre en cliquant sur l'une des ces puces</strong>. Jusque là tout allait bien mais un
                    problème persiste. Ce schéma est suit une certaine chronologie. Au scroll, l'utilisateur est forcé
                    de passer à l'étape deux pour aller à l'étape 3. <strong>Au clique, ce n'est pas le cas,</strong> on
                    peut passer de l'étape 1 à l'étape 3. Or des éléments s'ajoutent à l'étape 2. Je vous laisse
                    imaginer le script qui pourrait prévoir autant de possibilités. <strong>Je débrief</strong> alors
                    sur cette animation <strong>avec Pierre Antoine et Amir</strong> avec qui l'on décide de retirer
                    cette liste à puce pour ne laisser place qu'à deux possibilités: <em>étape suivante, étape
                        précédente.</em> </p>

                <p><strong>Mardi 12 Mai</strong></p>

                <p>Je suis stopé dans mon élan en <strong>reprennant à nouveau le blog de Trois Fois Vin.</strong> Une
                    <strong>modification du footer</strong> est apportée pour simplifier son intégration, notamment
                    responsive. Ma maitre de stage est de retour et me demande de t<strong>ester sa
                        compatibilité</strong> avec les autres navigateurs. Quand je dis "autres navigateurs" je parle
                    surtout d'Internet Explorer. Je vérifie alors sa <strong>compatibilité jusqu'à IE8</strong> et pour
                    ce faire je suis obligé d'utiliser des <strong>polyfills pour les balises html5, les media queries
                        ou encore les placeholders</strong>. J'ai donc passé beaucoup de temps à me documenter là dessus
                    et à analyser les autres sites de Résidence Mixte pour savoir comment procéder. L'un des scripts
                    nécessaire à la compatibilité IE recquiert une requête en Ajax, je ne peux donc pas tester la
                    compatibilité hors serveur. Je suis donc obligé d'<strong>installer Wamp</strong> sur le PC (sur
                    lequel est installé Xampp mais je ne le connais pas) pour pouvoir faire mes modifications.</p>

                <p><strong>Mercredi 13 Mai </strong></p>

                <p>Un projet est à livrer au plus vite, il s'agit de<strong> TRAM Magazine</strong>. Un projet pour
                    lequel j'ai fait de nombreuses recherches d'intégration de grilles. En effet, il manque certaines
                    choses pour le site et le projet a pris du retard du fait que le commanditaire ne répondait plus. Je
                    suis donc en charge d'aider Cécile notamment sur les choses qui nous poseraient des soucis. Le but
                    est que je simplifie au mieux le travaille pour avancer le plus vite possible. Je me penche donc sur
                    la <strong>génération d'un fichier .ics en php.</strong> Ce fichier a pour but de renseigner un
                    évênement que l'on peut ajouter à son calendrier ical, outlook, etc. Je trouve assez rapidement ce
                    que je veux pour le générer grâce à de nombreux topics sur<strong> iCalcreator-2.4.</strong> (un
                    package me permettant de créer un fichier php). Mon <strong>niveau est assez faible en Php</strong>
                    et je le regrette vraiment. Je <strong>réalise la génération ce fichie</strong>r, mais<strong> je
                        peine à le récupérer</strong> celui-ci s'enregistre sur le serveur mais je souhaiterais qu'il
                    soit soumis dans une fenêtre de téléchargement pour l'utilisateur. Je trouve enfin <strong>un
                        tutoriel vidéo qui me permet de le réaliser en dur</strong>. Celui-ci est fonctionnel et
                    correspond à ce que nous recherchions.</p>

                <p><strong>Vendredi 15 Mai </strong></p>

                <p>Nous sommes trois. Aujourd'hui la plupart des personnes font le pont et à l'agence l'ambiance est
                    très très calme. Mais nous avons du boulot et je suis chargé de me pencher sur <strong>les maps
                        customisées du site Tram</strong>. Tram permet de découvrir plusieurs expositions à des endroits
                    différents le tout autour d'un thème ou d'un évênement. Du coup, <strong>il y a des itiniréraires à
                        suivre</strong> et je suis donc chargé de réaliser <strong>une carte google map
                        dynamique</strong> de sorte à ce que le commanditaire puisse <strong>renseigner les coordonées
                        des différents lieux</strong> où se rendre dans le back office et que ça <strong>retranscrive
                        l'itinéraire sur la carte.</strong> De plus, celle-ci possède des <strong>markers
                        customisées,</strong> tout comme le reste de la carte. Il faut pouvoir <strong>afficher des
                        infos autrement que sur la map lorsque l'on clique sur les markers</strong>. Je réalise la map
                    grâce à l'<strong>API Google Map</strong> et aux nombreuses documentations autour de celle-ci. La
                    customisation est réalisée et un tableau dans lequel je renseigne les lieux me créé l'itinéraire
                    (j'en suis plutôt fier). Cependant, n'arrive pas à récupérer l'évènement click sur les markers alors
                    que la fin de journée approche. Je pense donc que je terminerai ça Lundi. </p>

                <p><strong>Conclusion : </strong></p>

                <p>C'est une<strong> semaine très variée</strong> qui m'a apporté beaucoup de satisfaction notamment
                    parce que <strong>j'ai réussi des choses que je ne pensais pas pouvoir faire il y a encore quelques
                        jour</strong>s. Je découvre énormément de choses et <strong>surmonte de petites
                        difficultés</strong>. La semaine prochaine, je repasse sur de la créa car je vais devoir
                    <strong>réaliser des newsletter pour Résidence Mixte</strong>. Je tacherai de m'appliquer et de
                    prendre en compte l'intégration car je serai peut être chargé de les intégrer. <br/>
                     </p>
            </li>
            <li>
                <p><strong>Lundi 18 Mai</strong></p>

                <p>Je reprends la carte google map du site Tram pour récupérer l'évènement clique. Mes recherches me
                    mènent à de nombreuses astuces et solutions cependant il ne s'agit pas seulement de changer la
                    couleur du marker sélectionné, il faut aussi réussir à indexer chaque markeur dans un tableau pour
                    pouvoir récupérer l'id correspondant lorsque je clique dessus. Une fois sélectionné, le texte propre
                    au lieu doit s'afficher sous la carte pour donner des informations complémentaires. Les nombreuses
                    recherches dans l'API Google Map m'ont permis d'arriver à récupérer cet évènement et de réaliser cet
                    affichage. Cependant, je n'ai pas réussi à mettre en place un markeur courant ayant une couleur
                    différente. </p>

                <p><strong>Mardi 19 Mai </strong></p>

                <p>Je mets de côté ma Google Map pour me consacrer à un travail de design à présent. Il s'agit de
                    réaliser un template de newsletter pour l'écosystème de Résidence Mixte à savoir : Franchise
                    Marketing Factory, Digitalisations, le blog Open Space. La mission est de produire une maquette
                    propre à chaque offre tout en gardant le même esprit, une cohésion graphique. Comme pour la
                    réalisation de mon premier template de page d'attente, je commence par un Benchmark et fait un
                    compte rendu à Amir avec qui nous décidons vers quel direction poursuivre le design. La réalisation
                    se fera sur Sketch car l'agence souhaite désormais éditer ses créations graphiques sur ce logiciel
                    plus adapté au web. J'ai donc pris le temps de l'installé et de le tester avant de revenir à la map
                    de Tram. <br/>
                    J'ai poursuis mes recherches sur le markeur courant et n'ai pas trouvé de solutions. Cécile, l'a
                    trouvera en sortant les markeurs pour les mettre dans le DOM. Ainsi nous avons plus de contrôle sur
                    le styles de ceux-ci. </p>

                <p> </p>

                <p><strong>Mercredi 20 Mai</strong></p>

                <p>Je poursuis la réalisation du template de newsletters et me familarise avec Sketch. Je réalise une
                    première maquette et la présente à l'équipe studio. La plupart approuve le travail en me demandant
                    de corriger certaines marges, ou tailles de typos (assez forte et grande chez Résidence Mixte).
                    Cependant, Amir trouve que cette maquette est trop structurée, trop typée école Suisse. Je dois donc
                    réalisé des alternative mélangeant certaines formes afin de casser les lignes qui dessinent ma
                    grille. J'y apporte donc plusieurs modifications et propose alors trois autres alternative mais la
                    solution sera de mélanger la première proposition avec la seconde.</p>

                <p><strong>Jeudi 21 Mai</strong></p>

                <p>Pour cette demi-journée, je reprends les différentes propositions faites la veille pour réaliser la
                    maquette finale. Une fois terminé, je passe sur le site Trois Fois Vin et poursuis l'intégration car
                    le header fut enfin validé par le client. Il s'agit d'un header assez complexe dans la mise en
                    place, des éléments sortent de ma grille et celui-ci est composée d'un triple navigation. J'ai tout
                    juste le temps de mettre en place les différents styles nécessaires. </p>

                <p><strong>Vendredi 22 Mai</strong></p>

                <p>Pour clore la semaine, j'intègre le header de Trois Fois Vin. Celui-ci me demande au final quelques
                    modifications de maquette. Il est difficile d'intégrer cet élément en dernier mais il faut faire
                    preuve d'"agilité" en acceptant de procéder de cette façon. Je m'attarde donc sur ce dernier et
                    constate très vite qu'il possède un problème d'ergonomie; celui-ci s'adapte très mal pour le
                    responsive. </p>

                <p><strong>Conclusion</strong> </p>

                <p>Une bonne semaine bien chargée dans laquelle j'ai pu retrouver de la satisfaction en terminant le
                    template de newsletter. Cependant, j'appréhende un peu cette histoire de header que l'on va sans
                    doute régler dans les semaines à venir.</p>
            </li>
            <li>
                <p><strong>Mardi 26 Mai</strong></p>

                <p>Je reprends les travaux sur le header de Trois Fois Vin en tentant de trouver une alternative à notre
                    problème de responsive. Je teste plusieurs solutions, cependant le designer, Pierre Antoine souhaite
                    conserver une mise en page qui ne résouds pas vraiment le problème. Je tente alors plusieurs choses
                    mais je galère à trouver et mettre en place simplement le menu pré-configuré par Cécile. En effet,
                    pour version mobile, Cécile a réalisé un menu type qui se répète sur plusieurs projets cependant, je
                    n'avais pas prévu lors du développement de mes pages que ce menu aurait déjà un script réalisé ou
                    des classes attribuées. Je dois alors modifié mon code afin de le faire fonctionner. </p>

                <p><strong>Mercredi 27 Mai </strong></p>

                <p>Le header de TFV nous pose encore problème, j'ai proposé une solution qui permet de rendre la version
                    responsive assez propre, cependant, celle-ci casse un peu le style du menu sous 1080px. Il ne faut
                    pas avoir un style différent car le client à déjà validé la maquette et nous devons concerver une
                    mise en page quasi identiques pour les 13 pouces. Le designer me demande alors de laisser cet
                    exercice de côté le temps qu'il réalise une alternative.<br/>
                    J'ai donc poursuivi sur un autre projet, il s'agit de designé un jeu facebook pour Cartidge World.
                    Ce jeu est un quizz avec un tirage au sort et un instant gagnant. Ce type de jeu à déjà été réalisé
                    par RM pour d'autres enseignes, je dois alors m'inspirer de la mise en page pour faire ces
                    différents écrans. En participant à ce jeu, l'heureux gagnant se voit remettre une statuette à son
                    effigie imprimée en 3D. La difficulté de ce travail fut de trouver des visuels autour de ce thème.
                    J'ai donc réalisé plusieurs essais et les ai montré au DA pour avoir ses avis.</p>

                <p><strong>Jeudi 28 Mai </strong></p>

                <p>En cette matinée, nous avons eu le plaisir d'accueilir, aux alentours de 10h00, Mr Senente, mon
                    tuteur durant ce stage. Je repris donc mon activité l'après-midi en poursuivant sur le design du
                    jeu. J'ai réalisé plusieurs essais avec différents visuels et j'ai reçu une affiche print autour de
                    l'impression 3D réalisée par Catridge World. Je devais m'inspirer de celle-ci, cependant la qualité
                    de cette affiche était extrêmement médiocre, le détourage n'était pas réalisé/terminé correctement
                    et le style n'était pas très esthétique. C'est à partir de ça que j'ai tenté de réaliser les
                    maquettes. </p>

                <p><strong>Vendredi 29 Mai </strong></p>

                <p>En cette demi-journée, je poursuis et termine les maquettes de Catridge World afin de les
                    retransmettre à Pauline, qui m'avait briefé sur ce projet. J'attends alors les retours afin d'y
                    apporter des modifications si nécessaires. </p>

                <p><strong>Conclusion :</strong> </p>

                <p>Une semaine très courte une fois de plus qui était plus basée sur le design. J'ai pu travailler avec
                    différentes personnes dans l'agence, notamment Pierre Antoine avec qui je travaille sur chaque
                    projet en cours afin de trouver des solutions à certains problèmes de mise en forme. </p>
            </li>
            <li>
                <p><strong>Lundi 1er Juin </strong></p>

                <p>En ce début de semaine, j'apprends la nouvelle refonte du site Franchise Marketing Factory (v3). Il
                    s'agit de supprimer du contenu, d'en rajouter des autres déjà édités et de supprimer certaines pages
                    notamment celles où figurent les animations que j'ai précédemment réalisées. Le nouveau site reprend
                    change de navigation et le style des pages est pour la plupart adapter sur le même template, je peux
                    déjà commencer à modifier les contenus, ajouter les pages et la navigation en pré-prod sur
                    Wordpress. Cependant, certains contenus demandent la création de nouveau template. Je ne suis pas en
                    charge de les réaliser et stop mon avancée en attendant que Cécile réalise ces nouveaux templates.
                    La principale difficulté est de ne pas avoir de maquette designé pour cette refonte, c'est quelque
                    chose qui fruste un peu les différents membre de l'équipe mais c'est ce que Julien appelle le MVP :
                    Minimum Viable Product. Ici pas d'esthétique mais l'accès direct à l'information, la partie
                    graphique se rajoute après. <br/>
                    Stopé dans mon élan, je reprends donc un autre projet destiné au ministère de la culture : les
                    portes du temps. Je dois juste changer les couleurs du site à l'effigie de la nouvelle affiche. Le
                    site réalisé quelques années avant ne changera pas, seuls les couleurs, hovers et images seront
                    mises à jour. Je suis donc en charge de réaliser la bannière de ce site en me basant sur l'affiche
                    officiel. Une fois mon travail terminé, je rends le fichier .css et les images à Amir qui n'aura
                    plus qu'à mettre en prod. </p>

                <p><strong>Mardi 2 Juin</strong></p>

                <p>Ce mardi, je travaille à nouveau sur le header de TFV. Pierre Antoine semble avoir quelques pistes et
                    nous trouvons une solution en collaborant de la façon suivante: installé à côté de moi nous testons
                    ses idées grâce à un outil de déboggage de façon grossière. Une fois que nous trouvons une version
                    satisfaisante, je code tout ça au propre pour tester sa véritable fonctionnalité. Une journée fut
                    nécessaire pour trouver une alternative mais cette collaboration fut très efficace car le header est
                    désormais fonctionnel. Il s'agira aussi du header du site d'e-commerce qui arrivera cet été d'où
                    l'importance de ne pas le négliger. </p>

                <p><strong>Mercredi 3 Juin</strong> </p>

                <p>Je m'attèle à la mise en page des différents contenus de la V3 de FMF. On y retrouve notamment un
                    questionnaire destiné à être rempli pour y découvrir le taux de digitalisations du franchisé. Ce
                    questionnaire est constitué de 24 questions, non mises en forme du fait que ce soit un MVP et
                    qu'aucune maquette n'est destiné à celà. J'essaie en vain de trouver un système me permettant
                    d'embellir ce questionnaire mais ces 24 questions constituent une liste infâme et répulsive. Il faut
                    alors réduire le nombre de question pour que celà soit beaucoup plus simple. Je transmets alors les
                    différentes modifications en fin de journée à Julien afin d'avoir des retours le plus rapidement
                    possible. <br/>
                    Je reçois aussi quelques retours des portes du temps qui souhaite une petite modification de
                    couleurs.</p>

                <p><strong>Jeudi 4 Juin </strong></p>

                <p>En cette demi-journée, je poursuis le travail sur FMF en m'attaquant cette fois-ci à l'animation du
                    schéma de Julien réalisée en scroll-jacking. Cette fois-ci celle-ci doit fonctionner au clique grâce
                    aux boutons suivant et précédent. Je corrige alors mon script afin de l'adapter à cette
                    situation. </p>

                <p><strong>Vendredi 5 Juin </strong></p>

                <p>Une discussion s'impose pour le projet FMF, me voilà à modifier des choses sans que la chef de projet
                    et ma maître de stage ne soient prévenus par Julien. Je me suis lancé dans quelque chose de
                    compliqué et ai perdu du temps précieux sur la mise en place de ce formulaire alors que l'agence a
                    pour habitude d'utiliser un plugin wordpress qui facilite grandement la tâche. Le quiproquo demande
                    alors une réunion pour mettre tout à jour. Je me retrouve donc à designer une mise en page pour le
                    questionnaire qui sera réalisé par maître de stage. Une fois réalisé, je poursuis mon animation en
                    l'intégrant cette fois-ci dans une page fictive pour avoir un premier rendu graphique. </p>

                <p><strong>Conclusion : </strong></p>

                <p>Le projet FMF et le modèle MVP mis en place par Julien frustre un peu tout le monde. Il est difficile
                    de travailler sans visuel et ce projet test ressemble à un échec, mais en cette fin de semaine nous
                    avons bien avancé sur cettre V3 et il ne devrait plus y avoir de soucis pour la continuité.</p>
            </li>
            <li>
                <p>Lundi 8 Juin </p>

                <p>Ca y est nous entrons dans la dernière semaine, la mélancolie s'installe petit à petit. Je poursuis
                    la mise en place de l'animation et test des mises en pages avec Pierre Antoine pour trouver laquelle
                    s'intrègre le mieux à l'ensemble du site. Je redessine aussi tout le schéma pour y augmenter la
                    taille de la police. Il m'était impossible de le faire dans le code car comme un canvas, mon espace
                    de dessin pour mon Svg possède une taille fixe et en augmentant la taille des textes, ceux-ci
                    sortent de l'espace et ne sont donc plus visibles.<br/>
                    En fin de journée, Pierre Antoine m'annonce une modification des polices du blog TFV car les
                    anciennes demandaient une licence onéreuse. Nous avons donc mis en place ces nouvelles polices très
                    rapidement grâce aux mixins et variables de Sass. Nous en avons aussi profité pour y apporter les
                    dernières modifications au responsive en modifiant la taille des typos en fonction du seuil de
                    chaque média queries.</p>

                <p>Mardi 9 juin - Jeudi 11 juin </p>

                <p>Ces trois jours ont été des jours de test pour appréhender les intégrations de newsletter. J'ai donc
                    travaillé à partir de celles réalisées par Résidence Mixte pour tenter de développer le template que
                    j'ai designé au préalable. Il s'agit d'un exercice car la version finale de cette intégration sera
                    réalisée par ma maître de stage. J'ai donc réalisé celle-ci en testant sa compatibilité via Litmus.
                    Litmus combiné de campaign monitor me permettent d'envoyer mon code vers une adresse mail fictive
                    qui me servira à émuler divers dispositifs de clients mails grâce à Litmus. Je rencontre certaines
                    difficultés avec mes tableaux et me rend compte de la difficulté de compatibilité avec certains
                    versions de Outlook notamment 2007/10/13. </p>

                <p>Vendredi 12 Juin </p>

                <p>Il s'agit du dernier jour et quelle tristesse ! Cependant, je suis tout de même chargé de modifier le
                    script de la carte Tram en tentant cette fois-ci de mettre en place un vol d'oiseau grâce aux
                    fonctions polyline de l'API Google Maps. Je tente plusieurs astuces et j'ai quelques pistes mais la
                    journée touche déjà à sa fin. </p>

                <p>Conclusion : </p>

                <p>Cette dernière semaine fut spéciale. Je regrette de ne pas avoir pu aller au bout des choses et
                    aurait voulu prolonger ce stage qui m'a tant apporté ! Mais une bonne nouvelle était au rendez-vous,
                    je poursuivrai peut-être mon alternance chez Résidence-Mixte l'an prochain. De quoi réaliser
                    d'autres projets aussi passionnants !</p>
            </li>
            <li><p><strong>Contenu indisponible</strong></p></li>
        </ul>
    </section>
</main>
{% endblock %}

{% block includeBody %}
<script src="{{ asset('js/menu.js') }}"></script>
<script src="{{ asset('js/internship.js') }}"></script>

{% endblock %}