{% extends "MMIBundle::template.html.twig" %}

{% block title %}Gérer mon stage{% endblock %}

{% block includeHead %}
    <link rel="stylesheet" href="{{ asset("assets/jquery-ui-1.11.4/jquery-ui.min.css") }}">
    {#<script type="text/javascript" src="{{ asset("assets/jquery-latest.min.js") }}"></script>#}
    <script type="text/javascript" src="{{ asset('js/form_regex.js') }}"></script>
{% endblock %}

{% block bodyClass %}internship{% endblock %}

{% block header %}
    class="before"
{% endblock %}

{% block headerExtended %}
        <div class="content">
            <a href="{{ path("mmi_homepage") }}" class="logo white transition">331 Acceuil</a>
            <h1>Gérer mon stage</h1>
            <p>Tu as trouvé ton stage ? Cette section te permet de soumettre ta proposition à la validation de Madame Gil. En cas de problème, n'hésite pas à <a href="mailto:pascale.gil@gmail.com">la contacter</a></p>
            <p>Ca y est, tu as commencé ton stage ! Nous t'invitons à revenir dans cet espace chaque semaine pour compléter
                ton journal de stage. Il pourra être lu par ton tuteur ou tout autre membre de la communauté intéressé par
                ton stage.</p>
            <p>Maintenant que ton stage est terminé, nous t'invitons à remplir ce dernier formulaire. Une fiche stage sera
                crée et associée à ton profil. Elle permettra à tous les membres de la communauté d'en savoir plus sur ton
                stage.</p>
            <!--
            <div>
                <h2>Niveau de formation</h2>
                <div>
                    <button class="white big">DUT</button>
                    <button class="white big">Licence</button>
                </div>
            </div>
            -->
        </div>
{% endblock %}

{% block content %}
    <main>

        <section class="etapes">
            <div>
                <div {% if etape == 'avant' %}class="current"{% endif %}>
                    <div>1</div>
                    <div id="before">Avant le stage</div>
                </div>
                <div {% if etape == 'pendant' %}class="current"{% else %}class="disabled"{% endif %}>
                    <div>2</div>
                    <div id="during">Pendant le stage</div>
                </div>
                <div {% if etape == 'apres' %}class="current"{% else %}class="disabled"{% endif %}>
                    <div>3</div>
                    <div id="after">Après le stage</div>
                </div>
            </div>
        </section>
        <section class="before formulaire current {% if etape != 'avant' %}hidden{% endif %}">
            {%  if beforeForm is defined %}
                {{ form_start(beforeForm) }}
                    <h1>Avant le stage</h1>
                    <!--
                    <h2>Date du stage</h2>
                    <div class="dateSelector">
                        {#{{ form_widget(beforeForm.dateBegining,
                        {"attr": {
                            "class": "big stretch"},
                            "id": "datePicker"}) }}#}
                    </div>
                    <div class="dateSelector">
                        {#{{ form_widget(beforeForm.dateEnding,
                        {"attr": {
                            "class": "big stretch"},
                            "id": "datePicker"}) }}#}
                    </div>
                    -->
                    <h2>Place dans l'entreprise</h2>

                    <div class="ui-widget">
                        {{ form_widget(beforeForm.companyId, {'attr': {'class': 'big', 'placeholder': 'Nom de l\'entreprise'}}) }}
                    </div>

                    {{ form_widget(beforeForm.workFunction, {'attr': {'class': 'big', 'placeholder': 'Service d\'affectation'}}) }}
                    <!--<h2>Avez-vous répondu à une offre ?</h2>
                    <p><input type="radio" value="oui" id="oui"><label for="oui">Oui</label></p>
                    <p><input type="radio" value="non" id="non"><label for="non">Non</label></p>
                    <p>Saisissez le numéro de l'offre :
                        {# {{ form_widget(beforeForm.offerId, {'attr': {'class': 'big', 'style': 'margin-top:15px'}}) }}#}
                    </p>-->
                    <h2>Signataire de la convention</h2>
                    {{ form_widget(beforeForm.signatoryFirstname, {'attr': {'class': 'big', 'placeholder': 'Prénom'}}) }}
                    {{ form_widget(beforeForm.signatoryLastname, {'attr': {'class': 'big', 'placeholder': 'Nom'}}) }}
                    {{ form_widget(beforeForm.signatoryFunction, {'attr': {'class': 'big', 'placeholder': 'Fonction'}}) }}
                    <h2>Maître de stage</h2>
                    {{ form_widget(beforeForm.masterFirstname, {'attr': {'class': 'big', 'placeholder': 'Prénom'}}) }}
                    {{ form_widget(beforeForm.masterLastname, {'attr': {'class': 'big', 'placeholder': 'Nom'}}) }}
                    {{ form_widget(beforeForm.masterEmail, {'attr': {'class': 'big', 'placeholder': 'Email'}}) }}
                    {{ form_widget(beforeForm.masterTelephone, {'attr': {'class': 'big', 'placeholder': 'Téléphone'}}) }}
                    <h2>Ton job</h2>
                    {{ form_widget(beforeForm.description, {'attr': {'class': 'big', 'placeholder': 'Missions qui te sont confiées', 'cols': '30', 'rows': '20'}}) }}
                    {{ form_widget(beforeForm.valider, {'attr': {'class': 'big', 'style': 'margin-top: 30px;display: block', 'value': 'Valider'}} ) }}
                {{ form_end(beforeForm) }}
            {% else %}
            <h1 class="waiting">{% if result is defined %}{{ result }}{% endif %}</h1>
            {%  endif %}
        </section>
        <section class="during formulaire current {% if etape != 'pendant' %}hidden{% endif %}">
            <section>
                <div>
                    <div>
                        <a class="past">1</a>
                        <a class="current">2</a>
                        <a>3</a>
                        <a>4</a>
                        <a>5</a>
                        <a>6</a>
                        <a>7</a>
                        <a>8</a>
                        <a>9</a>
                        <a>10</a>
                        <a>11</a>
                        <a>12</a>
                    </div>
                </div>
                <div>
                    <span><span>Du</span> 01/01/2016</span>
                    <span><span>Au</span> 01/01/2016</span>
                </div>
            </section>
            <section>
                <form action="">
                    <h2>Raconte nous ta semaine</h2>
                    <span>2/12</span>
                    <textarea style="margin:30px 0;"></textarea>
                    <button class="big">Valider</button>
                </form>
            </section>
        </section>
        <section class="after formulaire current {% if etape != 'apres' %}hidden{% endif %}">
            <form action="">
                <h1>Après le stage</h1>
                <h2>Fonction(s) occupées</h2>
                <input type="text" class="big" placeholder="#Métiers">
                <h2>Compétences acquises</h2>
                <input type="text" class="big" placeholder="#Compétences">
                <h2>Commentaires personnels</h2>
                <textarea cols="30" rows="20" placeholder="Commentaires"></textarea>
                <h2>Note</h2>
                <div class="rating" style="margin-bottom:30px">
                    <span>☆</span><span>☆</span><span>☆</span><span class="note">☆</span><span>☆</span>
                </div>
                <h2>Rapport de stage</h2>
                <input type="file">
                <span style="font-size:0.8em;display:block;margin-bottom: 30px">Les fichiers doivent être au format pdf et peser moins de 20 Mo</span>
                <button class="big">Valider</button>
            </form>
        </section>
    </main>
{% endblock %}

{% block includeBody %}

    <script type="text/javascript" src="{{ asset("assets/jquery-custom.min.js") }}"></script>
    <script src="{{ asset("assets/jquery-ui-1.11.4/jquery-ui.min.js") }}"></script>

    <!--<script type="text/javascript" src="{{ asset("assets/datePicker.js") }}"></script>-->
    <script type="text/javascript" src="{{ asset("js/ajax/ajaxGetByType.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ajaxListGetByType('Company', $('input#beforeInternship_companyId'));
        })
    </script>
    <!--
    <script>
        $('#before').click(function () {
            $('section.during, section.after').addClass("hidden");
            $('section.before').removeClass("hidden");
            $('header').removeClass();
            $('header').addClass("before");
        });


        $('#during').click(function () {
            $('section.before, section.after').addClass("hidden");
            $('section.during').removeClass("hidden");
            $('header').removeClass();
            $('header').addClass("during");
        });


        $('#after').click(function () {
            $('section.during, section.before').addClass("hidden");
            $('section.after').removeClass("hidden");
            $('header').removeClass();
            $('header').addClass("after");
        });
    </script>
    -->

{% endblock %}
