{% extends "MMIBundle::template.html.twig" %}

{% block title %}Attribuer tuteurs aux stages établis{% endblock %}

{% block bodyClass %}stage{% endblock %}

{% block headerExtended %}
    <div>
        <h1>Listes des stages établis</h1>

        <p>Bonjour M. Senente ! Voici la liste des stages dont la convention a été établie par Élodie.
            Elle vous permettra de définir le tuteur, la date de visite et la date de soutenance.</p>
    </div>
{% endblock %}

{% block content %}
<main class="etablis">
    <section>
        <table>
            <tr class="main">
                <td colspan="2"><p>Étudiant</p></td>
                <td><p>Fiche de stage</p></td>
                <!--<td><p>N° offre</p></td>-->
                <td><p>Entreprise</p></td>
                <td><p>Tuteur de stage</p></td>
                <td><p>Date de visite</p></td>
                <td><p>Date de soutenance</p></td>
                <td><p>Validation</p></td>
            </tr>
            {% for internship in internships %}
                {% set form = stageEtablisForms[internship.id].createView %}
                <tr>
                    <td><a href="{{ path('mmi_student', {'id': internship.userId}) }}"><span
                                    style="background-image: url({{ asset('images/profil_picture/') }}{{ internship.getUser.imageProfilFile }})">Photo de profil</span></a></td>
                    <td><a href="{{ path('mmi_student', {'id': internship.userId}) }}">{{ internship.getUser.firstName }} {{ internship.getUser.lastName }}</a></td>
                    <td><a href="{{ path('mmi_internship', {'id': internship.id}) }}" target="_blank">Accès fiche</a></td>
                    <!--<td>{% if internship.offerId != 0 %}<a href="#{{ internship.offerId }}">Offre</a>{% endif %}</td>-->
                    <td><a href="{{ path('mmi_company', {'id': internship.companyId}) }}">{{ internship.getCompany.name }}</a></td>

                    {{ form_start(form) }}

                    {{ form_widget(form.id) }}

                    <td>{{ form_widget(form.tutor_id, {'attr': {'class': 'big', 'placeholder': 'Tuteur de stage'}}) }}</td>
                    <td>{{ form_widget(form.date_visite, {'attr': {'class': 'big', 'placeholder': 'Date de visite'}}) }}</td>
                    <td>{{ form_widget(form.date_soutenance, {'attr': {'class': 'big', 'placeholder': 'Date de soutenance'}}) }}</td>
                    <td>{{ form_widget(form.valider, {'attr': {'class': 'big', 'style': 'margin-top: 30px;display: block', 'value': 'Valider'}} ) }}</td>

                    {{ form_end(form) }}

                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>

    <!--
    <section class="map">
        <h1>Carte</h1>

        <p>Filtrer par tuteur :
            <select name="select" class="custom-select sources selector_type" placeholder="Tous">
                <option value="value1">Xavier Senente</option>
                <option value="value2">Xavier Senente</option>
                <option value="value3">Xavier Senente</option>
                <option value="value4">Xavier Senente</option>
            </select></p>
        <div id="map"></div>
    </section>
    -->
</main>
{% endblock %}

{% block includeBody %}

    <script src="{{ asset("assets/jquery-ui-1.11.4/jquery-ui.min.js") }}"></script>

    <script src="{{ asset('js/map_stage.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpJzOJLQuJUianW27QLEzMo9Y-YWp7aW4&callback=initMap">
    </script>
    <script src="{{ asset('assets/datePicker.js') }}"></script>
    <script src="{{ asset('js/custom_select.js') }}"></script>

    <script src="{{ asset('js/ajax/ajaxGetByType.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // Tuteur
            ajaxGetByType('Tuteur', $('input#'));

        });
    </script>
{% endblock %}