{% extends "MMIBundle::template.html.twig" %}

{% block title %}Conventions à faire{% endblock %}

{% block bodyClass %}stage{% endblock %}

{% block headerExtended %}
    <div>
        <h1>Listes des stages validés</h1>

        <p>Bonjour Elodie ! :) Voici la liste des stages validés par Mme Gil.
        Cette page vous permettra d'établir les conventions.</p>
    </div>
{% endblock %}

{% block content %}
<main>
    <section>
        <table>
            <tr class="main">
                <td colspan="2"><p>Étudiant</p></td>
                <td><p>Fiche de stage</p></td>
                <!--<td><p>N° offre</p></td>-->
                <td><p>Entreprise</p></td>
                <td><p>Générer la convention</p></td>
                <td><p>Valider la convention</p></td>
            </tr>

            {% for internship in internships %}
                <tr>
                    <td><a href="{{ path('mmi_student', {'id': internship.userId}) }}"><span
                                    style="background-image: url({{ asset('images/profil_picture/') }}{{ internship.getUser.imageProfilFile }})">Photo de profil</span></a></td>
                    <td><a href="{{ path('mmi_student', {'id': internship.userId}) }}">{{ internship.getUser.firstName }} {{ internship.getUser.lastName }}</a></td>
                    <td><a href="{{ path('mmi_internship', {'id': internship.id}) }}" target="_blank">Accès à la fiche</a></td>
                    <!--<td>{% if internship.offerId != 0 %}<a href="#{{ internship.offerId }}">Offre</a>{% endif %}</td>-->
                    <td><a href="{{ path('mmi_company', {'id': internship.companyId}) }}">{{ internship.getCompany.name }}</a></td>
                    <td><a href="{{ path('mmi_agreement_generation', {'id': internship.id}) }}"><i class="fa fa-check"></i></a></td>
                    <td><a href="{{ path('mmi_agreement_validation', {'id': internship.id}) }}"><i class="fa fa-check"></i></a></td>
                </tr>
            {% endfor %}

        </table>
    </section>
</main>
{% endblock %}