{% extends "MMIBundle::template.html.twig" %}

{% block title %}Les stagiaires dont je suis tuteur{% endblock %}

{% block bodyClass %}stage{% endblock %}

{% block headerExtended %}
    <div>
        <h1>Listes des stages qui vous sont attribués</h1>

        <p>Suivez les stages des étudiants dont vous êtes le tuteur.</p>
    </div>
{% endblock %}

{% block content %}
<main class="etablis">
    <section>
        <table>
            <tr class="main">
                <td><p>Étudiant</p></td>
                <td><p>Nom Prénom</p></td>
                <td><p>Fiche de stage</p></td>
                <td><p>Entreprise</p></td>
                <td><p>Date de visite</p></td>
                <td><p>Date de soutenance</p></td>
            </tr>
            {% for internship in internships %}
            <tr>
                <td><a href="{{ path('mmi_student', {'id': internship.userId}) }}"><span
                                style="background-image: url({{ asset('images/profil_picture/') }}{{ internship.getUser.imageProfilFile }})">Photo de profil</span></a></td>
                <td><a href="{{ path('mmi_student', {'id': internship.userId}) }}">{{ internship.getUser.firstName }} {{ internship.getUser.lastName }}</a></td>
                <td><a href="{{ path('mmi_internship', {'id': internship.id}) }}" target="_blank">Fiche</a></td>
                <td><a href="{{ path('mmi_company', {'id': internship.companyId}) }}">Entreprise</a></td>
                <td>{{ internship.dateVisite|date("m/d/Y") }}</td>
                <td>{{ internship.dateSoutenance|date("m/d/Y") }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <!--
    <section class="map">
        <h1>Carte</h1>

        <div id="map"></div>
    </section>
    -->
</main>
{% endblock %}


{% block includeBody %}
<script src="{{ asset('js/map_tuteur.js') }}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpJzOJLQuJUianW27QLEzMo9Y-YWp7aW4&callback=initMap">
</script>

{% endblock %}