// colors

$color-1: #3E3D44;
// Martinique
$color-2: #7BC9E5;
// Mulled Wine
$color-3: #dadcdc;
// Iron
$color-4: #65d29b;
// Emerald
$color-5: #1c1726;
// Bastille
$color-6: #ffffff;
// White

// fonts 

$primary-font: Raleway, sans-serif;
$secondary-font: Raleway-Bold, sans-serif;

// animation duration

$fold-animation: .5s;
$fold-content-animation: .2s*(3+1)/2;
// replace 3 with number of elements that you want to animate