@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

.footnote {
  margin: 40px 0 0 20px;
  font-weight: 500;
  font-size: 0.75em;
  color: $grey;
}

.dateSelector {
  width: 100%;
}

.calendar {
  position: relative;
  display: block;
  //font: 500 0.8em/30px;
  font-family: Raleway, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  padding: 0;
  color: $dark_grey;
  width: 100%;
}

.calendar .view {
  position: relative;
  // float: left;
  display: block;
}

.calendar .nav {
  position: absolute;
  top: 0;
  left: calc(50% - 140px);
  width: 280px;
}

.calendar .nav .btn {
  position: absolute;
  display: block;
  z-index: 1;
  cursor: pointer;
  cursor: hand;
  width: 32px;
  height: 32px;
  line-height: 31px;
  top: 0;
  left: auto;
  transition: opacity .5s;
  border-radius: 4px;
  text-align: center;
}

.calendar .nav .btn:hover {
  color: $dark_grey;
  background: $grey;
  border-color: $dark_grey;
}

.calendar .nav .prev {
  left: 0;
}

.calendar .nav .prev-year {
  opacity: 0;
  left: 32px;
}

.calendar .nav:hover .prev-year {
  opacity: 1;
}

.calendar .nav .next-year {
  opacity: 0;
  right: 32px !important;
}

.calendar .nav:hover .next-year {
  opacity: 1;
}

.calendar .nav .next {
  right: 0;
}

.calendar .head {
}

.calendar .head .title {
  //font: 300 1.2em/32px;
  font-family: Raleway, sans-serif;
  position: relative;
  //float: left;
  //width: 100%;
  text-align: center;
  line-height: 32px;
  background-color: white;
  width: 280px;
  margin: auto;
  display: block;
}

.calendar .head span {
  cursor: pointer;
}

.calendar .row {
  clear: both;
}

.calendar .row.th {
  //font-weight: 700;
  text-transform: uppercase;
  height: 41px;
  width: 280px;
  margin: auto;
  background-color: white;
}

.calendar .row.th .C {
  border-bottom: 1px solid $grey;
  border-radius: 0;
}

.calendar .C {
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: left;
  transition: background-color .05s, color .05s;
  border-radius: 50%;
}

.calendar .C.mn {
  cursor: pointer;
  cursor: hand;
}

.calendar .C.mn:hover {
  background: $dark_grey;
  color: white;
}

.calendar .C.g {
  color: $grey;
  font-weight: 300;
}

.calendar .C.slctd {
  background: $dark_grey;
  color: white;
  font-size: 1.15em;
  font-weight: 300;
}

.calendar .C.today {
  font-weight: 900;
  font-size: 1.3em;
}

.calendar .selected {
  margin: 0 0 0 64px;
  float: right;
  text-align: center;
  width: 280px;
}

.calendar .selected .desc {
  border-bottom: 1px solid $grey;
}

.calendar .selected .val {
  padding: 0 8px;
  background: white;
  color: $grey;
}

.calendar .dayArea {
  position: relative;
  width: 280px;
  height: 240px;
  overflow: hidden;
  margin: auto;
  background-color: white;
}

.calendar .dayArea .mArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}