input {
  background: white;
  border: 1px solid $light_blue;
  height: 25px;
  display: block;
  @include border-radius();
  padding: 0 10px;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  color: $grey_blue;

  form.search & {
    display: inline;
  }
  &:hover {
    border-color: $grey;
  }
  &:focus {
    border-color: $blue;
    outline: none;
  }
  &.big {
    height: 40px;
    margin-bottom: 15px;
    width: 230px;
    font-size: 1em;
  }
  @include input-placeholder {
    text-align: left;
  }
  &.right {
    padding-right: 10px;
    text-align: right;
    @include input-placeholder {
      text-align: right;
    }
  }
  &.verif {
    position: relative;
    &.passed {
      border-color: $green;
    }
    &.rejected {
      border-color: $red;
    }
  }
  &.stretch, &.stretch_inline {
    width: 100%;
  }
}

textarea {
  background: white;
  border: 1px solid $light_blue;
  display: block;
  @include border-radius();
  padding: 0 10px;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  color: $grey_blue;
  min-width: 100%;
  max-width: 100%;
  height: 160px;
  padding: 15px 10px;
  margin-bottom: 15px;
  font-family: Raleway, sans-serif;
  font-size: 16px;

  form.search & {
    display: inline;
  }
  &:hover {
    border-color: $grey;
  }
  &:focus {
    border-color: $blue;
    outline: none;
  }

  &.stretch {
    width: 100%;
  }
}

.button_border {
  border: 1px solid $light_blue;
  @include border-radius();
  box-sizing: border-box;
  padding-left: 10px;
  height: 40px;
  position: relative;
  line-height: 40px;
  background: white;
  color: $grey_blue;
  font-family: Arial, sans-serif;
  margin-bottom: 15px;

  .file-input {
    display: none;
  }

  button {
    margin: 0;
    position: absolute;
    top: -1px;
    right: -1px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .custom-select-wrapper {
    position: absolute;
    top: -2px;
    right: -1px;

    .custom-select-trigger {
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      padding-right: 20px;
      min-width: 130px;
    }

    .custom-options {
      z-index: 1;
    }
  }

  .custom-select.opened .custom-select-trigger::after {
    margin-top: 9px;
    z-index: 2;
  }
}

button, .button {
  height: 25px;
  padding: 1px 20px;
  margin: 0;
  border: 1px solid $grey;
  box-sizing: content-box;
  background-color: $dark_blue;
  color: white;
  @include border-radius();

  body.search & {
    padding: 1px 10px;
  }

  &.big {
    height: 38px;
    font-size: 1em;
  }
  &.right {
    float: right;
  }
  &.white {
    background-color: white;
    border-color: $blue;
    color: $dark_grey;
    &:hover {
      background-color: white;
      border-color: $grey;
    }
  }
  &.grey {
    background-color: $light_blue;
    border-color: $grey_blue;
    color: $dark_grey;
    &:hover {
      background-color: $dark_blue;
      border-color: $grey;
    }
  }
  &.blue {
    background-color: $blue;
    border-color: $grey_blue;
    color: $dark_grey;
  }
  form.search & {
    right: 0;
  }
  &:hover {
    background-color: darken($dark_blue, 10%);
    @include box-shadow();
  }
  &:focus {
    background-color: lighten($dark_blue, 5%);
    outline: none;
  }
}

button.close{
  margin: 0;
  border:none;
  box-sizing: content-box;
  background-color: transparent;
  color: $dark_grey;
  position: absolute;
  top: 15px;
  right: 0px;
  display: block;
  font-size: 1.5em;
  line-height: 0;

  &:hover{
    background-color: transparent;
    @include box-shadow(none);
    color: $dark_blue;
  }

  span{
    font-size: 1.5em;
  }
}

form {
  position: relative;
}

form.search {
  width: 350px;
  position: absolute;
  top: 170px;
  left: 50%;
  @include translate(-50%, 0);
  h3 {
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
  }
  input {
    width: 250px;
  }
}

form.filter {
  position: absolute;
  @include center(20px);
  z-index: 1;
}

article.log {
  margin: 30px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;

  select {
    display: none;
  }
}

.custom-select-trigger {
  position: relative;
  display: block;
  min-width: 100px;
  padding: 0 15px 0 15px;
  font-size: 0.8em;
  font-weight: 300;
  color: $dark_grey;
  border: 1px solid $light_blue;
  line-height: 30px;
  background: white;
  @include border-radius();
  cursor: pointer;

  &:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-bottom: 1px solid $dark_grey;
    border-right: 1px solid $dark_grey;
    @include transform(rotate(45deg) translate(-50%));
    @include transition(all 0.5s ease-in-out);
    transform-origin: bottom right;
  }
}

.custom-select {
  position: relative;
  display: inline-block;
  &.opened {
    .custom-select-trigger:after {
      margin-top: 3px;
      @include transform(rotate(-135deg) translate(0, -50%));
      border-color: $grey;
      background-color: white;
      z-index: 1;
    }
    .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      @include translateY(0);
    }

  }
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  margin: 10px 0;
  border: 1px solid $grey;
  border-radius: 4px;
  box-sizing: border-box;
  @include box-shadow();
  background: #fff;
  @include transition(0.5s);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  @include translateY(-15px);
}

.option-hover:before {
  background: $very_light_grey;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 10px;
  border-bottom: 1px solid $grey;
  font-size: 0.8em;
  font-weight: 600;
  color: $grey;
  line-height: 30px;
  cursor: pointer;
  @include transition(0.3s);
  &:hover {
    color: $dark_grey;
    background: $very_light_grey;
  }
  &:first-of-type {
    border-radius: 4px 4px 0 0;
  }
  &:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
  }
}

// Page account.html
.manage_account {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;

  // positionnement "responsive" des form
  .wrapper {
    section {
      display: inline-block;
      margin: 5%;
      overflow: auto;
    }
  }

  form {
    margin: 30px 0;
    margin: auto;
    width: 300px;

    input {
      min-width: 300px;
    }

    h2 {
      margin: 0;
      margin-top: 30px;
      font-family: Raleway-Bold, sans-serif;
      font-size: 1.3em;
      line-height: 42px;
    }
  }
}

// pour recentrer un peu le titre au redimenssionnement
@media (min-width: 768px) {
  input.stretch, .button_border {
    //width: 400px;
  }

  input.stretch_inline {
    display: inline-block;
    width: calc(50% - 10px);
  }

  .stretch_inline + .stretch_inline {
    margin-left: 15px;
  }
}

@media (min-width: 992px) {
  .manage_account > h1 {
    margin-left: 10%;
  }
}

/* rating stars */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: $light_blue;
  text-align: left;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.8em;
  font-size: 1.5em;
  text-align: left;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

.rating > span.note:before,
.rating > span.note ~ span:before {
  content: "\2605";
  position: absolute;
  color: $blue;

}

input[type="checkbox"] {
  width: 40px;
}

input[type="checkbox"], label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
}

.custom-file-input {
  &:-webkit-file-upload-button {
    visibility: hidden;
  }
}