html.light {
  background-color: white;
}

html.dark {
  background-color: $dark_grey;
}

.dark_grey {
  background-color: $dark_grey;
}

.grey {
  background-color: $grey;
}

a.thin {
  font-family: raleway-light, sans-serif;
  background-color: transparent !important;
}

.very_light_grey {
  background-color: $very_light_grey;
}

.inset_shadow {
  @include single-box-shadow(0px, 0px, 12px, 0px, $dark_grey, inset);
}

a {
  color: $dark_grey;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.center {
  margin: 0 auto;
}

.quarter {
  margin-left: 25%;
}

.fifth {
  margin-left: 12.5%;
}

.quarter_wide {
  width: 30%;
}

@-webkit-keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

//loader

#loader {
  position: fixed;
  width: 160vw;
  height: 160vw;
  @include border-radius(10000px);
  background-color: white;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
  @include transition(all 1s cubic-bezier(.36, .53, .22, 1));
  z-index: 10;
  svg{
    width: 10% !important;
    height: 10% !important;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -5% 0 0 -5%;
  }
}

#loader.dissmissed {
  width: 0;
  height: 0;
  @include transition(all 1s cubic-bezier(.36, .53, .22, 1));
}

#link_to_edit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.5em;
  i {
    color: white;
  }
  .dark {
    i {
      color: $dark_grey;
    }
  }
}

#errorModal{
  .modal-content{
    min-height: 100px;
    border: none;
    p{
      padding: 60px;
      font-size: 1.5em;
      line-height: 1.7em;
      color: $dark_grey;
      font-family: Raleway-Bold, sans-serif;
    }
  }
}