header {
  width: 100%;
  height: 420px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.home {
    height: 600px;
    overflow: hidden;
    &:after {
      content: "";
      height: 3px;
      background-color: $blue;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.8;
      animation: loading 5s ease-in-out infinite;
    }
  }
  &.article {
    height: 150px;
    position: relative;
  }
}

section {
  padding: 60px 0;
}

body.account section {
  padding: 0;
}

// Caroussel
div.caroussel {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  & img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

div.caroussel_text {
  z-index: 1;

  & h2 {
    position: absolute;
    @include center(160px);
    transform: translate(-50%, -40px);
    transition: transform ease-in-out 1500ms;

    & .super_title {
      display: block;
      margin-left: -10px;
    }

    &.translateIn {
      transform: translate(-50%, 0);
    }

    &.translateOut {
      transform: translate(-50%, 200px);
    }
  }

  div.pro, div.home > p {
    position: absolute;
    top: 430px;
    left: 150px;
    width: 400px;
    transform: translateY(-80px);
    transition: transform ease-in-out 1500ms;

    &.translateIn {
      transform: translateY(0);
    }

    &.translateOut {
      transform: translateY(100px);
    }
  }
}

.logo {
  background-size: cover;
  background-position: center;
  background-image: inline_image('logo.svg');
  height: 40px;
  width: 40px;
  text-indent: -10000px;

  header & {
    position: absolute;
    top: 15px;
    left: 10px;
  }

  &.white {
    background-image: inline_image('logo_white.svg');
  }
}

.right {
  left: auto;
  right: 0;
}

nav.search {
  position: relative;
  height: 50px;
  @include box-shadow();
  ul {
    width: 670px;
    position: absolute;
    @include center(18px);
    @include horizontal-list(10px);
    overflow: hidden;
  }
}

.wrapper {
  @include display-flex();
  @include justify-content(center);
  @include flex-wrap(wrap);
  @include flex-direction(row);

  &.line_row {
    @include flex-wrap(nowrap);
  }
  &.align_left {
    @include justify-content(flex-start);
  }
}

.tile_wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0 50px 0;
  & .tile {
    position: relative;
    width: 250px;
    min-width: 250px;
    background-color: $very_light_grey;
    padding: 20px;
    display: block;
    margin: 30px;
    h6 {
      margin-bottom: 10px;
    }
    &.profile_picture_enabled {
      padding-top: 140px;
      margin-top: 130px;
    }
  }
  &.home_tile {
    @include justify-content(flex-start);
    position: absolute;
    margin: 0px;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0;
  }
  & .loader {
    height: 100%;
    min-width: 60px !important;
  }
}

.content_wrapper {
  margin: 30px 0;
  position: relative;
  padding: 0;
  & ul {
    width: 300px;
    background-color: $very_light_grey;
    height: 100%;
    padding: 60px 0;
    @include single-box-shadow(0px, 0px, 12px, 0px, $dark_grey, inset);
    & li {
      padding: 25px;
    }
  }
}

.wrapper_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 300px);
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.profilepicture {
  width: 200px;
  height: 200px;
  @include border-radius(200px);
  overflow: hidden;
  background-color: $dark_grey;
  background-size: cover;
  background-position: center;
  position: absolute;

  &.center {
    @include center(-100px);
  }
  @include box-shadow();
  a {
    display: block;
    width: 100%;
    height: 100%;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $blue;
      opacity: 0;
      @include transition(0.5s);
    }
    &:hover:after {
      opacity: 0.3;
    }
  }
}

.agency_logos {
  background-image: url("../ui_img/agnecy_logos.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tile_post {
  width: 250px;
  background-color: $dark_grey;
  margin: 30px;
  h3 {
    padding: 10px;
    background-color: $grey_blue;
  }
  p {
    padding: 15px;
  }
  a {
    text-align: right;
    padding: 10px 15px;
    display: block;
  }
}

footer {
  position: relative;
  background-color: $very_light_grey;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  ul {
    /*@include inline-block-list(10px);
    position: absolute;
    left: 150px;
    top: 65px;
    */
    position: relative;
    width: 75%;

    li {
      display: inline-block;
      line-height: 1.5em
    }
  }
  a {
    color: $dark_grey;
    text-decoration: none;
    margin-left: 40px;
  }
  &.white {
    background-color: white;
  }
}

body.student {
  header {
    margin-bottom: 150px;
  }
  main > section {
    padding: 60px 20px;

    &.presentation {
      @include display-flex();
      @include justify-content(space-between);
      @include flex-wrap(nowrap);
      @include flex-direction(column);

      div {
        //width: 250px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
      }
      h4 {
        padding: 10px 0;
      }
    }

    &.parcours {
      background-color: $very_light_grey;
      @include box-shadow(0px -5px 20px 5px rgba(0, 0, 0, 0.2));
      padding: 60px 40px;

      ul > li {
        @include display-flex();
        @include justify-content(flex-start);
        @include flex-wrap(nowrap);
        @include align-items(center);
        margin: 60px 0;

        div {
          padding: 0 10px;
          box-sizing: border-box;

          &:first-of-type {
            width: 20%;
            text-align: right;
          }
          &:last-of-type {
            width: 80%;
          }
        }
        .picture {
          display: none;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: 0 20px;
        }

        &.add {
          display: none;
          a {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 20px;
            text-align: center;
            background-color: #fff;
            font-size: 5em;
            line-height: 100px;
          }
        }
      }
    }
  }
  span {
    font-family: Raleway-SemiBold, sans-serif;
  }
}

.profil_header {
  position: absolute;
  bottom: -130px;
  left: 30px;

  &.company {
    bottom: -230px;
  }

  &.white::before {
    color: #fff;
  }

  &:before {
    content: "&";
    color: $dark_grey;
    font-size: 10rem;
    position: absolute;
    font-family: Raleway-Bold, sans-serif;
    line-height: 8rem;
  }
  img.profil {
    width: 8rem;
    height: 8rem;
    margin-left: 8rem;
  }
  h1 {
    margin: 180px 0 0 10px;
    span {
      color: $grey_blue;
    }
  }
  h2 {
    font-family: Raleway-Medium, sans-serif;
    font-size: 24px;
    color: $grey_blue;
    line-height: 29px;
    margin-left: 10px;
  }
  p {
    color: $blue;
    margin-left: 10px;
  }
  a {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 15px;
  }
}

main {
  position: relative;

  &.article {
    section > p, section > h1, section > h2 {
      width: 65%;
      margin: 30px auto;
      display: block;
    }

    section > img {
      max-width: 500px;
      margin: 60px auto;
      display: block;
    }

    section > p:first-of-type, section > p:last-of-type, section > img, section:last-of-type > h2 {
      margin-bottom: 60px;
    }
  }
}

.blue_square {
  border: 25px solid $very_light_blue;
  border-right: none;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 150px;
  right: 0;
  box-sizing: border-box;
  z-index: -1;

  &.profession {
    border-right: 25px solid $very_light_blue;
    border-left: none;
    left: 0;
    top: 120px;
  }
}

/* home pro */

.home_pro {

  header {
    height: 600px;
  }

  section.illustration{
    div {
      width: 250px;
    }
  }

  section.light {
    background-color: white;
  }

  section:first-of-type {
    background-color: #3e3d44;
  }

  section:first-of-type section {
    align-items: center;
  }

  div.droite {
    margin-left: 80px;
  }

  div.gauche {
    margin-right: 80px;
  }

}

/* page internshsip */

body.internship {
  header {
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    > div.content {
      width: 66%;
      margin: auto;

    }

    > div > p {
      display: none;
    }

    > div > div {
      display: none;
    }

    &.before {

      background: url('../ui_img/gerer_01.jpg');
      background-size: cover;
      background-position: center;

      > div > p:nth-of-type(1) {
        display: block;
      }

      > div > div {
        display: block;
      }

    }
    &.during {

      background: url('../ui_img/gerer_02.jpg');
      background-size: cover;
      background-position: center;

      > div > p:nth-of-type(2) {
        display: block;
      }
    }

    &.after {

      background: url('../ui_img/gerer_03.jpg');
      background-size: cover;
      background-position: center;

      > div > p:nth-of-type(3) {
        display: block;
      }

    }

    > div > div {
      margin-top: 30px;

      div {
        width: 274px;
        margin: auto;
      }

      button {
        margin-top: 20px;
      }
      button:nth-of-type(2) {
        margin-left: 20px;
      }
    }
  }

  .etapes {
    background-color: $very_light_grey;
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 1.3em;
    padding: 0;
    overflow: auto;

    > div {
      width: 66%;
      margin: auto;
    }

    > div > div {
      margin: 30px 0;
    }

    div > div > div {
      display: inline-block;
    }

    div > div > div:nth-of-type(1) {
      background-color: $light_blue;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
    }

    div > div > div:nth-of-type(2) {
      margin-left: 20px;
    }

    .current div:first-of-type {
      background-color: $dark-blue;
    }

  }

  .formulaire {
    @include box-shadow(0px -5px 5px 0px rgba(0, 0, 0, 0.2));

    form {
      width: 66%;
      margin: auto;
    }

    h1 {
      margin-bottom: 60px;
    }

    h2, form > p, form > input {
      margin-bottom: 30px;
    }

    input {
      width: 100%;
    }

    input[type="radio"] {
      width: 40px;
    }

    input[type="radio"], label {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 15px;
    }
  }

  .formulaire {
    display: none;
  }

  .formulaire.current {
    display: block;
  }

  .formulaire.during {

    overflow: auto;
    padding: 0;

    section:nth-of-type(1) {
      background-color: $dark_grey;
      position: relative;
      height: 150px;
      overflow-x: hidden;

      > div:nth-of-type(1) {
        overflow-x: auto;

        div {
          width: 1150px;
          height: 70px;
        }

        div:first-of-type {
          margin-left: 100px;
        }
      }

      div:nth-of-type(2) {
        position: absolute;
        bottom: 30px;
        right: 30px;
        color: white;
        font-size: 1.3em;

        > span {
          display: block;

          > span {
            color: $grey-blue;
          }
        }

        > span:first-of-type {
          margin-bottom: 10px;
        }
      }

      a {
        display: inline-block;
        background-color: $grey;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 15px;
        text-align: center;
        line-height: 60px;
        font-size: 1.3em;
      }

      a.past {
        background-color: $very_light_grey;
      }

      a.current {
        background-color: $blue;
      }

    }

    section:nth-of-type(2) {
      background-color: $very_light_grey;
    }
    form {
      > span {
        display: block;
      }
    }

  }

  .after {
    form > textarea {
      margin-bottom: 30px;
    }

    .rating {
      margin-left: 0;
    }
  }

  h1.waiting {
    width: 70%;
    margin: 0 15%;
  }

}

body.account {
  header {
    height: 200px;
    line-height: 200px;
  }
}

body.company {
  header {
    background-image: linear-gradient(transparent, $dark_grey), url(../ui_img/home_01.jpg);
    border-bottom: 300px solid $dark_grey;

    .profil_header {
      h1 {
        color: $blue;
      }

      p, button {
        display: none;
        margin: 20px 0 20px 10px;
      }

      p {
        color: white;
        width: 50%;
        line-height: 1.5em;
        font-family: Raleway-SemiBold, sans-serif;
      }
    }
  }

  padding: 0;
  position: relative;
  height: auto;

  main {
    section {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      #map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  main > div:first-of-type {
    background-color: transparentize($dark_grey, .15);
    padding: 0 20%;
    position: relative;
    @include display-flex();
    @include flex-wrap(wrap);
    z-index: 0;

    article {
      padding: 20px;
      box-sizing: border-box;

      .image_profil {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        @include box-shadow();
        margin-right: 20px;

      }
    }
    .config {
      padding-bottom: 120px;
    }
  }
  section {
    z-index: -1;
  }
  #maptoggle {
    display: block;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 25px);
    width: 60px;
    height: 60px;
    cursor: pointer;
    circle {
      fill: transparentize(#262626, .5);
      stroke: white;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke-dasharray: 300;
      stroke-dashoffset: 0;
      @include transition(all 1s ease);
    }
    path {
      stroke: white;
      stroke-width: 2;
      stroke-miterlimit: 10;
      fill: white;
      @include transition(all .4s ease);

    }
    line {
      fill: none;
      stroke: white;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      opacity: 0;
    }
    &:hover {
      circle {
        stroke-dashoffset: 300;
        @include transition(all 1s ease);
      }
      path {
        fill: transparentize(white, 1);
        @include transition(all .4s ease);
      }
    }
    &.active {
      circle {
        stroke-dashoffset: 0;
        @include transition(all 1s ease);
      }
      path {
        opacity: 0;
        @include transition(all .4s ease);
      }
      line {
        opacity: 1;
        @include transition(all .4s ease);
      }
      &:hover {
        line {
          opacity: 1;
          @include transition(all .4s ease);
        }
      }
      &:hover {
        circle {
          stroke-dashoffset: 300;
          @include transition(all 1s ease);
        }
      }
    }
  }
}

body.blog {
  header {
    height: 420px;
    background-image: url(../ui_img/blog_01.jpg);
    background-size: cover;
    background-position: center;

    div {
      width: 100%;
      height: 100%;
      color: white;
      margin: auto;
      @include display-flex();
      @include justify-content(center);
      @include flex-direction(column);

      h1 {
        margin: 20px 20%;
        text-align: left;
        font-family: Raleway-ExtraBold, sans-serif;
        font-size: 48px;
        color: white;
        line-height: 56px;
      }

      p {
        line-height: 1.5em;
        margin: 20px 20%;
        text-align: left;
      }
    }
  }
}

body.welcome {
  header {
    margin: 40px 20px 20px;
    width: calc(100% - 40px);
    height: auto;

    p {
      font-size: 1.5em;
      line-height: 1.2em;
      font-family: Raleway-SemiBold, sans-serif;
      margin: 60px 0;
    }
  }

  h2 {
    font-family: Raleway-SemiBold;
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 20px 0;
    flex: 1 100%;
  }

  main {
    margin: 0 20px;

    form {
      @include display-flex();
      @include flex-wrap(wrap);
    }

    section {
      margin: 20px 0;
      padding: 0;
      flex: 1 100%;

      h3 {
        line-height: 1.2em;
        margin: 20px 0;
        font-family: Raleway, sans-serif;
      }

      > button {
        margin-right: 20px;
      }

      img.avion {
        width: 160px;
        display: block;
        margin: 60px auto;
      }

      a.right {
        float: right;
      }
    }

    p {
      margin: 40px 0 20px;
    }

    .welcome_sender {
      flex: 1 100%;
    }
  }

  &.wcCompany {
    background-color: $dark_grey;
    color: $light_blue;

    h1 {
      color: white;
    }
  }
  &.welcome_student {
    header {
      a.logo, nav {
        display: none !important;
      }
    }
  }
}

body.profession {
  header {
    margin: 20px;
    width: calc(100% - 40px);
    height: auto;

    div {
      padding-top: 150px;
      width: 40%;
    }

    p {
      font-size: 1.5em;
      line-height: 1.2em;
      font-family: Raleway-SemiBold, sans-serif;
      margin: 60px 0;
      color: $grey_blue;
    }
  }

  main {
    margin: 0 20px;

    section {
      padding: 0;

      p, h2, ul {
        margin: 15px 0;
        line-height: 1.5em;
      }

      span, a {
        font-family: Raleway-SemiBold, sans-serif;
      }

      h3 {
        font-family: Raleway-SemiBold, sans-serif;
        font-size: 24px;
        margin-top: 40px;
      }

      h2 {
        font-family: Raleway-SemiBold, sans-serif;
        font-size: 32px;
        margin-top: 40px;
      }

      &.fiches {
        @include display-flex();
        @include flex-wrap(wrap);
        @include flex-direction(column);

        h2 {
          flex: 1 100%;
        }

        article {
          flex: 1 100%;
          background-color: $very_light_grey;
          padding: 20px;
          margin: 120px 15px 15px;
          box-sizing: border-box;
          position: relative;

          h3 {
            font-family: Raleway-SemiBold, sans-serif;
            font-size: 24px;
            line-height: 24px;
            padding-top: 120px;
            margin-bottom: 10px;
          }

          h6 {
            color: $blue;
          }
        }
      }
    }
  }
}

body.project {
  header {
    position: relative;

    nav{
      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
    }

    a, h1 {
      z-index: 2;
    }

    h1 {
      position: absolute;
      color: white;
      width: 60%;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
    }

    div.mask {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-color: transparentize($dark_grey, .4);
      z-index: 1;
    }
  }
  main {
    padding: 0 30px;

    .tile_wrapper {
      padding: 0;
    }

    section.fotorama {
      div {
        margin: 0 auto !important;
      }
    }

    section.link {
      a {
        color: $blue;
      }
    }
  }
}

body.lost {
  header {
    height: calc(100vh - 120px);
    background-image: url(../ui_img/404.jpg);
    h1 {
      margin: 0 20% 30px 20%;
      padding-top: 20%;
      line-height: 1em;
    }
    p {
      width: 60%;
      font-family: Raleway-Medium, sans-serif;
      line-height: 1.2em;
      margin: 0 20% 0 20%;
      color: white;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;

    #gif-href {
      display: none !important;
    }
  }

}

body.edit {
  header {
    h1 {
      position: absolute;
      top: 200px;
      margin: 0 10%;
      height: 300px;
    }
    &:after {
      content: "";
      width: 80%;
      height: 180%;
      border: 30px solid transparentize($grey_blue, .8);
      position: absolute;
      top: 30%;
      left: -30%;
      z-index: -1;
    }
  }
  main {
    margin: 0 10%;
    h2 {
      font-family: Raleway-Medium, sans-serif;
      font-size: 1.5em;
      color: $dark_grey;
      margin-bottom: 20px;
    }
  }
}

body.stage {
  header {
    height: 300px;
    div {
      position: absolute;
      top: 100px;
      padding: 0 60px;
      p {
        line-height: 1.2em;
      }
    }
  }
  main {
    padding: 0 60px;
    margin: 0 auto;
    &:not(.etablis) {
      max-width: 800px;
    }
    table {
      td:nth-last-of-type(1), td:nth-last-of-type(2) {
        text-align: center;
        i {
          font-size: 2em;
        }
      }
      @include border-radius(20px);
      tr, td {
        padding: 20px;
        border: 1px solid $grey_blue;
      }
      tr.main {
        p {
          font-weight: bold;
        }
      }
      a {
        color: $dark_grey;
        @include transition(all .2s ease-in);
        &:hover {
          color: $blue;
        }
        strong {
          font-weight: bold;
        }
        span {
          display: block;
          width: 60px;
          height: 60px;
          background-size: cover;
          background-position: center;
          text-indent: -9999px;
          position: relative;
          @include border-radius(60px);
          overflow: hidden;
          &:after {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background-color: $blue;
            top: 0;
            left: 0;
            opacity: 0;
            @include border-radius(60px);
            @include transition(all .4s ease);
          }
          &:hover {
            &:after {
              opacity: .4;
            }
          }
        }
      }
    }
    section {
      #map {
        height: 80vh;
        margin: 60px 0;
        padding: 0;
      }
      .custom-select-wrapper {
        z-index: 1;
      }
    }
  }
}

body.internship_profil {
  header {
    position: relative;
    nav {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 4;
    }
    #hamburger {
      z-index: 10;
    }
    > div.intro {
      width: calc(50% + 1px);
      height: 100%;
      display: inline-block;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      overflow: hidden;
      h1 {
        position: absolute;
        top: 60%;
        z-index: 1;
        @include scale(.5);
      }
      p {
        position: absolute;
        top: 80%; //Mobile
        z-index: 1;
        vertical-align: baseline;
        @include scale(.7); //mobile
      }
      div {
        top: 28%;
        width: 130px;
        height: 130px;
        z-index: 1;
      }
      span {
        display: block;
        font-size: 140px;
        font-family: raleway-bold, sans-serif;
        position: absolute;
        width: 120px;
        top: 27%;
        z-index: 1;
      }
      &.left {
        span {
          right: -80px;
        }
        h1, p, div {
          right: 30px;
          @include transform-origin(right);
          text-align: right;
        }
        &:after {
          display: block;
          content: "";
          width: 100%;
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          background-color: white;
          opacity: .6;
        }
      }
      &.right {
        span {
          left: -40px;
          color: white;
        }
        h1, p, div {
          left: 30px;
          color: white;
          @include transform-origin(left);
          text-align: left;
        }
        &:after {
          display: block;
          content: "";
          width: 100%;
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          background-color: $dark_grey;
          opacity: .6;
        }
      }
    }
  }
  div.left:after {
    //background-color: $very_light_grey;
    opacity: .6;
  }
  div.right:after {
    //background-color: $dark_grey;
    opacity: .6;
  }
  main {
    h1 {
      margin: 60px 0 0 0;
    }
    h2 {
      margin-bottom: 15px;
    }
    margin: 0 10%;
    section:first-of-type {
      @include display-flex();
      @include flex-wrap(wrap);
      @include justify-content(flex-start);
      article {
        display: block;
        width: 180px;
        padding: 25px;
      }
    }
    section:nth-of-type(2) {
      padding-top: 0;
      h1 {
        margin: 0;
      }
      ul {
        padding: 30px 0 0 60px;
        list-style-type: disc;
        li {
          padding: 5px 0;
        }
      }
    }
    section:nth-of-type(3) {
      padding-top: 0;
      position: relative;
      h1 {
        margin-top: 0;
      }
      ul.selector {
        position: absolute;
        width: 20%;
        top: 120px; //mobile
        margin-top: 60px;
        left: -10px; //mobile
        @include display-flex();
        @include flex-wrap(wrap);
        @include justify-content(flex-start);
        li {
          display: compact;
          width: 50px;
          height: 50px;
          margin-bottom: 10px;
          margin-right: 10px;
          @include border-radius(60px);
          background-color: $dark_grey;
          color: white;
          overflow: hidden;
          font-size: 2em;
          cursor: pointer;
          @include transition(all .5s ease);
          &:hover {
            background-color: $grey_blue;
          }
          &.active {
            background-color: $grey_blue;
          }
        }
      }
      ul.content {
        display: block;
        height: 690px;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        width: 80%;
        margin: 60px 0 0 15%; //mobile
        border: 16px solid lighten($grey_blue, 25%);
        li {
          padding: 30px;
          display: block;
          @include rotateY(90deg);
          @include transform-origin(right);
          position: absolute;
          top: 0;
          right: 0;
          background-color: white;
          @include transition(all .6s ease);
          &.active {
            @include rotateY(0deg);
          }
        }
      }
    }
  }
}

body.home {
  section.illustration {
    div.droite, div.gauche {
      width: 20%;
      margin: 0 60px;
    }
  }
  section.link_to_pro {
    padding-top: 0;
    padding-bottom: 120px;
  }
}

//       /$$      /$$ /$$$$$$$$ /$$$$$$$  /$$$$$$  /$$$$$$   /$$$$$$         /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$  /$$$$$$ /$$$$$$$$  /$$$$$$
//      | $$$    /$$$| $$_____/| $$__  $$|_  $$_/ /$$__  $$ /$$__  $$       /$$__  $$| $$  | $$| $$_____/| $$__  $$|_  $$_/| $$_____/ /$$__  $$
//      | $$$$  /$$$$| $$      | $$  \ $$  | $$  | $$  \ $$| $$  \__/      | $$  \ $$| $$  | $$| $$      | $$  \ $$  | $$  | $$      | $$  \__/
//      | $$ $$/$$ $$| $$$$$   | $$  | $$  | $$  | $$$$$$$$|  $$$$$$       | $$  | $$| $$  | $$| $$$$$   | $$$$$$$/  | $$  | $$$$$   |  $$$$$$
//      | $$  $$$| $$| $$__/   | $$  | $$  | $$  | $$__  $$ \____  $$      | $$  | $$| $$  | $$| $$__/   | $$__  $$  | $$  | $$__/    \____  $$
//      | $$\  $ | $$| $$      | $$  | $$  | $$  | $$  | $$ /$$  \ $$      | $$/$$ $$| $$  | $$| $$      | $$  \ $$  | $$  | $$       /$$  \ $$
//      | $$ \/  | $$| $$$$$$$$| $$$$$$$/ /$$$$$$| $$  | $$|  $$$$$$/      |  $$$$$$/|  $$$$$$/| $$$$$$$$| $$  | $$ /$$$$$$| $$$$$$$$|  $$$$$$/
//      |__/     |__/|________/|_______/ |______/|__/  |__/ \______/        \____ $$$ \______/ |________/|__/  |__/|______/|________/ \______/

@media screen and (min-width: 768px) {

  body.home_pro {
    header {
      background-position: center;
    }
  }

  body.internship {
    header > div > div div {
      width: auto;
    }

    .etapes > div > div {
      margin-left: 30px;
      margin-right: 30px;
    }

    .etapes > div {
      width: auto;
      text-align: center;
      div {
        display: inline-block;
      }
    }

    .formulaire form {
      width: 33%;
    }

    .formulaire.during {
      display: flex;

      textarea {
        height: 400px;
        width: 355px;
      }

    }

    .formulaire.during section {
      height: auto;
      width: 25%;
    }

    .formulaire.during section:nth-of-type(2) {
      width: 75%;
    }

    .formulaire.during section:nth-of-type(1) > div:nth-of-type(1) {
      overflow-x: initial;
    }

    .formulaire.during section:nth-of-type(1) > div:nth-of-type(1) div {
      width: auto;
    }

    .formulaire.during section:nth-of-type(1) > div:nth-of-type(1) div:first-of-type {
      width: 200px;
      margin: auto;
      line-height: 90px;
    }

    .formulaire.during section:nth-of-type(1) {
      height: auto;
    }
  }

  body.student {
    .profil_header {
      left: 20%;
    }

    main > section {
      padding-left: 20%;
      padding-right: 20%;

      &.parcours {
        padding-left: 20%;
        padding-right: 20%;
      }

      &.presentation {
        @include flex-direction(row);
      }

      &.parcours ul > li {
        div:last-of-type {
          width: calc(80% - 140px);
        }
        .picture {
          display: block;
        }

        &.add {
          @include display-flex();
        }
      }
    }

    section.edit {
      .custom-options {
        z-index: 1;
      }
      p {
        margin-top: 25px;
      }
      h4 {
        padding: 0;
        margin-bottom: 30px;
        font-family: raleway-light, sans-serif;
      }
      h2, p, input, select {
        margin-bottom: 10px;
      }
      a {
        font-size: 0.8em;
        color: $grey_blue;
      }
    }
    main i {
      cursor: pointer;
    }
    input, textarea, .dateSelector {
      width: 300px;
    }
  }

  body.company {

    header {
      height: 400px;
    }

    header > .profil_header {
      left: calc(20% + 10px);

      p, button {
        display: block;
      }
    }

    main {
      position: relative;
      section {
        padding-bottom: 60px;
      }

      @include justify-content(flex-end);

      article {
        width: 50%;

        &.description {
          order: 1;
        }
        &.infos {
          order: 2;
        }
        &.adresse {
          order: 5;
        }
        &.contact {
          order: 4;
        }
        &.membres {
          order: 3;
        }
        &.config {
          order: 6;
          width: 100%;
          padding-left: calc(50% + 20px);
        }
      }
    }
  }

  body.welcome {
    header {
      left: 20%;
      width: 60%;
      margin-left: 0;
      margin-right: 0;

      nav, a.logo {
        display: none;
      }

    }

    main {
      margin-left: 20%;
      margin-right: 20%;

      section.inline {
        flex: 0 calc(50% - 10px);

        &:nth-child(2n) {
          margin-left: 20px;
        }
      }
    }
  }

  body.profession {
    header > div {
      width: 60%;
      margin-left: calc(20% - 10px);
      margin-right: 20%;
    }

    main {
      margin-left: 20%;
      margin-right: 20%;

      section.fiches {
        @include flex-direction(row);

        * {
          flex: 1 100%;
        }

        article {
          flex: 1 calc(50% - 30px);
        }

        p {
          margin-top: 0;
          margin-bottom: 25px;
        }
      }
    }
  }

  body.project {
    main {
      section:first-of-type, h2:not(:first-child), section:last-of-type {
        width: 50%;
        margin-left: 300px;
      }
    }
  }

  footer li {
    display: inline-block;
  }

  body.edit {
    header {
      h1 {
        margin-left: 20%;
      }
      &:after {
        width: 30%;
        height: 180%;
        left: 5%;
      }
    }
    main {
      width: 40%;
      margin-left: 20%;
    }
  }

  body.stage {
    header p {
      width: 50%;
    }
  }
  body.internship_profil {
    header nav {
      position: absolute;
    }
    header div.intro h1 {
      @include scale(1);
    }
    header div.intro p {
      @include scale(1);
      top: 75%;
    }
    main {
      ul.content {
        margin: 60px 0 0 20% !important;
      }
      ul.selector {
        top: 60px !important; //mobile
        left: 10px !important;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  body.profession {
    main > section.fiches {
      article {
        flex: 1 calc(33.33% - 30px);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body.home {
    article.log {
      margin: 30px 60px;
    }
    section.illustration {
      .gauche {
        width: 80% !important;
        margin: 0 60px 60px 60px !important;
      }
      .droite {
        width: 80% !important;
        margin: 60px 60px 0 60px !important;
      }
    }
    section.link_to_pro {
      padding-top: 0;
      div:nth-of-type(2) {
        width: 80%;
      }
      .agency_logos {
        display: none;
      }
    }
    section:last-of-type {
      h1 {
        margin-left: 10%;
      }
    }
  }

  body.home_pro {
    div.pro, div.home > p {
      left: 0;
    }
    section.illustration {
      .gauche {
        width: 80% !important;
        margin: 0 60px 60px 60px !important;
      }
      .droite {
        width: 80% !important;
        margin: 60px 60px 0 60px !important;
      }
    }
  }

  body.search {
    nav.search {
      overflow-x: scroll;
    }
  }

}