@include keyframes(hover) {
  0% {
    @include translate(0, 0)
  }
  50% {
    @include translate(0, -5px)
  }
  75% {
    @include translate(0, 3px)
  }
  100% {
    @include translate(0, 0)
  }
}

div.hamburger {
  display: none;
}

header nav {
  ul {
    float: right;
    margin-right: 30px;
    li {
      display: inline-block;
      margin: 28px 8px 0 10px;

      a {
        font-size: 1em;
        font-weight: bold;
        color: white;
      }
      &:hover a {
        @include animation(hover .5s cubic-bezier(.32, .31, .75, 1.45));
      }
    }
  }
  &.black {
    ul li a {
      color: $dark_grey;
    }
    ul li:first-of-type a {
      color: $blue;
    }
    ul li:last-of-type a {
      color: $grey_blue;
    }
  }
}

@media screen and (max-width: 640px) {

  div.hamburger {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
    z-index: 4;
    div {
      @include transition(all .5s ease);
      width: 30%;
      height: 30%;
      @include border-radius(20px);
      background-color: white;
      margin: 0 auto 5% auto;
      opacity: 1;
    }

    &.active {
      div {
        width: 100%;
        background-color: $dark_grey;

        &:nth-of-type(1) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          opacity: 0;
        }
        @include transition(all .5s ease);
      }
    }
    &.dark {
      div {
        background-color: $dark_grey;
      }
    }
  }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: white;
    z-index: 3;
    @include box-shadow();
    @include translate(100%, 0);
    @include transition(all .5s ease);
    @include transition(all .5s ease);
    ul {
      position: relative;
      margin-top: 100px;
      margin-left: 30px;
      float: none;
      li {
        display: block;
        text-align: left;
        a {
          font-size: 2em;
          font-weight: bolder;
          color: $dark_grey;
        }
      }
    }
    &.active {
      @include translate(0, 0);
      @include transition(all .5s ease);
    }
  }
}