//     /$$$$$$$$ /$$     /$$ /$$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$  /$$$$$$$  /$$   /$$ /$$$$$$ /$$$$$$$$  /$$$$$$
//    |__  $$__/|  $$   /$$/| $$__  $$ /$$__  $$ /$$__  $$| $$__  $$ /$$__  $$| $$__  $$| $$  | $$|_  $$_/| $$_____/ /$$__  $$
//       | $$    \  $$ /$$/ | $$  \ $$| $$  \ $$| $$  \__/| $$  \ $$| $$  \ $$| $$  \ $$| $$  | $$  | $$  | $$      | $$  \__/
//       | $$     \  $$$$/  | $$$$$$$/| $$  | $$| $$ /$$$$| $$$$$$$/| $$$$$$$$| $$$$$$$/| $$$$$$$$  | $$  | $$$$$   |  $$$$$$
//       | $$      \  $$/   | $$____/ | $$  | $$| $$|_  $$| $$__  $$| $$__  $$| $$____/ | $$__  $$  | $$  | $$__/    \____  $$
//       | $$       | $$    | $$      | $$  | $$| $$  \ $$| $$  \ $$| $$  | $$| $$      | $$  | $$  | $$  | $$       /$$  \ $$
//       | $$       | $$    | $$      |  $$$$$$/|  $$$$$$/| $$  | $$| $$  | $$| $$      | $$  | $$ /$$$$$$| $$$$$$$$|  $$$$$$/
//       |__/       |__/    |__/       \______/  \______/ |__/  |__/|__/  |__/|__/      |__/  |__/|______/|________/ \______/

@font-face {
  font-family: Raleway-Light;
  src: url(../font/Raleway-Light.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway-Bold;
  src: url(../font/Raleway-Bold.ttf);
}

@font-face {
  font-family: Raleway-ExtraLight;
  src: url(../font/Raleway-ExtraLight.ttf);
}

@font-face {
  font-family: Raleway-ExtraBold;
  src: url(../font/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url(../font/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: Raleway-Medium;
  src: url(../font/Raleway-Medium.ttf);
}

body {
  font-family: Raleway, sans-serif;
  color: $dark_grey;
}

body.home p, body.search p {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 20px;
}

h1 {
  font-family: Raleway-ExtraBold, sans-serif;
  font-size: 48px;
  color: $dark_grey;
  line-height: 56px;
  margin-bottom: 50px;
  &.right {
    text-align: right;
  }
}

.caroussel_text {
  h2 {
    font-family: Raleway-Light, sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 42px;
    &.dark {
      color: $dark_grey;
    }
  }

  > div.pro, > div.pro > p, > div > h3, div.home > p {
    color: white;
    font-family: Raleway-Light, sans-serif;
    font-size: 1.1em;
    line-height: 30px;
    &.dark {
      color: $dark_grey;
    }
  }

  > div > h3 {
    font-family: Raleway-Medium;
  }
  > div.pro > p {
    margin-top: 1em;
    color: $light_blue;
    font-size: 0.9em;
    width: 250px;
    line-height: 25px;
  }

  div.home p {
    font-size: 1.4em;
    font-weight: 500;
  }
}

.tile h3, body.search h3 {
  font-size: 24px;
  color: $dark_grey;
  line-height: 29px;
  font-weight: 500;
  &.white {
    color: white;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }
}

body.student {
  section {
    h2 {
      font-family: Raleway-Medium, sans-serif;
      font-size: 36px;
      color: $dark_grey;
      line-height: 42px;
    }

    h3 {
      font-size: 1.2em;
      font-family: Raleway-Bold, sans-serif;
      color: $blue;
      margin-bottom: 10px;
    }

    &.presentation {
      p {
        line-height: 1.5em;
      }
      a {
        font-family: Raleway-SemiBold, sans-serif;
      }
    }
    &.parcours{
      span.experience_category{
        font-family: Raleway-Medium, sans-serif;
        color: $dark_grey;
      }
    }
  }
}

body.company {
  main {
    line-height: 26px;
    color: white;

    h2 {
      font-family: Raleway-Medium, sans-serif;
      font-size: 1.5em;
      line-height: 1.5em;
      margin: 10px 0;
    }

    article {
      a {
        color: $blue;
      }

      span {
        font-family: Raleway-SemiBold, sans-serif;
      }
    }
  }
}

h4 {
  font-size: 1.2em;
  font-family: Raleway-Bold, sans-serif;
  padding-top: 30px;
}

body.home .tile, body.search {
  h6 {
    font-size: 14px;
    font-family: Raleway-Light, sans-serif;
    line-height: 16px;
    color: $blue;
  }
  p {
    font-family: Raleway-Medium, sans-serif;
    font-size: 14px;
    color: $dark_grey;
    line-height: 24px;
  }
}

nav.search ul li a {
  text-decoration: none;
  font-weight: 600;
  color: $grey;
  font-size: 1em;
  &.active {
    color: $dark_grey;
  }
  &:hover {
    color: $dark_grey;
  }
}

.super_title {
  font-family: Raleway-SemiBold, sans-serif;
  font-size: 5em;
  color: rgba(123, 200, 229, 0.80);
  line-height: 143px;
}

.blue {
  color: $blue;
}

section.content_wrapper > ul > li > a {
  color: $grey;
  font-weight: 500;
  font-size: 20px;
  &:hover, &.active {
    color: $dark_grey;
  }
}

main.article h2 {
  font-family: Raleway-SemiBold, sans-serif;
  font-size: 1.8em;
}

main.article > section > p {
  font-size: 1em;
  line-height: 1.5em;
  font-family: Raleway, sans-serif;
  &:first-of-type {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    color: $grey;
  }
}

main.article ul.container a {
  color: $blue;
}

body.home .tile_post {
  h3, p, a {
    color: white;
  }
  a:hover {
    color: $dark_blue;
  }
}

footer {
  a:hover {
    color: lighten($dark_grey, 20%);
  }
}

body.home {
  section.illustration {

    h2 {
      font-size: 1.4em;
      font-family: Raleway-Bold, sans-serif;
      color: $dark_grey;
      line-height: 1.3em;

      span {
        color: $blue;
      }
    }

    p {
      font-size: 1em;
      color: $dark_blue;
      font-family: Raleway, sans-serif;
      margin-top: 0.9em;
      line-height: 1.3em;
    }

  }
}

/* home pro */

.home_pro {
  section:first-of-type {

    h2 {
      font-size: 1.4em;
      font-family: Raleway-Bold, sans-serif;
      color: #FFF;
      line-height: 1.3em;

      span {
        color: $blue;
      }
    }

    p {
      font-size: 1em;
      color: $light_blue;
      font-family: Raleway, sans-serif;
      margin-top: 0.9em;
      line-height: 1.3em;
    }

  }
}

/* page internshsip */

body.internship {

  h1 {
    font-family: Raleway-Bold, sans-serif;
    font-size: 2.3em;

  }

  h2 {
    font-size: 1.5em;
  }

  header {
    color: white;
    h1 {
      color: white;
    }

    p {
      margin-top: 30px;
      line-height: 1.7em;
      a {
        color: $blue;
      }
    }

  }

  .disabled div:nth-of-type(2) {
    color: $grey_blue;
  }
}

body.project {
  main {
    h2 {
      font-size: 2em;
      color: $dark_grey;
      font-family: Raleway-Bold, sans-serif;
      padding: 0 0 30px 0;
    }
    p {
      line-height: 1.5em;
      a {
        color: $blue;
      }
    }
  }
}

p.emoji:after {
  content: '\1F447';
  color: orange;
}

body.internship_profil {
  main {
    article {
      h2 {
        font-family: Raleway-Bold, sans-serif;
        font-size: 1.3em;
      }
    }
  }
  ul.content > li > p {
    margin-bottom: 15px;
    line-height: 1.3em;
    strong {
      font-family: Raleway-Bold, sans-serif;
    }
  }
}

@media screen and (max-width: 768px) {

  body.home {
    .caroussel_text {
      .super_title {
        font-size: 2.2em;
      }
      p {
        margin: 0 0 0 -25% !important;
        width: 80% !important;
      }
    }
  }

  body.home_pro{
    .caroussel_text {
      .super_title {
        margin-left: -60px;
        font-size: 2.2em;
      }
      h3{
        width: 80%;
        margin: 0 0 0 20% !important;
      }
      p {
        margin: 30px 0 0 20% !important;
        width: 80% !important;
      }
    }
  }

}