$dark_grey: #3E3D44;
$light_blue: #D8DFE6;
$grey: #969CA8;
$very_light_grey: #F4F5F6;
$blue: #7BC9E5;
$dark_blue: #9FB8C7;
$grey_blue: #969CA8;
$red: #e53d57;
$green: #60e575;
$very_light_blue: #e9f4f8;

$default-border-radius: 5px;
$default-transition-property: all;
$default-transition-duration: 1s;
$default-transition-function: ease;
$default-transition-delay: false;
$default-box-shadow-blur: 7px;
$default-box-shadow-color: rgba(0, 0, 0, 0.4);

@mixin center($top: 0) {
  left: 50%;
  top: $top;
  @include translate(-50%, 0);
}

@mixin reset_link {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  li {
    padding-left: 0;
    margin-left: 0;
    list-style-image: none;
    list-style-type: none;
  }
}

@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}



