@keyframes shake {
  10%, 90% {
    transform: translate3d(-48%, -54%, 0);
  }

  20%, 80% {
    transform: translate3d(-45%, -48%, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-54%, -45%, 0);
  }

  40%, 60% {
    transform: translate3d(-52%, -56%, 0);
  }
}

div.welcome_sender {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}

#plane {
  cursor: pointer;
  width: 120px;
  height: 120px;
  background-image: url(../ui_img/avion.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-indent: -10000px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  transition: margin 1.5s cubic-bezier(.42, .09, .15, .98);
  box-shadow: none;
}

#plane:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(-50%, -50%, 0);
  backface-visibility: hidden;
}

#plane:focus {
  outline: none;
}

#plane.active {
  margin: 300px 0 0 600px;
}