{% extends "MMIBundle::template.html.twig" %}

{% block title %}Une nouvelle formation ?{% endblock %}

{% block includeHead %}
{% endblock %}

{% block bodyClass %}welcome{% endblock %}

{% block header %}
    <header>
        <div>
            <h1>Enregistrer un nouveau métier</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <main>
        <form method="post" action="">
            <section>
                <h3>Description</h3>
                <input type="text" class="big stretch" name="tittle" placeholder="Titre du métier">
                <textarea name="description" placeholder="Pitch"></textarea>
                <textarea name="description" placeholder="Description"></textarea>
            </section>
            <section>
                <h3>MMI vous y prépare</h3>
                <textarea name="description" placeholder="Compétences vues en MMI"></textarea>
            </section>
            <section>
                <h3>Comptétneces à posséder</h3>
                <textarea name="description" placeholder="Autres compétences requises"></textarea>
            </section>
            <section>
                <h3>Niveau d'étude conseillé</h3>
                <textarea name="description" placeholder=""></textarea>
            </section>
            <section>
                <h3>Après MMI</h3>
                <input type="text" class="big stretch" name="tittle" placeholder="Formations (Séparés par des virgules)">
                <h3>Contact</h3>
                <input type="text" class="big stretch" name="tittle"
                       placeholder="Emails de profesionnels (Séparés par des virgules)">
            </section>
            <section>
                <h3>Ils font ce métier :</h3>
                <input type="text" class="big stretch" name="tittle" placeholder="(Séparés par des virgules)">
                <p><a href="">Vous ne trouvez pas la/les personnes recherchées ?</a></p>
            </section>
            <section>
                <button type="submit" class="big">Valider</button>
            </section>
        </form>
    </main>
{% endblock %}

{% block includeBody %}
{% endblock %}
