{% extends "MMIBundle::template.html.twig" %}

{% block title %}Motion designer{% endblock %}

{% block includeHead %}
{% endblock %}

{% block bodyClass %}profession{% endblock %}

{% block header %}
    <header>
        <a href="{{ path("mmi_homepage") }}" class="logo">331 Acceuil</a>
        <div>
            <h1>Motion designer</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus ante in condimentum pharetra.</p>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="blue_square profession"></div>
    <main>
        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus ante in condimentum pharetra.
                Vivamus iaculis, mauris nec porttitor mollis, metus urna facilisis urna, nec consectetur purus elit
                imperdiet elit. Integer ac elit facilisis, lacinia lacus vel, pulvinar turpis. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Praesent commodo arcu et quam varius, in gravida ex sollicitudin. Mauris congue
                nulla ex, nec laoreet felis fringilla nec. Aliquam magna ex, vehicula eu vestibulum dignissim, vehicula nec
                enim. In vel nibh sodales, tincidunt justo a, consequat ligula. Vivamus a venenatis augue.</p>
            <h3>MMI vous y préprare</h3>
            <p>
                <span>Graphisme</span> : Illustrator, Photoshop<br/>
                <span>Motion</span> : After effect, Cinema 4d, 3ds max, Mocha
            </p>
            <h3>Compétences à posséder</h3>
            <p>
                <span>Graphisme</span> : Illustrator, Photoshop<br/>
                <span>Motion</span> : Cinema 4d, 3ds max, Mocha, Trapcode, Realflow
            </p>
            <h3>Niveau d’étude conseillé</h3>
            <p><span>Bac +3 / +5</span> principalement sur portfolio</p>
            <h3>Après MMI</h3>
            <ul>
                <li><a href="">Lorem ispum</a></li>
                <li><a href="">Lorem ispum</a></li>
                <li><a href="">Lorem ispum</a></li>
                <li><a href="">Lorem ispum</a></li>
                <li><a href="">Lorem ispum</a></li>
            </ul>
            <h3>Plus d’info</h3>
            <ul>
                <li><a href="">Lorem ispum</a></li>
                <li><a href="">Lorem ispum</a></li>
                <li><a href="">Lorem ispum</a></li>
            </ul>
        </section>
        <section class="fiches">
            <h2>Ils font ce métier</h2>
            <article class="">
                <h3><a href="">Léo Beaufils</a></h3>
                <div class="profilepicture center" style="background-image: url({{ asset('images/profil_picture/leo.jpg') }})"><a
                            href=""></a></div>
                <h6>UX Design</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
            <article class="">
                <h3><a href="">Fiona Adolphe</a></h3>
                <div class="profilepicture center" style="background-image: url({{ asset('images/profil_picture/fiona.jpg') }})"><a
                            href=""></a></div>
                <h6>Webdesign</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
            <article class="">
                <h3><a href="">Louis Collin</a></h3>
                <div class="profilepicture center" style="background-image: url({{ asset('images/profil_picture/louis.jpg') }})"><a
                            href=""></a></div>
                <h6>Webdesign</h6>
                <p>Lorem ipsum dolor sit amet, consectetur laborum molestias nesciunt quasi adipisicing elit. Ab esse
                    eveniet excepturi facilis fugiat illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
            <article class="">
                <h3><a href="">Romain Tiger</a></h3>
                <div class="profilepicture center" style="background-image: url({{ asset('images/profil_picture/romain.jpg') }})"><a
                            href=""></a></div>
                <h6>Developpeur Back-End</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
            <article class="">
                <h3><a href="">Léo Beaufils</a></h3>
                <div class="profilepicture center" style="background-image: url({{ asset('ui_img/rechercher_03.jpeg') }})"><a
                            href=""></a>
                </div>
                <h6>UX Design</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
            <article class="">
                <h3><a href="">Léo Beaufils</a></h3>
                <div class="profilepicture center" style="background-image: url({{ asset('ui_img/rechercher_02.jpeg') }})"><a
                            href=""></a>
                </div>
                <h6>UX Design</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse eveniet excepturi facilis fugiat illo
                    laborum molestias nesciunt quasi velit.</p>
            </article>
        </section>
    </main>
{% endblock %}

{% block includeBody %}
    <script type="text/javascript" src="{{ asset("assets/jquery-latest.min.js") }}"></script>
{% endblock %}
