<!DOCTYPE html>
<html class="light" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>331 | {% block title %}Accueil{% endblock %}</title>

    <link href="{{ asset('css/screen.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/print.css') }}" media="print" rel="stylesheet" type="text/css"/>
    <!--[if IE]>
    <link href="{{ asset('css/ie.css') }}" media="screen, projection" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <link rel="shortcut icon" href="{{ asset('ui_img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('ui_img/favicon.ico') }}" type="image/x-icon">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="{{ asset("assets/bootstrap-3.3.6-dist/css/bootstrap.modal.css") }}">

    <script src="{{ asset('assets/jquery-custom.min.js') }}"></script>
    <script src="{{ asset('assets/modernizr.js') }}"></script>
    <script src="{{ asset("assets/bootstrap-3.3.6-dist/js/bootstrap.min.js") }}"></script>

    {% block includeHead %}{% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
<div style="padding: 15px; text-align:center">
    Le site web est en bêta test. <a href="http://goo.gl/forms/Fv5gVjDZ95" target="_blank"
                                     style="text-decoration: underline">Ce formulaire</a> vous permettra de signaler un
    bug ou suggérer une amélioration. - la team dev 331
</div>
<header {% block header %}{% endblock %}>
    <a href="{{ path("mmi_homepage") }}" class="logo {% if menu_color != 'dark' %}white{% endif %} transition">331
        Accueil</a>

    <div id="hamburger" class="hamburger {{ menu_color }}">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <nav{% if menu_color == 'dark' %} class="black"{% endif %}>
        <ul>
            {% for item in menu_items %}
                <li><a class="transition thin {{ item.active }}" href="{{ item.path }}">{{ item.name | raw }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% block headerExtended %}{% endblock %}
</header>

{% block content %}{% endblock %}

<footer class="white">
    <a href="{{ path("mmi_homepage") }}" class="logo">331 Acceuil</a>
    <ul>
        <li><a href="">À propos</a></li>
        <li><a href="">Mentions légales</a></li>
        <li><a href="http://mmimontbeliard.com" target="_blank">Département MMI</a></li>
    </ul>
</footer>

<!-- modal des messages d'erreur -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% if result is defined %}
                <p>{{ result }}</p>
            {% else %}
                <p class="no_errors">all clear</p>
            {% endif %}
            <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
</div>

{% block includeBody %}{% endblock %}

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-73230977-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>